<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Crear-Usuarios-Administrador1 - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Crear-Usuarios-Administrador1 - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./crear-usuarios-administrador1.css" rel="stylesheet" /><div
        class="crear-usuarios-administrador1-container"
        ><div class="crear-usuarios-administrador1-crear-usuarios-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/b4a5c425-45c4-4d3d-a0f5-2490241c9643?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29098"
            class="crear-usuarios-administrador1-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/8e9ed931-7417-4e2d-bbb4-f0c3fcc63553?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9098"
            class="crear-usuarios-administrador1-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/5659380b-20c9-42bc-912e-548acd8e4bab?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39098"
            class="crear-usuarios-administrador1-image170640173paddedlogo3"
          /><span class="crear-usuarios-administrador1-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="crear-usuarios-administrador1-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="crear-usuarios-administrador1-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="crear-usuarios-administrador1-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9098-739.svg"
                alt="Vector9098"
                class="crear-usuarios-administrador1-vector" /><img
                src="public/external/vector29098-z9zc.svg"
                alt="Vector29098"
                class="crear-usuarios-administrador1-vector2" /><img
                src="public/external/vector39098-ui9b.svg"
                alt="Vector39098"
                class="crear-usuarios-administrador1-vector3" /></div></div
          ><div
            class="crear-usuarios-administrador1-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="crear-usuarios-administrador1-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9098-l27o.svg"
                alt="Vector9098"
                class="crear-usuarios-administrador1-vector01" /><img
                src="public/external/vector29098-1q4r.svg"
                alt="Vector29098"
                class="crear-usuarios-administrador1-vector201" /><img
                src="public/external/vector39098-c2m.svg"
                alt="Vector39098"
                class="crear-usuarios-administrador1-vector301" /></div></div
          ><span class="crear-usuarios-administrador1-text04">v</span
          ><div
            class="crear-usuarios-administrador1-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="crear-usuarios-administrador1-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9098-hivx.svg"
                alt="Vector9098"
                class="crear-usuarios-administrador1-vector02" /><img
                src="public/external/vector29098-9u58.svg"
                alt="Vector29098"
                class="crear-usuarios-administrador1-vector202" /><img
                src="public/external/vector39098-qd0r.svg"
                alt="Vector39098"
                class="crear-usuarios-administrador1-vector302" /></div></div
          ><div
            class="crear-usuarios-administrador1-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="crear-usuarios-administrador1-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9098-7jg7.svg"
                alt="Vector9098"
                class="crear-usuarios-administrador1-vector03" /><img
                src="public/external/vector29098-ru3f.svg"
                alt="Vector29098"
                class="crear-usuarios-administrador1-vector203" /><img
                src="public/external/vector39098-imob.svg"
                alt="Vector39098"
                class="crear-usuarios-administrador1-vector303" /></div></div
          ><span class="crear-usuarios-administrador1-text05"
            ><span>Cerrar Sesión</span></span
          ><span class="crear-usuarios-administrador1-text07"
            ><span>Documentos</span></span
          ><span class="crear-usuarios-administrador1-text09"
            ><span>Reportes</span></span
          ><span class="crear-usuarios-administrador1-text11"
            ><span>Actividades</span></span
          ><span class="crear-usuarios-administrador1-text13"
            ><span>Plantillas</span></span
          ><span class="crear-usuarios-administrador1-text15"
            ><span>Departamentos</span></span
          ><span class="crear-usuarios-administrador1-text17"
            ><span>Categorías</span></span
          ><span class="crear-usuarios-administrador1-text19"
            ><span>Usuarios</span></span
          ><span class="crear-usuarios-administrador1-text21"
            ><span>Usuarios</span></span
          ><div
            class="crear-usuarios-administrador1-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="crear-usuarios-administrador1-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9099-y1lt.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador1-vector04" /><img
                src="public/external/vector29099-pzc4.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador1-vector204" /><img
                src="public/external/vector39099-ppep.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador1-vector304" /></div></div
          ><div
            class="crear-usuarios-administrador1-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="crear-usuarios-administrador1-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9099-o38b.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador1-vector05" /><img
                src="public/external/vector29099-imhf.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador1-vector205" /><img
                src="public/external/vector39099-b84.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador1-vector305" /></div></div
          ><div class="crear-usuarios-administrador1-onefingerhold"
            ><div class="crear-usuarios-administrador1-onefingerhold1"
              ><img
                src="public/external/ellipse509099-i68a.svg"
                alt="Ellipse509099"
                class="crear-usuarios-administrador1-ellipse50" /><img
                src="public/external/vector2259099-rrcd.svg"
                alt="Vector2259099"
                class="crear-usuarios-administrador1-vector225" /><img
                src="public/external/vector1079099-ymud.svg"
                alt="Vector1079099"
                class="crear-usuarios-administrador1-vector107" /><img
                src="public/external/ellipse3029099-3ag8.svg"
                alt="Ellipse3029099"
                class="crear-usuarios-administrador1-ellipse302" /></div></div
          ><div class="crear-usuarios-administrador1-onefingerhold2"
            ><div class="crear-usuarios-administrador1-onefingerhold3"
              ><img
                src="public/external/ellipse509099-5mra.svg"
                alt="Ellipse509099"
                class="crear-usuarios-administrador1-ellipse501" /><img
                src="public/external/vector2259099-ol2g.svg"
                alt="Vector2259099"
                class="crear-usuarios-administrador1-vector2251" /><img
                src="public/external/vector1079099-6f4.svg"
                alt="Vector1079099"
                class="crear-usuarios-administrador1-vector1071" /><img
                src="public/external/ellipse3029099-019s.svg"
                alt="Ellipse3029099"
                class="crear-usuarios-administrador1-ellipse3021" /></div></div
          ><div
            class="crear-usuarios-administrador1-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="crear-usuarios-administrador1-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9099-mcze.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador1-vector06" /><img
                src="public/external/vector29099-yev8.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador1-vector206" /><img
                src="public/external/vector39099-6ifn.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador1-vector306" /></div></div
          ><div
            class="crear-usuarios-administrador1-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="crear-usuarios-administrador1-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9099-jg4f.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador1-vector07" /><img
                src="public/external/vector29099-vzf8.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador1-vector207" /><img
                src="public/external/vector39099-76if.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador1-vector307" /></div></div
          ><div
            class="crear-usuarios-administrador1-newfileemptycommonfilecontent"
            ><div
              class="crear-usuarios-administrador1-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9099-d65.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador1-vector08" /><img
                src="public/external/vector25299099-bbwj.svg"
                alt="Vector25299099"
                class="crear-usuarios-administrador1-vector2529" /></div></div
          ><div
            class="crear-usuarios-administrador1-newfileemptycommonfilecontent2"
            ><div
              class="crear-usuarios-administrador1-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9099-svre.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador1-vector09" /><img
                src="public/external/vector25299099-lvb7.svg"
                alt="Vector25299099"
                class="crear-usuarios-administrador1-vector25291" /></div></div
          ><div
            class="crear-usuarios-administrador1-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="crear-usuarios-administrador1-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9099-0ss.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador1-vector10" /><img
                src="public/external/vector29099-mg3a.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador1-vector208" /><img
                src="public/external/vector39099-ixpx.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador1-vector308" /><img
                src="public/external/vector49099-8xwi.svg"
                alt="Vector49099"
                class="crear-usuarios-administrador1-vector4" /></div></div
          ><div
            class="crear-usuarios-administrador1-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="crear-usuarios-administrador1-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9099-8hso.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador1-vector11" /><img
                src="public/external/vector29099-r5e7.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador1-vector209" /><img
                src="public/external/vector25219099-b40i.svg"
                alt="Vector25219099"
                class="crear-usuarios-administrador1-vector2521" /><img
                src="public/external/vector25229099-jpjb.svg"
                alt="Vector25229099"
                class="crear-usuarios-administrador1-vector2522" /><img
                src="public/external/vector25239099-9gll.svg"
                alt="Vector25239099"
                class="crear-usuarios-administrador1-vector2523" /><img
                src="public/external/vector25249099-526i.svg"
                alt="Vector25249099"
                class="crear-usuarios-administrador1-vector2524" /></div></div
          ><div
            class="crear-usuarios-administrador1-layers2designlayerlayerspilestackalign"
            ><div
              class="crear-usuarios-administrador1-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9099-y50b.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador1-vector12" /><img
                src="public/external/vector29099-o5ll.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador1-vector210" /><img
                src="public/external/vector39099-jme2.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador1-vector309" /></div></div
          ><span class="crear-usuarios-administrador1-text23"
            ><span>Crear Usuarios</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/dae9dbab-7444-4e27-8566-7ca8b198d5ae?org_if_sml=112191&amp;force_format=original"
            alt="Rectangle39099"
            class="crear-usuarios-administrador1-rectangle3"
          /><span class="crear-usuarios-administrador1-text25"
            ><span>Nombres...</span></span
          ><span class="crear-usuarios-administrador1-text27"
            ><span>* Nombres</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/ea6a3b19-a6bf-446f-84b2-c0141d6394ba?org_if_sml=112241&amp;force_format=original"
            alt="Rectangle219099"
            class="crear-usuarios-administrador1-rectangle21"
          /><span class="crear-usuarios-administrador1-text29"
            ><span>Apellidos...</span></span
          ><span class="crear-usuarios-administrador1-text31"
            ><span>* Apellidos</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/c16070e8-6104-4355-8498-a7a63621b6dc?org_if_sml=112241&amp;force_format=original"
            alt="Rectangle229091"
            class="crear-usuarios-administrador1-rectangle22"
          /><span class="crear-usuarios-administrador1-text33"
            ><span>Nombre del departamento</span></span
          ><span class="crear-usuarios-administrador1-text35"
            ><span>* Departamento</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/3f558c16-40d2-4dff-91e1-31f1e543c57a?org_if_sml=115066&amp;force_format=original"
            alt="Rectangle239091"
            class="crear-usuarios-administrador1-rectangle23"
          /><span class="crear-usuarios-administrador1-text37"
            ><span>Correo...</span></span
          ><span class="crear-usuarios-administrador1-text39"
            ><span>* Correo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/a76714f3-850e-4534-abb8-756112ae3bcb?org_if_sml=112257&amp;force_format=original"
            alt="Rectangle249091"
            class="crear-usuarios-administrador1-rectangle24"
          /><span class="crear-usuarios-administrador1-text41"
            ><span>Cédula...</span></span
          ><span class="crear-usuarios-administrador1-text43"
            ><span>* Cédula</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/982aa9ec-36af-424c-8937-052186256865?org_if_sml=112258&amp;force_format=original"
            alt="Rectangle259091"
            class="crear-usuarios-administrador1-rectangle25"
          /><span class="crear-usuarios-administrador1-text45"
            ><span>(000) 000-0000</span></span
          ><span class="crear-usuarios-administrador1-text47"
            ><span>* Télefono</span></span
          ><span class="crear-usuarios-administrador1-text49"
            ><span>* Firmar documento:</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/f660034b-06ee-48eb-a840-d63dbbfea1e0?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle329091"
            class="crear-usuarios-administrador1-rectangle32"
          /><span class="crear-usuarios-administrador1-text51"
            ><span>* Roles:</span></span
          ><span class="crear-usuarios-administrador1-text53"
            ><span>Visualizador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/c3400c01-f752-484f-87af-11f0d712cbe8?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle349632"
            class="crear-usuarios-administrador1-rectangle34"
          /><span class="crear-usuarios-administrador1-text55"
            ><span>Digitalizador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/df73af8e-3d12-418b-8a0c-aa516af5d60f?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle359632"
            class="crear-usuarios-administrador1-rectangle35"
          /><span class="crear-usuarios-administrador1-text57"
            ><span>Administrador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/eb2cd0fb-886a-438d-9eba-456a2e4fc414?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle369632"
            class="crear-usuarios-administrador1-rectangle36"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/56cbd5ea-3d5e-457a-89de-10a1e8e82dbb?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle199091"
            class="crear-usuarios-administrador1-rectangle19"
          /><span class="crear-usuarios-administrador1-text59"
            ><span>Crear</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/af98a0be-60ca-47d8-a055-b2b59f3174c8?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle209091"
            class="crear-usuarios-administrador1-rectangle20"
          /><span class="crear-usuarios-administrador1-text61"
            ><span>Cancelar</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
