<!DOCTYPE html>
<html lang="en"
  ><head
    ><title
      >Crear-Firma-subir-Digital-Administrador - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Crear-Firma-subir-Digital-Administrador - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./crear-firma-subir-digital-administrador.css"
        rel="stylesheet" /><div
        class="crear-firma-subir-digital-administrador-container"
        ><div
          class="crear-firma-subir-digital-administrador-crear-firmasubir-digital-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/8c9a33b4-98ae-4bb9-9bac-3a5e823f1d76?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29522"
            class="crear-firma-subir-digital-administrador-rectangle2" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/87c60feb-8362-443c-a3d4-39b87dc530a2?org_if_sml=1160458&amp;force_format=original"
            alt="Rectangle109522"
            class="crear-firma-subir-digital-administrador-rectangle10" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/04413742-cdd6-4b92-9cee-8dada2f395e4?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9522"
            class="crear-firma-subir-digital-administrador-dashboardbg" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/9584c8fb-827a-427b-816c-7b270b8c7d54?org_if_sml=123078&amp;force_format=original"
            alt="Rectangle69522"
            class="crear-firma-subir-digital-administrador-rectangle6" /><div
            class="crear-firma-subir-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="crear-firma-subir-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9522-8uml.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector" /><img
                src="public/external/vector29522-wa1n.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector2" /><img
                src="public/external/vector39522-lbso.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector3" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="crear-firma-subir-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9522-q8cl.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector01" /><img
                src="public/external/vector29522-bm2b.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector201" /><img
                src="public/external/vector39522-8yxq.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector301" /></div></div
          ><span class="crear-firma-subir-digital-administrador-text"
            ><span>Administrador</span></span
          ><span class="crear-firma-subir-digital-administrador-text02">|</span
          ><span class="crear-firma-subir-digital-administrador-text03"
            ><span>Secretaria General</span></span
          ><span class="crear-firma-subir-digital-administrador-text05"
            ><span>Luis Alfredo Perez Castillo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/b3367b6f-2324-4a12-a535-4057f1399728?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39522"
            class="crear-firma-subir-digital-administrador-image170640173paddedlogo3" /><span
            class="crear-firma-subir-digital-administrador-text07"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="crear-firma-subir-digital-administrador-text09"
            ><span>alfredo.sgd</span></span
          ><div
            class="crear-firma-subir-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus4"
            ><div
              class="crear-firma-subir-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus5"
              ><img
                src="public/external/vector9522-y2j.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector02" /><img
                src="public/external/vector29522-ogy.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector202" /><img
                src="public/external/vector39522-pzv5.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector302" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus6"
            ><div
              class="crear-firma-subir-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus7"
              ><img
                src="public/external/vector9522-ch2v.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector03" /><img
                src="public/external/vector29522-s70b.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector203" /><img
                src="public/external/vector39522-urv.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector303" /></div></div
          ><span class="crear-firma-subir-digital-administrador-text11">v</span
          ><div
            class="crear-firma-subir-digital-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="crear-firma-subir-digital-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9522-u26c.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector04" /><img
                src="public/external/vector29522-s058.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector204" /><img
                src="public/external/vector39522-scuk.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector304" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="crear-firma-subir-digital-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9522-jfcb.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector05" /><img
                src="public/external/vector29522-y1hq.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector205" /><img
                src="public/external/vector39522-0qls.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector305" /></div></div
          ><span class="crear-firma-subir-digital-administrador-text12"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/line129522-cevpj.svg"
            alt="Line129522"
            class="crear-firma-subir-digital-administrador-line12" /><span
            class="crear-firma-subir-digital-administrador-text14"
            ><span>Firma Actual</span></span
          ><span class="crear-firma-subir-digital-administrador-text16"
            ><span>Editar </span></span
          ><span class="crear-firma-subir-digital-administrador-text18"
            ><span>Documentos</span></span
          ><span class="crear-firma-subir-digital-administrador-text20"
            ><span>Reportes</span></span
          ><span class="crear-firma-subir-digital-administrador-text22"
            ><span>Actividades</span></span
          ><span class="crear-firma-subir-digital-administrador-text24"
            ><span>Plantillas</span></span
          ><span class="crear-firma-subir-digital-administrador-text26"
            ><span>Departamentos</span></span
          ><span class="crear-firma-subir-digital-administrador-text28"
            ><span>Categorías</span></span
          ><span class="crear-firma-subir-digital-administrador-text30"
            ><span>Usuarios</span></span
          ><div
            class="crear-firma-subir-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="crear-firma-subir-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9522-k85.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector06" /><img
                src="public/external/vector29522-1vm.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector206" /><img
                src="public/external/vector39522-ulkr.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector306" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="crear-firma-subir-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9522-knlc.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector07" /><img
                src="public/external/vector29522-6zl5.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector207" /><img
                src="public/external/vector39522-f6qs.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector307" /></div></div
          ><div class="crear-firma-subir-digital-administrador-onefingerhold"
            ><div class="crear-firma-subir-digital-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509522-euy5.svg"
                alt="Ellipse509522"
                class="crear-firma-subir-digital-administrador-ellipse50" /><img
                src="public/external/vector2259522-6wol.svg"
                alt="Vector2259522"
                class="crear-firma-subir-digital-administrador-vector225" /><img
                src="public/external/vector1079522-apsd.svg"
                alt="Vector1079522"
                class="crear-firma-subir-digital-administrador-vector107" /><img
                src="public/external/ellipse3029522-8nl.svg"
                alt="Ellipse3029522"
                class="crear-firma-subir-digital-administrador-ellipse302" /></div></div
          ><div class="crear-firma-subir-digital-administrador-onefingerhold2"
            ><div class="crear-firma-subir-digital-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509522-655.svg"
                alt="Ellipse509522"
                class="crear-firma-subir-digital-administrador-ellipse501" /><img
                src="public/external/vector2259522-dlr.svg"
                alt="Vector2259522"
                class="crear-firma-subir-digital-administrador-vector2251" /><img
                src="public/external/vector1079522-tm5r.svg"
                alt="Vector1079522"
                class="crear-firma-subir-digital-administrador-vector1071" /><img
                src="public/external/ellipse3029522-ld4o.svg"
                alt="Ellipse3029522"
                class="crear-firma-subir-digital-administrador-ellipse3021" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="crear-firma-subir-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9522-kf6l.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector08" /><img
                src="public/external/vector29522-k3a.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector208" /><img
                src="public/external/vector39522-am8q.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector308" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="crear-firma-subir-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9522-665.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector09" /><img
                src="public/external/vector29522-qnyo.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector209" /><img
                src="public/external/vector39522-vaw.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector309" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-newfileemptycommonfilecontent"
            ><div
              class="crear-firma-subir-digital-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9522-gp9.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector10" /><img
                src="public/external/vector25299522-jf9.svg"
                alt="Vector25299522"
                class="crear-firma-subir-digital-administrador-vector2529" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-newfileemptycommonfilecontent2"
            ><div
              class="crear-firma-subir-digital-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9522-j66v.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector11" /><img
                src="public/external/vector25299522-uis.svg"
                alt="Vector25299522"
                class="crear-firma-subir-digital-administrador-vector25291" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="crear-firma-subir-digital-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9522-uw7f.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector12" /><img
                src="public/external/vector29522-2tya.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector210" /><img
                src="public/external/vector39522-fiy3.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector310" /><img
                src="public/external/vector49522-seg.svg"
                alt="Vector49522"
                class="crear-firma-subir-digital-administrador-vector4" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="crear-firma-subir-digital-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9522-p3z.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector13" /><img
                src="public/external/vector29522-9lm.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector211" /><img
                src="public/external/vector25219522-wx1k.svg"
                alt="Vector25219522"
                class="crear-firma-subir-digital-administrador-vector2521" /><img
                src="public/external/vector25229522-o8ti.svg"
                alt="Vector25229522"
                class="crear-firma-subir-digital-administrador-vector2522" /><img
                src="public/external/vector25239522-ce8j.svg"
                alt="Vector25239522"
                class="crear-firma-subir-digital-administrador-vector2523" /><img
                src="public/external/vector25249522-gmon.svg"
                alt="Vector25249522"
                class="crear-firma-subir-digital-administrador-vector2524" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="crear-firma-subir-digital-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9522-fsje.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector14" /><img
                src="public/external/vector29522-tnzh.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector212" /><img
                src="public/external/vector39522-gvv5.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector311" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/4c613881-b143-4557-933d-27d208183229?org_if_sml=110544&amp;force_format=original"
            alt="Rectangle189522"
            class="crear-firma-subir-digital-administrador-rectangle18" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/24cfe633-3da4-432d-8bda-60f9d1069e1e?org_if_sml=12471&amp;force_format=original"
            alt="Rectangle339522"
            class="crear-firma-subir-digital-administrador-rectangle33" /><img
            src="public/external/line149522-ttyt.svg"
            alt="Line149522"
            class="crear-firma-subir-digital-administrador-line14" /><img
            src="public/external/line139522-9okf.svg"
            alt="Line139522"
            class="crear-firma-subir-digital-administrador-line13" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/48cb6ebc-b75d-42b6-b309-7a7b34be825b?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle349522"
            class="crear-firma-subir-digital-administrador-rectangle34" /><span
            class="crear-firma-subir-digital-administrador-text32"
            ><span>Aceptar</span></span
          ><span class="crear-firma-subir-digital-administrador-text34"
            ><span>Crear Firma</span></span
          ><span class="crear-firma-subir-digital-administrador-text36"
            ><span>Dibujar</span></span
          ><img
            src="public/external/line59522-a56.svg"
            alt="Line59522"
            class="crear-firma-subir-digital-administrador-line5" /><div
            class="crear-firma-subir-digital-administrador-close-close-big"
            ><img
              src="public/external/svgstrokedi952-a2mw.svg"
              alt="SVGSTROKEDI952"
              class="crear-firma-subir-digital-administrador-svgstroked" /></div
          ><span class="crear-firma-subir-digital-administrador-text38"
            ><span>Escribir</span></span
          ><span class="crear-firma-subir-digital-administrador-text40"
            ><span>Subir</span></span
          ><span class="crear-firma-subir-digital-administrador-text42"
            ><span>Subir</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/4f742b83-d86d-4c76-9dd3-c95e526197a3?org_if_sml=115757&amp;force_format=original"
            alt="Rectangle359522"
            class="crear-firma-subir-digital-administrador-rectangle35" /><span
            class="crear-firma-subir-digital-administrador-text44"
            ><span>Selecciona imagen</span></span
          ><div
            class="crear-firma-subir-digital-administrador-uploadcirclearrowcircledownloadinternetnetworkserv"
            ><div
              class="crear-firma-subir-digital-administrador-uploadcirclearrowcircledownloadinternetnetworkserv1"
              ><img
                src="public/external/vector9522-aj64.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector15" /><img
                src="public/external/vector29522-rjiv.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector213" /><img
                src="public/external/vector39522-u02.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector312" /></div></div
          ><div
            class="crear-firma-subir-digital-administrador-uploadcirclearrowcircledownloadinternetnetworkserv2"
            ><div
              class="crear-firma-subir-digital-administrador-uploadcirclearrowcircledownloadinternetnetworkserv3"
              ><img
                src="public/external/vector9522-4qqb.svg"
                alt="Vector9522"
                class="crear-firma-subir-digital-administrador-vector16" /><img
                src="public/external/vector29522-u9x.svg"
                alt="Vector29522"
                class="crear-firma-subir-digital-administrador-vector214" /><img
                src="public/external/vector39522-3ojp.svg"
                alt="Vector39522"
                class="crear-firma-subir-digital-administrador-vector313" /></div></div></div></div
    ></div> </body
></html>
