<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>CrearFirma-digital-Administrador - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="CrearFirma-digital-Administrador - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./crear-firma-digital-administrador.css"
        rel="stylesheet" /><div
        class="crear-firma-digital-administrador-container"
        ><div
          class="crear-firma-digital-administrador-crear-firmadigital-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/b5b64752-8f70-4209-b246-70b76a865c4d?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29522"
            class="crear-firma-digital-administrador-rectangle2" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/19c513f2-f255-45c0-8a91-60d949d48d47?org_if_sml=1160458&amp;force_format=original"
            alt="Rectangle109522"
            class="crear-firma-digital-administrador-rectangle10" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/42523020-548f-4abd-a293-c2722fd6663b?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9522"
            class="crear-firma-digital-administrador-dashboardbg" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/da864f73-2f44-43df-a680-32acc568f6a7?org_if_sml=123078&amp;force_format=original"
            alt="Rectangle69522"
            class="crear-firma-digital-administrador-rectangle6" /><div
            class="crear-firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="crear-firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9522-b9n.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector" /><img
                src="public/external/vector29522-05dqi.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector2" /><img
                src="public/external/vector39522-146b.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector3" /></div></div
          ><div
            class="crear-firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="crear-firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9522-kfba.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector01" /><img
                src="public/external/vector29522-bb78.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector201" /><img
                src="public/external/vector39522-h0z.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector301" /></div></div
          ><span class="crear-firma-digital-administrador-text"
            ><span>Administrador</span></span
          ><span class="crear-firma-digital-administrador-text02">|</span
          ><span class="crear-firma-digital-administrador-text03"
            ><span>Secretaria General</span></span
          ><span class="crear-firma-digital-administrador-text05"
            ><span>Luis Alfredo Perez Castillo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/f34a7e59-860d-4af0-9ff8-aa601d424893?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39522"
            class="crear-firma-digital-administrador-image170640173paddedlogo3" /><span
            class="crear-firma-digital-administrador-text07"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="crear-firma-digital-administrador-text09"
            ><span>alfredo.sgd</span></span
          ><div
            class="crear-firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus4"
            ><div
              class="crear-firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus5"
              ><img
                src="public/external/vector9522-tykc.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector02" /><img
                src="public/external/vector29522-3uw.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector202" /><img
                src="public/external/vector39522-qfzf.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector302" /></div></div
          ><div
            class="crear-firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus6"
            ><div
              class="crear-firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus7"
              ><img
                src="public/external/vector9522-8oh.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector03" /><img
                src="public/external/vector29522-spj.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector203" /><img
                src="public/external/vector39522-dqpk.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector303" /></div></div
          ><span class="crear-firma-digital-administrador-text11">v</span
          ><div
            class="crear-firma-digital-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="crear-firma-digital-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9522-von4.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector04" /><img
                src="public/external/vector29522-133u.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector204" /><img
                src="public/external/vector39522-wp4.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector304" /></div></div
          ><div
            class="crear-firma-digital-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="crear-firma-digital-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9522-8kqq.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector05" /><img
                src="public/external/vector29522-qa7i.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector205" /><img
                src="public/external/vector39522-dzvj.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector305" /></div></div
          ><span class="crear-firma-digital-administrador-text12"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/line129522-sh4c.svg"
            alt="Line129522"
            class="crear-firma-digital-administrador-line12" /><span
            class="crear-firma-digital-administrador-text14"
            ><span>Crear firma</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/27a7aee9-5a3e-4657-a65a-3117028358db?org_if_sml=114615&amp;force_format=original"
            alt="Rectangle199522"
            class="crear-firma-digital-administrador-rectangle19" /><span
            class="crear-firma-digital-administrador-text16"
            ><span>Crear</span></span
          ><span class="crear-firma-digital-administrador-text18"
            ><span>Documentos</span></span
          ><span class="crear-firma-digital-administrador-text20"
            ><span>Reportes</span></span
          ><span class="crear-firma-digital-administrador-text22"
            ><span>Actividades</span></span
          ><span class="crear-firma-digital-administrador-text24"
            ><span>Plantillas</span></span
          ><span class="crear-firma-digital-administrador-text26"
            ><span>Departamentos</span></span
          ><span class="crear-firma-digital-administrador-text28"
            ><span>Categorías</span></span
          ><span class="crear-firma-digital-administrador-text30"
            ><span>Usuarios</span></span
          ><div
            class="crear-firma-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="crear-firma-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9522-bkvm.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector06" /><img
                src="public/external/vector29522-s1qs.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector206" /><img
                src="public/external/vector39522-a1l.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector306" /></div></div
          ><div
            class="crear-firma-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="crear-firma-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9522-6mbe.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector07" /><img
                src="public/external/vector29522-1hyt.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector207" /><img
                src="public/external/vector39522-4j4.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector307" /></div></div
          ><div class="crear-firma-digital-administrador-onefingerhold"
            ><div class="crear-firma-digital-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509522-go8.svg"
                alt="Ellipse509522"
                class="crear-firma-digital-administrador-ellipse50" /><img
                src="public/external/vector2259522-64x.svg"
                alt="Vector2259522"
                class="crear-firma-digital-administrador-vector225" /><img
                src="public/external/vector1079522-pgj9.svg"
                alt="Vector1079522"
                class="crear-firma-digital-administrador-vector107" /><img
                src="public/external/ellipse3029522-pl9r.svg"
                alt="Ellipse3029522"
                class="crear-firma-digital-administrador-ellipse302" /></div></div
          ><div class="crear-firma-digital-administrador-onefingerhold2"
            ><div class="crear-firma-digital-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509522-jjua.svg"
                alt="Ellipse509522"
                class="crear-firma-digital-administrador-ellipse501" /><img
                src="public/external/vector2259522-x2mg.svg"
                alt="Vector2259522"
                class="crear-firma-digital-administrador-vector2251" /><img
                src="public/external/vector1079522-ghdp.svg"
                alt="Vector1079522"
                class="crear-firma-digital-administrador-vector1071" /><img
                src="public/external/ellipse3029522-epq.svg"
                alt="Ellipse3029522"
                class="crear-firma-digital-administrador-ellipse3021" /></div></div
          ><div
            class="crear-firma-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="crear-firma-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9522-jpqw.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector08" /><img
                src="public/external/vector29522-mheq.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector208" /><img
                src="public/external/vector39522-pzwj.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector308" /></div></div
          ><div
            class="crear-firma-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="crear-firma-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9522-7zrp.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector09" /><img
                src="public/external/vector29522-gxmn.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector209" /><img
                src="public/external/vector39522-mcph.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector309" /></div></div
          ><div
            class="crear-firma-digital-administrador-newfileemptycommonfilecontent"
            ><div
              class="crear-firma-digital-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9522-i5q.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector10" /><img
                src="public/external/vector25299522-zcpb.svg"
                alt="Vector25299522"
                class="crear-firma-digital-administrador-vector2529" /></div></div
          ><div
            class="crear-firma-digital-administrador-newfileemptycommonfilecontent2"
            ><div
              class="crear-firma-digital-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9522-k2c14.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector11" /><img
                src="public/external/vector25299522-4vbu.svg"
                alt="Vector25299522"
                class="crear-firma-digital-administrador-vector25291" /></div></div
          ><div
            class="crear-firma-digital-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="crear-firma-digital-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9522-ngg8.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector12" /><img
                src="public/external/vector29522-8ve.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector210" /><img
                src="public/external/vector39522-jerh.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector310" /><img
                src="public/external/vector49522-dzbg.svg"
                alt="Vector49522"
                class="crear-firma-digital-administrador-vector4" /></div></div
          ><div
            class="crear-firma-digital-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="crear-firma-digital-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9522-4wy.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector13" /><img
                src="public/external/vector29522-3hpr.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector211" /><img
                src="public/external/vector25219522-1cmw.svg"
                alt="Vector25219522"
                class="crear-firma-digital-administrador-vector2521" /><img
                src="public/external/vector25229522-mq4o.svg"
                alt="Vector25229522"
                class="crear-firma-digital-administrador-vector2522" /><img
                src="public/external/vector25239522-6a5d.svg"
                alt="Vector25239522"
                class="crear-firma-digital-administrador-vector2523" /><img
                src="public/external/vector25249522-z8pe.svg"
                alt="Vector25249522"
                class="crear-firma-digital-administrador-vector2524" /></div></div
          ><div
            class="crear-firma-digital-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="crear-firma-digital-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9522-tp7g.svg"
                alt="Vector9522"
                class="crear-firma-digital-administrador-vector14" /><img
                src="public/external/vector29522-c4cn.svg"
                alt="Vector29522"
                class="crear-firma-digital-administrador-vector212" /><img
                src="public/external/vector39522-7p3.svg"
                alt="Vector39522"
                class="crear-firma-digital-administrador-vector311" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/d22040eb-537b-4a42-bf79-85811057014e?org_if_sml=110544&amp;force_format=original"
            alt="Rectangle189522"
            class="crear-firma-digital-administrador-rectangle18" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/d1719dcc-f70a-4d02-a33d-fd0db1e9a16d?org_if_sml=12471&amp;force_format=original"
            alt="Rectangle339522"
            class="crear-firma-digital-administrador-rectangle33" /><img
            src="public/external/line149522-94rr.svg"
            alt="Line149522"
            class="crear-firma-digital-administrador-line14" /><img
            src="public/external/line139522-jvpa.svg"
            alt="Line139522"
            class="crear-firma-digital-administrador-line13" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/8edb98d1-3c70-4ae0-94a0-3b6d0e59723d?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle349522"
            class="crear-firma-digital-administrador-rectangle34" /><span
            class="crear-firma-digital-administrador-text32"
            ><span>Aceptar</span></span
          ><span class="crear-firma-digital-administrador-text34"
            ><span>Crear Firma</span></span
          ><span class="crear-firma-digital-administrador-text36"
            ><span>Dibujar</span></span
          ><span class="crear-firma-digital-administrador-text38"
            ><span>Dibujar</span></span
          ><span class="crear-firma-digital-administrador-text40"
            ><span>Dibuja aquí</span></span
          ><img
            src="public/external/line59522-if69.svg"
            alt="Line59522"
            class="crear-firma-digital-administrador-line5" /><div
            class="crear-firma-digital-administrador-close-close-big"
            ><img
              src="public/external/svgstrokedi952-sz2n.svg"
              alt="SVGSTROKEDI952"
              class="crear-firma-digital-administrador-svgstroked" /></div
          ><span class="crear-firma-digital-administrador-text42"
            ><span>Escribir</span></span
          ><span class="crear-firma-digital-administrador-text44"
            ><span>Subir</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/62575893-92a1-4f9c-8259-dc467df0ac0d?org_if_sml=19926&amp;force_format=original"
            alt="image39522"
            class="crear-firma-digital-administrador-image3" /></div></div
    ></div> </body
></html>
