<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Crear-Usuarios-Administrador - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Crear-Usuarios-Administrador - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./crear-usuarios-administrador.css" rel="stylesheet" /><div
        class="crear-usuarios-administrador-container"
        ><div class="crear-usuarios-administrador-crear-usuarios-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/df7f08b1-33cb-440a-a5be-282b869fc136?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29098"
            class="crear-usuarios-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/85012ced-ce25-4fe0-9a4b-3d036166bba4?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9098"
            class="crear-usuarios-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/3c6e0a18-22c8-4d97-9cb8-c4e8f9875b96?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39098"
            class="crear-usuarios-administrador-image170640173paddedlogo3"
          /><span class="crear-usuarios-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="crear-usuarios-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="crear-usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="crear-usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9098-91a8.svg"
                alt="Vector9098"
                class="crear-usuarios-administrador-vector" /><img
                src="public/external/vector29098-imc8.svg"
                alt="Vector29098"
                class="crear-usuarios-administrador-vector2" /><img
                src="public/external/vector39098-do0o.svg"
                alt="Vector39098"
                class="crear-usuarios-administrador-vector3" /></div></div
          ><div
            class="crear-usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="crear-usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9098-49xbc.svg"
                alt="Vector9098"
                class="crear-usuarios-administrador-vector01" /><img
                src="public/external/vector29098-aya.svg"
                alt="Vector29098"
                class="crear-usuarios-administrador-vector201" /><img
                src="public/external/vector39098-jtyj.svg"
                alt="Vector39098"
                class="crear-usuarios-administrador-vector301" /></div></div
          ><span class="crear-usuarios-administrador-text04">v</span
          ><div
            class="crear-usuarios-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="crear-usuarios-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9098-o7aq.svg"
                alt="Vector9098"
                class="crear-usuarios-administrador-vector02" /><img
                src="public/external/vector29098-sov.svg"
                alt="Vector29098"
                class="crear-usuarios-administrador-vector202" /><img
                src="public/external/vector39098-4y21.svg"
                alt="Vector39098"
                class="crear-usuarios-administrador-vector302" /></div></div
          ><div
            class="crear-usuarios-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="crear-usuarios-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9098-a54.svg"
                alt="Vector9098"
                class="crear-usuarios-administrador-vector03" /><img
                src="public/external/vector29098-15eh.svg"
                alt="Vector29098"
                class="crear-usuarios-administrador-vector203" /><img
                src="public/external/vector39098-dsd.svg"
                alt="Vector39098"
                class="crear-usuarios-administrador-vector303" /></div></div
          ><span class="crear-usuarios-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><span class="crear-usuarios-administrador-text07"
            ><span>Documentos</span></span
          ><span class="crear-usuarios-administrador-text09"
            ><span>Reportes</span></span
          ><span class="crear-usuarios-administrador-text11"
            ><span>Actividades</span></span
          ><span class="crear-usuarios-administrador-text13"
            ><span>Plantillas</span></span
          ><span class="crear-usuarios-administrador-text15"
            ><span>Departamentos</span></span
          ><span class="crear-usuarios-administrador-text17"
            ><span>Categorías</span></span
          ><span class="crear-usuarios-administrador-text19"
            ><span>Usuarios</span></span
          ><span class="crear-usuarios-administrador-text21"
            ><span>Usuarios</span></span
          ><div
            class="crear-usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="crear-usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9099-dk7mqk.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador-vector04" /><img
                src="public/external/vector29099-lmjp.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador-vector204" /><img
                src="public/external/vector39099-5cif.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador-vector304" /></div></div
          ><div
            class="crear-usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="crear-usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9099-hqi.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador-vector05" /><img
                src="public/external/vector29099-dklhg.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador-vector205" /><img
                src="public/external/vector39099-dhxx.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador-vector305" /></div></div
          ><div class="crear-usuarios-administrador-onefingerhold"
            ><div class="crear-usuarios-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509099-p5k.svg"
                alt="Ellipse509099"
                class="crear-usuarios-administrador-ellipse50" /><img
                src="public/external/vector2259099-95w.svg"
                alt="Vector2259099"
                class="crear-usuarios-administrador-vector225" /><img
                src="public/external/vector1079099-mx2m.svg"
                alt="Vector1079099"
                class="crear-usuarios-administrador-vector107" /><img
                src="public/external/ellipse3029099-fgar.svg"
                alt="Ellipse3029099"
                class="crear-usuarios-administrador-ellipse302" /></div></div
          ><div class="crear-usuarios-administrador-onefingerhold2"
            ><div class="crear-usuarios-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509099-gygk.svg"
                alt="Ellipse509099"
                class="crear-usuarios-administrador-ellipse501" /><img
                src="public/external/vector2259099-1x3.svg"
                alt="Vector2259099"
                class="crear-usuarios-administrador-vector2251" /><img
                src="public/external/vector1079099-7q4g.svg"
                alt="Vector1079099"
                class="crear-usuarios-administrador-vector1071" /><img
                src="public/external/ellipse3029099-nee.svg"
                alt="Ellipse3029099"
                class="crear-usuarios-administrador-ellipse3021" /></div></div
          ><div
            class="crear-usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="crear-usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9099-cwho.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador-vector06" /><img
                src="public/external/vector29099-8aju.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador-vector206" /><img
                src="public/external/vector39099-fuzc.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador-vector306" /></div></div
          ><div
            class="crear-usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="crear-usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9099-jviq.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador-vector07" /><img
                src="public/external/vector29099-e0p9.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador-vector207" /><img
                src="public/external/vector39099-9qa.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador-vector307" /></div></div
          ><div
            class="crear-usuarios-administrador-newfileemptycommonfilecontent"
            ><div
              class="crear-usuarios-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9099-aize.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador-vector08" /><img
                src="public/external/vector25299099-lyjh.svg"
                alt="Vector25299099"
                class="crear-usuarios-administrador-vector2529" /></div></div
          ><div
            class="crear-usuarios-administrador-newfileemptycommonfilecontent2"
            ><div
              class="crear-usuarios-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9099-abn9.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador-vector09" /><img
                src="public/external/vector25299099-o6eq.svg"
                alt="Vector25299099"
                class="crear-usuarios-administrador-vector25291" /></div></div
          ><div
            class="crear-usuarios-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="crear-usuarios-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9099-f8r.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador-vector10" /><img
                src="public/external/vector29099-uc.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador-vector208" /><img
                src="public/external/vector39099-oj6.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador-vector308" /><img
                src="public/external/vector49099-rv5r.svg"
                alt="Vector49099"
                class="crear-usuarios-administrador-vector4" /></div></div
          ><div
            class="crear-usuarios-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="crear-usuarios-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9099-7ot.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador-vector11" /><img
                src="public/external/vector29099-ox7b.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador-vector209" /><img
                src="public/external/vector25219099-rrg.svg"
                alt="Vector25219099"
                class="crear-usuarios-administrador-vector2521" /><img
                src="public/external/vector25229099-w1b9.svg"
                alt="Vector25229099"
                class="crear-usuarios-administrador-vector2522" /><img
                src="public/external/vector25239099-6ll8.svg"
                alt="Vector25239099"
                class="crear-usuarios-administrador-vector2523" /><img
                src="public/external/vector25249099-sa1d.svg"
                alt="Vector25249099"
                class="crear-usuarios-administrador-vector2524" /></div></div
          ><div
            class="crear-usuarios-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="crear-usuarios-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9099-1xws.svg"
                alt="Vector9099"
                class="crear-usuarios-administrador-vector12" /><img
                src="public/external/vector29099-s3kk.svg"
                alt="Vector29099"
                class="crear-usuarios-administrador-vector210" /><img
                src="public/external/vector39099-w52.svg"
                alt="Vector39099"
                class="crear-usuarios-administrador-vector309" /></div></div
          ><span class="crear-usuarios-administrador-text23"
            ><span>Crear Usuarios</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/04e579cd-748c-493d-bca3-36bcd8ae9d23?org_if_sml=112191&amp;force_format=original"
            alt="Rectangle39099"
            class="crear-usuarios-administrador-rectangle3"
          /><span class="crear-usuarios-administrador-text25"
            ><span>Nombres...</span></span
          ><span class="crear-usuarios-administrador-text27"
            ><span>* Nombres</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/e0a8c736-a6ad-48cb-bd3c-864c1b5476fe?org_if_sml=112241&amp;force_format=original"
            alt="Rectangle219099"
            class="crear-usuarios-administrador-rectangle21"
          /><span class="crear-usuarios-administrador-text29"
            ><span>Apellidos...</span></span
          ><span class="crear-usuarios-administrador-text31"
            ><span>* Apellidos</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/95e9f778-a3f6-40ed-8ab1-e0a0b29c542c?org_if_sml=112241&amp;force_format=original"
            alt="Rectangle229091"
            class="crear-usuarios-administrador-rectangle22"
          /><span class="crear-usuarios-administrador-text33"
            ><span>Nombre del departamento</span></span
          ><span class="crear-usuarios-administrador-text35"
            ><span>* Departamento</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/ad8795c8-1429-4d86-a7b1-4f5f3fac43fd?org_if_sml=115066&amp;force_format=original"
            alt="Rectangle239091"
            class="crear-usuarios-administrador-rectangle23"
          /><span class="crear-usuarios-administrador-text37"
            ><span>Correo...</span></span
          ><span class="crear-usuarios-administrador-text39"
            ><span>* Correo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/31fed976-8969-4b5d-86dc-f0293daeff30?org_if_sml=112257&amp;force_format=original"
            alt="Rectangle249091"
            class="crear-usuarios-administrador-rectangle24"
          /><span class="crear-usuarios-administrador-text41"
            ><span>Cédula...</span></span
          ><span class="crear-usuarios-administrador-text43"
            ><span>* Cédula</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/68eb266d-5fbb-4319-b931-42a5e320cdf5?org_if_sml=112258&amp;force_format=original"
            alt="Rectangle259091"
            class="crear-usuarios-administrador-rectangle25"
          /><span class="crear-usuarios-administrador-text45"
            ><span>(000) 000-0000</span></span
          ><span class="crear-usuarios-administrador-text47"
            ><span>* Télefono</span></span
          ><span class="crear-usuarios-administrador-text49"
            ><span>* Firmar documento:</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/20b41f30-291f-4b17-a779-f5060d84baac?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle329091"
            class="crear-usuarios-administrador-rectangle32"
          /><span class="crear-usuarios-administrador-text51"
            ><span>* Roles:</span></span
          ><span class="crear-usuarios-administrador-text53"
            ><span>Visualizador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/f40c9782-ff58-4f73-9861-957eb77115bc?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle349632"
            class="crear-usuarios-administrador-rectangle34"
          /><span class="crear-usuarios-administrador-text55"
            ><span>Digitalizador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/aee0af21-38f6-4c26-b737-1606c958d491?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle359632"
            class="crear-usuarios-administrador-rectangle35"
          /><span class="crear-usuarios-administrador-text57"
            ><span>Administrador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/87e0de6c-bf71-49a4-a8f0-e5fb0bdb4916?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle369632"
            class="crear-usuarios-administrador-rectangle36"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/d68c79ec-733e-4367-b813-9207a977ee23?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle199091"
            class="crear-usuarios-administrador-rectangle19"
          /><span class="crear-usuarios-administrador-text59"
            ><span>Crear</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/2162e1bf-5b6b-42f5-a74d-d9a1a060b802?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle209091"
            class="crear-usuarios-administrador-rectangle20"
          /><span class="crear-usuarios-administrador-text61"
            ><span>Cancelar</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
