<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Firma-digital-Administrador - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Firma-digital-Administrador - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./firma-digital-administrador.css" rel="stylesheet" /><div
        class="firma-digital-administrador-container"
        ><div class="firma-digital-administrador-firmadigital-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/81d04dcc-f20a-4415-a362-bde42dc4084c?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29501"
            class="firma-digital-administrador-rectangle2" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/e23849ab-7167-4f37-9fcc-a395a3148cd2?org_if_sml=1160458&amp;force_format=original"
            alt="Rectangle109501"
            class="firma-digital-administrador-rectangle10" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/d3df6080-a269-4d06-91fd-2a4d0f11c971?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9501"
            class="firma-digital-administrador-dashboardbg" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/0edce6e7-023c-45bf-bc22-0d9db11b1317?org_if_sml=123078&amp;force_format=original"
            alt="Rectangle69501"
            class="firma-digital-administrador-rectangle6" /><div
            class="firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9501-k1fm.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector" /><img
                src="public/external/vector29501-cnii.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector2" /><img
                src="public/external/vector39501-9yumc.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector3" /></div></div
          ><div
            class="firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9501-o1l.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector01" /><img
                src="public/external/vector29501-igc.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector201" /><img
                src="public/external/vector39501-1l4n.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector301" /></div></div
          ><span class="firma-digital-administrador-text"
            ><span>Administrador</span></span
          ><span class="firma-digital-administrador-text02">|</span
          ><span class="firma-digital-administrador-text03"
            ><span>Secretaria General</span></span
          ><span class="firma-digital-administrador-text05"
            ><span>Luis Alfredo Perez Castillo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/1bb69a71-f98d-488e-920f-8f085a80d3f9?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39501"
            class="firma-digital-administrador-image170640173paddedlogo3" /><span
            class="firma-digital-administrador-text07"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="firma-digital-administrador-text09"
            ><span>alfredo.sgd</span></span
          ><div
            class="firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus4"
            ><div
              class="firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus5"
              ><img
                src="public/external/vector9501-374q.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector02" /><img
                src="public/external/vector29501-z1e5.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector202" /><img
                src="public/external/vector39501-q4p.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector302" /></div></div
          ><div
            class="firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus6"
            ><div
              class="firma-digital-administrador-usercirclesinglecirclegeometrichumanpersonsingleus7"
              ><img
                src="public/external/vector9501-twm.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector03" /><img
                src="public/external/vector29501-mkdf.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector203" /><img
                src="public/external/vector39501-ueia.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector303" /></div></div
          ><span class="firma-digital-administrador-text11">v</span
          ><div
            class="firma-digital-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="firma-digital-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9501-s6z8.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector04" /><img
                src="public/external/vector29501-2mu.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector204" /><img
                src="public/external/vector39501-l838.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector304" /></div></div
          ><div
            class="firma-digital-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="firma-digital-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9501-vyz6.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector05" /><img
                src="public/external/vector29501-hvj.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector205" /><img
                src="public/external/vector39501-y8zh.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector305" /></div></div
          ><span class="firma-digital-administrador-text12"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/line129501-28eg.svg"
            alt="Line129501"
            class="firma-digital-administrador-line12" /><span
            class="firma-digital-administrador-text14"
            ><span>Firma Actual</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/cdcf2eeb-7460-4e30-a9f9-31f31a33e897?org_if_sml=114615&amp;force_format=original"
            alt="Rectangle199501"
            class="firma-digital-administrador-rectangle19" /><span
            class="firma-digital-administrador-text16"
            ><span>Editar </span></span
          ><span class="firma-digital-administrador-text18"
            ><span>Documentos</span></span
          ><span class="firma-digital-administrador-text20"
            ><span>Reportes</span></span
          ><span class="firma-digital-administrador-text22"
            ><span>Actividades</span></span
          ><span class="firma-digital-administrador-text24"
            ><span>Plantillas</span></span
          ><span class="firma-digital-administrador-text26"
            ><span>Departamentos</span></span
          ><span class="firma-digital-administrador-text28"
            ><span>Categorías</span></span
          ><span class="firma-digital-administrador-text30"
            ><span>Usuarios</span></span
          ><div
            class="firma-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="firma-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9501-xgi.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector06" /><img
                src="public/external/vector29501-q2jq.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector206" /><img
                src="public/external/vector39501-zco.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector306" /></div></div
          ><div
            class="firma-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="firma-digital-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9501-uagg.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector07" /><img
                src="public/external/vector29501-s5vn.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector207" /><img
                src="public/external/vector39501-gfu4.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector307" /></div></div
          ><div class="firma-digital-administrador-onefingerhold"
            ><div class="firma-digital-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509501-ryqa.svg"
                alt="Ellipse509501"
                class="firma-digital-administrador-ellipse50" /><img
                src="public/external/vector2259501-bfo.svg"
                alt="Vector2259501"
                class="firma-digital-administrador-vector225" /><img
                src="public/external/vector1079501-6paf.svg"
                alt="Vector1079501"
                class="firma-digital-administrador-vector107" /><img
                src="public/external/ellipse3029501-2ulq.svg"
                alt="Ellipse3029501"
                class="firma-digital-administrador-ellipse302" /></div></div
          ><div class="firma-digital-administrador-onefingerhold2"
            ><div class="firma-digital-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509501-2i5s.svg"
                alt="Ellipse509501"
                class="firma-digital-administrador-ellipse501" /><img
                src="public/external/vector2259501-qcf.svg"
                alt="Vector2259501"
                class="firma-digital-administrador-vector2251" /><img
                src="public/external/vector1079501-fbt.svg"
                alt="Vector1079501"
                class="firma-digital-administrador-vector1071" /><img
                src="public/external/ellipse3029501-ipk8m.svg"
                alt="Ellipse3029501"
                class="firma-digital-administrador-ellipse3021" /></div></div
          ><div
            class="firma-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="firma-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9501-58cm.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector08" /><img
                src="public/external/vector29501-gze7.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector208" /><img
                src="public/external/vector39501-b96i.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector308" /></div></div
          ><div
            class="firma-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="firma-digital-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9501-u43c.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector09" /><img
                src="public/external/vector29501-fgn.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector209" /><img
                src="public/external/vector39501-cm8s.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector309" /></div></div
          ><div
            class="firma-digital-administrador-newfileemptycommonfilecontent"
            ><div
              class="firma-digital-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9501-p69g.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector10" /><img
                src="public/external/vector25299501-0qmc.svg"
                alt="Vector25299501"
                class="firma-digital-administrador-vector2529" /></div></div
          ><div
            class="firma-digital-administrador-newfileemptycommonfilecontent2"
            ><div
              class="firma-digital-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9501-wlkv.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector11" /><img
                src="public/external/vector25299501-sw64.svg"
                alt="Vector25299501"
                class="firma-digital-administrador-vector25291" /></div></div
          ><div
            class="firma-digital-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="firma-digital-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9501-ksp.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector12" /><img
                src="public/external/vector29501-er1.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector210" /><img
                src="public/external/vector39501-kagp.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector310" /><img
                src="public/external/vector49501-1278.svg"
                alt="Vector49501"
                class="firma-digital-administrador-vector4" /></div></div
          ><div
            class="firma-digital-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="firma-digital-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9501-o7qh.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector13" /><img
                src="public/external/vector29501-1kz9.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector211" /><img
                src="public/external/vector25219501-rzol.svg"
                alt="Vector25219501"
                class="firma-digital-administrador-vector2521" /><img
                src="public/external/vector25229501-nq6p.svg"
                alt="Vector25229501"
                class="firma-digital-administrador-vector2522" /><img
                src="public/external/vector25239501-eitv.svg"
                alt="Vector25239501"
                class="firma-digital-administrador-vector2523" /><img
                src="public/external/vector25249501-v75u.svg"
                alt="Vector25249501"
                class="firma-digital-administrador-vector2524" /></div></div
          ><div
            class="firma-digital-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="firma-digital-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9501-t07s.svg"
                alt="Vector9501"
                class="firma-digital-administrador-vector14" /><img
                src="public/external/vector29501-5tv.svg"
                alt="Vector29501"
                class="firma-digital-administrador-vector212" /><img
                src="public/external/vector39501-y3h7.svg"
                alt="Vector39501"
                class="firma-digital-administrador-vector311" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/f68bcd42-28a3-4d84-8208-3b4ecfc920b0?org_if_sml=19926&amp;force_format=original"
            alt="image39501"
            class="firma-digital-administrador-image3" /></div></div
    ></div> </body
></html>
