<!DOCTYPE html>
<html lang="en"
  ><head
    ><title
      >Imprimir-Confirmacin-Reportes-Administrador - Nice Original
      Mongoose</title
    ><meta
      property="og:title"
      content="Imprimir-Confirmacin-Reportes-Administrador - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./imprimir-confirmacin-reportes-administrador.css"
        rel="stylesheet"
      /><div class="imprimir-confirmacin-reportes-administrador-container"
        ><div
          class="imprimir-confirmacin-reportes-administrador-imprimir-confirmacin-reportes-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/8f11200d-d907-482e-ad1b-1e68b4c1c450?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29461"
            class="imprimir-confirmacin-reportes-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/2272fb69-5426-40e6-a806-8b91e3eb5a53?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9461"
            class="imprimir-confirmacin-reportes-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/52644aa5-e089-47ca-aef2-dc92d02ff45e?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39461"
            class="imprimir-confirmacin-reportes-administrador-image170640173paddedlogo3"
          /><span class="imprimir-confirmacin-reportes-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text002"
            ><span>alfredo.sgd</span></span
          ><div
            class="imprimir-confirmacin-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="imprimir-confirmacin-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9461-eana.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector" /><img
                src="public/external/vector29461-zfz.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector2" /><img
                src="public/external/vector39461-0ode.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector3" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="imprimir-confirmacin-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9461-8agy.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector01" /><img
                src="public/external/vector29461-4yz.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector201" /><img
                src="public/external/vector39461-hvnv.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector301" /></div></div
          ><span class="imprimir-confirmacin-reportes-administrador-text004"
            >v</span
          ><div
            class="imprimir-confirmacin-reportes-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="imprimir-confirmacin-reportes-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9461-1oo.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector02" /><img
                src="public/external/vector29461-hie.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector202" /><img
                src="public/external/vector39461-gth.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector302" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="imprimir-confirmacin-reportes-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9461-bfdw.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector03" /><img
                src="public/external/vector29461-iw6vi.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector203" /><img
                src="public/external/vector39461-jz3g.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector303" /></div></div
          ><span class="imprimir-confirmacin-reportes-administrador-text005"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle99461-37wal.svg"
            alt="Rectangle99461"
            class="imprimir-confirmacin-reportes-administrador-rectangle9"
          /><span class="imprimir-confirmacin-reportes-administrador-text007"
            ><span>Buscar reportes...</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text009"
            ><span>#001</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text011"
            ><span>#002</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text013"
            ><span>#003</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text015"
            ><span>#004</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text017"
            ><span>Récord de documentos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text019"
            ><span>Récord de documentos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text021"
            ><span>Récord de documentos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text023"
            ><span>Récord de documentos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text025"
            ><span>Contabilidad de registro de documentos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text027"
            ><span>Contabilidad de registro de documentos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text029"
            ><span>Contabilidad de registro de documentos por día</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text031"
            ><span>Contabilidad de consultas de documentos por día</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text033"
            ><span>alfredo.sgd</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text035"
            ><span>alfredo.sgd</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text037"
            ><span>alfredo.sgd</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text039"
            ><span>alfredo.sgd</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text041"
            ><span>01/02/2024</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text043"
            ><span>04/02/2024</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text045"
            ><span>05/02/2024</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text047"
            ><span>05/02/2024</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text049"
            ><span>Reporte</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text051"
            ><span>Nombre</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text053"
            ><span>Descripción</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text055"
            ><span>Categoría</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text057"
            ><span>Creador</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text059"
            ><span>Plantilla</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text061"
            ><span>Fecha creación</span></span
          ><img
            src="public/external/line99461-jf9.svg"
            alt="Line99461"
            class="imprimir-confirmacin-reportes-administrador-line9"
          /><img
            src="public/external/line109461-98b5.svg"
            alt="Line109461"
            class="imprimir-confirmacin-reportes-administrador-line10"
          /><img
            src="public/external/line119461-07sd.svg"
            alt="Line119461"
            class="imprimir-confirmacin-reportes-administrador-line11"
          /><img
            src="public/external/line129461-v6z.svg"
            alt="Line129461"
            class="imprimir-confirmacin-reportes-administrador-line12"
          /><img
            src="public/external/line139461-ai1.svg"
            alt="Line139461"
            class="imprimir-confirmacin-reportes-administrador-line13"
          /><img
            src="public/external/line149461-b0t.svg"
            alt="Line149461"
            class="imprimir-confirmacin-reportes-administrador-line14"
          /><img
            src="public/external/line159461-rzls.svg"
            alt="Line159461"
            class="imprimir-confirmacin-reportes-administrador-line15"
          /><img
            src="public/external/line169461-bssq.svg"
            alt="Line169461"
            class="imprimir-confirmacin-reportes-administrador-line16"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/a7bca1f1-f7be-4bee-9731-066433f6a9c7?org_if_sml=112724&amp;force_format=original"
            alt="Rectangle219461"
            class="imprimir-confirmacin-reportes-administrador-rectangle21"
          /><span class="imprimir-confirmacin-reportes-administrador-text063"
            ><span>Filtrar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/34c5c641-67da-4fab-abe2-b2aaa40232a7?org_if_sml=112402&amp;force_format=original"
            alt="Rectangle239461"
            class="imprimir-confirmacin-reportes-administrador-rectangle23"
          /><span class="imprimir-confirmacin-reportes-administrador-text065"
            ><span>Imprimir</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text067"
            ><span>Archivo</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text069"
            ><span>Archivo</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text071"
            ><span>Pagos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text073"
            ><span>Archivo, Pagos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text075"
            ><span>Actas de Nacimiento</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text077"
            ><span>Certificación legal</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text079"
            ><span>Cheque</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text081"
            ><span>Actas de Nacimiento, Fiscalización</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/e23ab1dc-114e-43df-b32e-5c4720dfb515?org_if_sml=114048&amp;force_format=original"
            alt="Rectangle229461"
            class="imprimir-confirmacin-reportes-administrador-rectangle22"
          /><span class="imprimir-confirmacin-reportes-administrador-text083"
            ><span>Crear reporte</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text085"
            ><span>Documentos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text087"
            ><span>Reportes</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text089"
            ><span>Reportes</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text091"
            ><span>Actividades</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text093"
            ><span>Plantillas</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text095"
            ><span>Departamentos</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text097"
            ><span>Categorías</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text099"
            ><span>Usuarios</span></span
          ><div
            class="imprimir-confirmacin-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="imprimir-confirmacin-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9461-479i.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector04" /><img
                src="public/external/vector29461-yci7.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector204" /><img
                src="public/external/vector39461-15el.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector304" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="imprimir-confirmacin-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9461-ojtw.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector05" /><img
                src="public/external/vector29461-x8f.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector205" /><img
                src="public/external/vector39461-n6k.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector305" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-onefingerhold"
            ><div
              class="imprimir-confirmacin-reportes-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509461-lzcsl.svg"
                alt="Ellipse509461"
                class="imprimir-confirmacin-reportes-administrador-ellipse50" /><img
                src="public/external/vector2259461-jgr.svg"
                alt="Vector2259461"
                class="imprimir-confirmacin-reportes-administrador-vector225" /><img
                src="public/external/vector1079461-i5dj.svg"
                alt="Vector1079461"
                class="imprimir-confirmacin-reportes-administrador-vector107" /><img
                src="public/external/ellipse3029461-xby.svg"
                alt="Ellipse3029461"
                class="imprimir-confirmacin-reportes-administrador-ellipse302" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-onefingerhold2"
            ><div
              class="imprimir-confirmacin-reportes-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509461-7jq.svg"
                alt="Ellipse509461"
                class="imprimir-confirmacin-reportes-administrador-ellipse501" /><img
                src="public/external/vector2259461-1fnf.svg"
                alt="Vector2259461"
                class="imprimir-confirmacin-reportes-administrador-vector2251" /><img
                src="public/external/vector1079461-v4ki.svg"
                alt="Vector1079461"
                class="imprimir-confirmacin-reportes-administrador-vector1071" /><img
                src="public/external/ellipse3029461-xgjd.svg"
                alt="Ellipse3029461"
                class="imprimir-confirmacin-reportes-administrador-ellipse3021" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="imprimir-confirmacin-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9461-lfwl.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector06" /><img
                src="public/external/vector29461-rph.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector206" /><img
                src="public/external/vector39461-mrge.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector306" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="imprimir-confirmacin-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9461-zeeb.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector07" /><img
                src="public/external/vector29461-vih9.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector207" /><img
                src="public/external/vector39461-ah7.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector307" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-newfileemptycommonfilecontent"
            ><div
              class="imprimir-confirmacin-reportes-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9461-5kc6.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector08" /><img
                src="public/external/vector25299461-qubh.svg"
                alt="Vector25299461"
                class="imprimir-confirmacin-reportes-administrador-vector2529" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-newfileemptycommonfilecontent2"
            ><div
              class="imprimir-confirmacin-reportes-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9461-euf9.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector09" /><img
                src="public/external/vector25299461-zfev.svg"
                alt="Vector25299461"
                class="imprimir-confirmacin-reportes-administrador-vector25291" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="imprimir-confirmacin-reportes-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9461-j00c.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector10" /><img
                src="public/external/vector29461-4gd.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector208" /><img
                src="public/external/vector39461-9j9.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector308" /><img
                src="public/external/vector49461-fwbi.svg"
                alt="Vector49461"
                class="imprimir-confirmacin-reportes-administrador-vector4" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="imprimir-confirmacin-reportes-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9461-88pts.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector11" /><img
                src="public/external/vector29461-9be.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector209" /><img
                src="public/external/vector25219461-gljq.svg"
                alt="Vector25219461"
                class="imprimir-confirmacin-reportes-administrador-vector2521" /><img
                src="public/external/vector25229461-14yn.svg"
                alt="Vector25229461"
                class="imprimir-confirmacin-reportes-administrador-vector2522" /><img
                src="public/external/vector25239461-r4os.svg"
                alt="Vector25239461"
                class="imprimir-confirmacin-reportes-administrador-vector2523" /><img
                src="public/external/vector25249461-cnre.svg"
                alt="Vector25249461"
                class="imprimir-confirmacin-reportes-administrador-vector2524" /></div></div
          ><div
            class="imprimir-confirmacin-reportes-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="imprimir-confirmacin-reportes-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9461-aurg.svg"
                alt="Vector9461"
                class="imprimir-confirmacin-reportes-administrador-vector12" /><img
                src="public/external/vector29461-0hzo.svg"
                alt="Vector29461"
                class="imprimir-confirmacin-reportes-administrador-vector210" /><img
                src="public/external/vector39461-ygdl.svg"
                alt="Vector39461"
                class="imprimir-confirmacin-reportes-administrador-vector309" /></div></div
          ><span class="imprimir-confirmacin-reportes-administrador-text101"
            ><span>Reportes</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/b190dd34-58d6-4539-806d-1a6872dc9911?org_if_sml=110547&amp;force_format=original"
            alt="Rectangle329461"
            class="imprimir-confirmacin-reportes-administrador-rectangle32"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/6c0444e0-c1a9-46d5-aff4-1e644191f098?org_if_sml=114729&amp;force_format=original"
            alt="Rectangle69461"
            class="imprimir-confirmacin-reportes-administrador-rectangle6"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/38bf9a27-351b-4d8f-9e02-6e1916ab2e01?org_if_sml=13577&amp;force_format=original"
            alt="Rectangle309461"
            class="imprimir-confirmacin-reportes-administrador-rectangle30"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/6dbff25d-a96c-419e-9517-9e1bc36db5f1?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle319461"
            class="imprimir-confirmacin-reportes-administrador-rectangle31"
          /><span class="imprimir-confirmacin-reportes-administrador-text103"
            ><span>Imprimir</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text105"
            ><span>Desde</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text107"
            ><span>Hasta</span></span
          ><div
            class="imprimir-confirmacin-reportes-administrador-close-close-big"
            ><img
              src="public/external/svgstrokedi946-mk1o.svg"
              alt="SVGSTROKEDI946"
              class="imprimir-confirmacin-reportes-administrador-svgstroked" /></div
          ><span class="imprimir-confirmacin-reportes-administrador-text109"
            ><span>Imprimir reportes</span></span
          ><img
            src="public/external/line59461-3mcn.svg"
            alt="Line59461"
            class="imprimir-confirmacin-reportes-administrador-line5"
          /><span class="imprimir-confirmacin-reportes-administrador-text111"
            ><span>Reporte</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text113"
            ><span>dd/MM/YYYY</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/e52340d3-15bd-4a77-b130-2fed80757671?org_if_sml=13577&amp;force_format=original"
            alt="Rectangle339461"
            class="imprimir-confirmacin-reportes-administrador-rectangle33"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/3fd2414d-f25c-4b3b-a54d-27fd5db92938?org_if_sml=14275&amp;force_format=original"
            alt="Rectangle359461"
            class="imprimir-confirmacin-reportes-administrador-rectangle35"
          /><span class="imprimir-confirmacin-reportes-administrador-text115"
            ><span>dd/MM/YYYY</span></span
          ><span class="imprimir-confirmacin-reportes-administrador-text117"
            ><span>#001</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
