<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Login-ROL - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Login-ROL - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./login-rol.css" rel="stylesheet" /><div
        class="login-rol-container"
        ><div class="login-rol-login-rol"
          ><span class="login-rol-text"><span>Iniciar Sesión</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/3d36071f-34cd-4fc6-8087-f225ad761106?org_if_sml=112807&amp;force_format=original"
            alt="Rectangle26182"
            class="login-rol-rectangle2" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/bda94ca8-f4cc-4ef7-9082-a552b52fb872?org_if_sml=116020&amp;force_format=original"
            alt="Rectangle46184"
            class="login-rol-rectangle4" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/03960725-9e18-4b66-9bd8-3b88b53c9420?org_if_sml=112807&amp;force_format=original"
            alt="Rectangle36184"
            class="login-rol-rectangle3" /><span class="login-rol-text02"
            ><span>Usuario</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/1a403807-6921-4b90-8a79-d9300c83b31d?org_if_sml=17702&amp;force_format=original"
            alt="Rectangle66845"
            class="login-rol-rectangle6" /><span class="login-rol-text04"
            ><span>Contraseña</span></span
          ><span class="login-rol-text06"
            ><span class="login-rol-text07">¿No tienes cuenta registrada?</span
            ><span> Solicita tu ingreso</span></span
          ><span class="login-rol-text09"><span>Ingresar</span></span
          ><span class="login-rol-text11"
            ><span>¿Olvidaste tu contraseña?</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/b70a1c56-e95c-4e50-8893-48aa218988ea?org_if_sml=115857&amp;force_format=original"
            alt="IMAGE170640173paddedlogo26196"
            class="login-rol-image170640173paddedlogo2" /><span
            class="login-rol-text13"
            ><span>Digitalizador</span></span
          ><span class="login-rol-text15"><span>Visualizador</span></span
          ><span class="login-rol-text17"><span>Administrador</span></span
          ><div class="login-rol-cloudaddcloudnetworkinternetaddserverplus"
            ><div class="login-rol-cloudaddcloudnetworkinternetaddserverplus1"
              ><img
                src="public/external/vector6845-f3ht.svg"
                alt="Vector6845"
                class="login-rol-vector" /><img
                src="public/external/vector26845-l29i.svg"
                alt="Vector26845"
                class="login-rol-vector2" /><img
                src="public/external/vector36845-zq8l.svg"
                alt="Vector36845"
                class="login-rol-vector3" /></div></div
          ><div class="login-rol-visibleeyeeyeballopenview"
            ><div class="login-rol-visibleeyeeyeballopenview1"
              ><img
                src="public/external/vector6845-o1v.svg"
                alt="Vector6845"
                class="login-rol-vector1" /><img
                src="public/external/vector26845-evc.svg"
                alt="Vector26845"
                class="login-rol-vector21" /></div></div
          ><div
            class="login-rol-wrenchcrescenttoolconstructiontoolswrenchsettinged"
            ><div
              class="login-rol-wrenchcrescenttoolconstructiontoolswrenchsettinged1"
              ><img
                src="public/external/union6845-r4yx.svg"
                alt="Union6845"
                class="login-rol-union" /></div></div></div></div
    ></div> </body
></html>
