<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Mi-perfil-Administrador - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Mi-perfil-Administrador - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./mi-perfil-administrador.css" rel="stylesheet" /><div
        class="mi-perfil-administrador-container"
        ><div class="mi-perfil-administrador-miperfil-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/961e84b5-1e66-493b-b553-5d54abad5985?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27647"
            class="mi-perfil-administrador-rectangle2" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/50566f4c-5653-481a-aa2f-c38a7db16d81?org_if_sml=1160458&amp;force_format=original"
            alt="Rectangle107647"
            class="mi-perfil-administrador-rectangle10" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/0a00b542-cefa-41fa-85f4-a204a5dfd335?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7647"
            class="mi-perfil-administrador-dashboardbg" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/7336fd6c-9c68-4578-8cfa-32f2da78bb1c?org_if_sml=123078&amp;force_format=original"
            alt="Rectangle67647"
            class="mi-perfil-administrador-rectangle6" /><div
            class="mi-perfil-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="mi-perfil-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector7647-q21d.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-vector" /><img
                src="public/external/vector27647-yzcb.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-vector2" /><img
                src="public/external/vector37647-kb8i.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-vector3" /></div></div
          ><div
            class="mi-perfil-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="mi-perfil-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector7647-u6wu.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-vector01" /><img
                src="public/external/vector27647-14ok.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-vector201" /><img
                src="public/external/vector37647-duk.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-vector301" /></div></div
          ><span class="mi-perfil-administrador-text"
            ><span>Administrador</span></span
          ><span class="mi-perfil-administrador-text02">|</span
          ><span class="mi-perfil-administrador-text03"
            ><span>Secretaria General</span></span
          ><span class="mi-perfil-administrador-text05"
            ><span>Luis Alfredo Perez Castillo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/0bbde85e-dc17-4bf9-a8eb-effd15af9835?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37647"
            class="mi-perfil-administrador-image170640173paddedlogo3" /><span
            class="mi-perfil-administrador-text07"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="mi-perfil-administrador-text09"
            ><span>alfredo.sgd</span></span
          ><div
            class="mi-perfil-administrador-usercirclesinglecirclegeometrichumanpersonsingleus4"
            ><div
              class="mi-perfil-administrador-usercirclesinglecirclegeometrichumanpersonsingleus5"
              ><img
                src="public/external/vector7647-i537.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-vector02" /><img
                src="public/external/vector27647-k5ja.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-vector202" /><img
                src="public/external/vector37647-os3s.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-vector302" /></div></div
          ><div
            class="mi-perfil-administrador-usercirclesinglecirclegeometrichumanpersonsingleus6"
            ><div
              class="mi-perfil-administrador-usercirclesinglecirclegeometrichumanpersonsingleus7"
              ><img
                src="public/external/vector7647-5s4.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-vector03" /><img
                src="public/external/vector27647-7osa.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-vector203" /><img
                src="public/external/vector37647-z94d.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-vector303" /></div></div
          ><span class="mi-perfil-administrador-text11">v</span
          ><div
            class="mi-perfil-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="mi-perfil-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7647-7kw4.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-vector04" /><img
                src="public/external/vector27647-f3l8.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-vector204" /><img
                src="public/external/vector37647-o2cf.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-vector304" /></div></div
          ><div
            class="mi-perfil-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="mi-perfil-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7647-4j2r.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-vector05" /><img
                src="public/external/vector27647-3kst.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-vector205" /><img
                src="public/external/vector37647-0ea8.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-vector305" /></div></div
          ><span class="mi-perfil-administrador-text12"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/line127647-10hx.svg"
            alt="Line127647"
            class="mi-perfil-administrador-line12" /><span
            class="mi-perfil-administrador-text14"
            ><span>Nombre</span></span
          ><span class="mi-perfil-administrador-text16"
            ><span>Apellido</span></span
          ><span class="mi-perfil-administrador-text18"
            ><span>Cédula</span></span
          ><span class="mi-perfil-administrador-text20"
            ><span>Télefono</span></span
          ><span class="mi-perfil-administrador-text22"
            ><span>Contraseña</span></span
          ><span class="mi-perfil-administrador-text24"
            ><span>Correo</span></span
          ><span class="mi-perfil-administrador-text26"
            ><span>Luis Alfredo</span></span
          ><span class="mi-perfil-administrador-text28"
            ><span>000-0000000-0</span></span
          ><span class="mi-perfil-administrador-text30"
            ><span>(000) 000-0000</span></span
          ><span class="mi-perfil-administrador-text32"
            ><span>example@sgd.com.do</span></span
          ><span class="mi-perfil-administrador-text34"
            ><span>Perez Castillo</span></span
          ><span class="mi-perfil-administrador-text36"
            ><span>***********</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/326b9f44-e8aa-4fe2-8d3a-68ccd06dfd72?org_if_sml=114615&amp;force_format=original"
            alt="Rectangle197647"
            class="mi-perfil-administrador-rectangle19" /><span
            class="mi-perfil-administrador-text38"
            ><span>Editar Perfil</span></span
          ><span class="mi-perfil-administrador-text40"
            ><span>Documentos</span></span
          ><span class="mi-perfil-administrador-text42"
            ><span>Reportes</span></span
          ><span class="mi-perfil-administrador-text44"
            ><span>Actividades</span></span
          ><span class="mi-perfil-administrador-text46"
            ><span>Plantillas</span></span
          ><span class="mi-perfil-administrador-text48"
            ><span>Departamentos</span></span
          ><span class="mi-perfil-administrador-text50"
            ><span>Categorías</span></span
          ><span class="mi-perfil-administrador-text52"
            ><span>Usuarios</span></span
          ><div
            class="mi-perfil-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="mi-perfil-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8001-v6gt.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-vector06" /><img
                src="public/external/vector28001-494c.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-vector206" /><img
                src="public/external/vector38001-3kqj.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-vector306" /></div></div
          ><div
            class="mi-perfil-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="mi-perfil-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8001-arkb.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-vector07" /><img
                src="public/external/vector28001-lae.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-vector207" /><img
                src="public/external/vector38001-etif.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-vector307" /></div></div
          ><div class="mi-perfil-administrador-onefingerhold"
            ><div class="mi-perfil-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508001-6mgf.svg"
                alt="Ellipse508001"
                class="mi-perfil-administrador-ellipse50" /><img
                src="public/external/vector2258001-quk.svg"
                alt="Vector2258001"
                class="mi-perfil-administrador-vector225" /><img
                src="public/external/vector1078001-kh7.svg"
                alt="Vector1078001"
                class="mi-perfil-administrador-vector107" /><img
                src="public/external/ellipse3028001-a3oe.svg"
                alt="Ellipse3028001"
                class="mi-perfil-administrador-ellipse302" /></div></div
          ><div class="mi-perfil-administrador-onefingerhold2"
            ><div class="mi-perfil-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508001-snal.svg"
                alt="Ellipse508001"
                class="mi-perfil-administrador-ellipse501" /><img
                src="public/external/vector2258001-icb.svg"
                alt="Vector2258001"
                class="mi-perfil-administrador-vector2251" /><img
                src="public/external/vector1078001-di8i.svg"
                alt="Vector1078001"
                class="mi-perfil-administrador-vector1071" /><img
                src="public/external/ellipse3028001-hm3.svg"
                alt="Ellipse3028001"
                class="mi-perfil-administrador-ellipse3021" /></div></div
          ><div
            class="mi-perfil-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="mi-perfil-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8001-j1ch.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-vector08" /><img
                src="public/external/vector28001-bvtr.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-vector208" /><img
                src="public/external/vector38001-94fd.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-vector308" /></div></div
          ><div
            class="mi-perfil-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="mi-perfil-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8001-a65.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-vector09" /><img
                src="public/external/vector28001-qig.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-vector209" /><img
                src="public/external/vector38001-10vq.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-vector309" /></div></div
          ><div class="mi-perfil-administrador-newfileemptycommonfilecontent"
            ><div class="mi-perfil-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8001-xvg.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-vector10" /><img
                src="public/external/vector25298001-hl0m.svg"
                alt="Vector25298001"
                class="mi-perfil-administrador-vector2529" /></div></div
          ><div class="mi-perfil-administrador-newfileemptycommonfilecontent2"
            ><div class="mi-perfil-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8001-ult8.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-vector11" /><img
                src="public/external/vector25298001-7rr.svg"
                alt="Vector25298001"
                class="mi-perfil-administrador-vector25291" /></div></div
          ><div
            class="mi-perfil-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="mi-perfil-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8001-tjfg.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-vector12" /><img
                src="public/external/vector28001-6use.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-vector210" /><img
                src="public/external/vector38001-l014.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-vector310" /><img
                src="public/external/vector48001-22xb.svg"
                alt="Vector48001"
                class="mi-perfil-administrador-vector4" /></div></div
          ><div
            class="mi-perfil-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="mi-perfil-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8001-jbld.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-vector13" /><img
                src="public/external/vector28001-wf3m.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-vector211" /><img
                src="public/external/vector25218001-d366.svg"
                alt="Vector25218001"
                class="mi-perfil-administrador-vector2521" /><img
                src="public/external/vector25228001-a4ym.svg"
                alt="Vector25228001"
                class="mi-perfil-administrador-vector2522" /><img
                src="public/external/vector25238001-rpd8.svg"
                alt="Vector25238001"
                class="mi-perfil-administrador-vector2523" /><img
                src="public/external/vector25248001-41t.svg"
                alt="Vector25248001"
                class="mi-perfil-administrador-vector2524" /></div></div
          ><div
            class="mi-perfil-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="mi-perfil-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8001-4ujv.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-vector14" /><img
                src="public/external/vector28001-y13v.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-vector212" /><img
                src="public/external/vector38001-tec.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-vector311" /></div></div></div></div
    ></div> </body
></html>
