<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Mi-perfil-Administrador-editar - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Mi-perfil-Administrador-editar - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./mi-perfil-administrador-editar.css" rel="stylesheet" /><div
        class="mi-perfil-administrador-editar-container"
        ><div
          class="mi-perfil-administrador-editar-miperfil-administradoreditar"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/1006a934-0704-46f1-983c-2e7348674430?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27646"
            class="mi-perfil-administrador-editar-rectangle2" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/de331a49-fe82-48dd-aa5e-11f75caa4f5a?org_if_sml=1160458&amp;force_format=original"
            alt="Rectangle107646"
            class="mi-perfil-administrador-editar-rectangle10" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/40e93788-9f58-452b-9720-6faba4a5bdd7?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7646"
            class="mi-perfil-administrador-editar-dashboardbg" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/cf7ed2c6-a0b8-4fce-9052-d8f5dec3590e?org_if_sml=123078&amp;force_format=original"
            alt="Rectangle67646"
            class="mi-perfil-administrador-editar-rectangle6" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/34c38f4f-d713-4650-a58d-2aaffc486c2a?org_if_sml=18470&amp;force_format=original"
            alt="Rectangle37646"
            class="mi-perfil-administrador-editar-rectangle3" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/be7c4b61-8771-4eaf-95ca-2408e8597162?org_if_sml=18470&amp;force_format=original"
            alt="Rectangle157646"
            class="mi-perfil-administrador-editar-rectangle15" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/b648d311-48a9-4e8d-b03b-539509562e6e?org_if_sml=18470&amp;force_format=original"
            alt="Rectangle147646"
            class="mi-perfil-administrador-editar-rectangle14" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/d2b3f939-2118-4f27-bf9c-035beb3a627c?org_if_sml=18470&amp;force_format=original"
            alt="Rectangle137646"
            class="mi-perfil-administrador-editar-rectangle13" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/9cc51440-263a-4b9a-b9d8-539f12bba5b2?org_if_sml=18470&amp;force_format=original"
            alt="Rectangle127646"
            class="mi-perfil-administrador-editar-rectangle12" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/4d465989-2901-4305-bee4-978e1a61cf76?org_if_sml=18470&amp;force_format=original"
            alt="Rectangle117646"
            class="mi-perfil-administrador-editar-rectangle11" /><span
            class="mi-perfil-administrador-editar-text"
            ><span>* Nombre</span></span
          ><span class="mi-perfil-administrador-editar-text02"
            ><span>* Apellido</span></span
          ><span class="mi-perfil-administrador-editar-text04"
            ><span>* Cédula</span></span
          ><span class="mi-perfil-administrador-editar-text06"
            ><span>* Télefono</span></span
          ><span class="mi-perfil-administrador-editar-text08"
            ><span>* Contraseña</span></span
          ><span class="mi-perfil-administrador-editar-text10"
            ><span>* Correo</span></span
          ><span class="mi-perfil-administrador-editar-text12"
            ><span>Luis Alfredo</span></span
          ><span class="mi-perfil-administrador-editar-text14"
            ><span>000-0000000-0</span></span
          ><span class="mi-perfil-administrador-editar-text16"
            ><span>(000) 000-0000</span></span
          ><span class="mi-perfil-administrador-editar-text18"
            ><span>example@sgd.com.do</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/4fccc7fc-4589-4b95-bdfa-0f5757f52919?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37646"
            class="mi-perfil-administrador-editar-image170640173paddedlogo3" /><span
            class="mi-perfil-administrador-editar-text20"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="mi-perfil-administrador-editar-text22"
            ><span>alfredo.sgd</span></span
          ><div
            class="mi-perfil-administrador-editar-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="mi-perfil-administrador-editar-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector7647-z2jo.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-editar-vector" /><img
                src="public/external/vector27647-342.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-editar-vector2" /><img
                src="public/external/vector37647-pru.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-editar-vector3" /></div></div
          ><div
            class="mi-perfil-administrador-editar-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="mi-perfil-administrador-editar-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector7647-9q5.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-editar-vector01" /><img
                src="public/external/vector27647-etk.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-editar-vector201" /><img
                src="public/external/vector37647-dwr5.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-editar-vector301" /></div></div
          ><span class="mi-perfil-administrador-editar-text24">v</span
          ><div
            class="mi-perfil-administrador-editar-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="mi-perfil-administrador-editar-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7647-0mb.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-editar-vector02" /><img
                src="public/external/vector27647-b2f.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-editar-vector202" /><img
                src="public/external/vector37647-lcne.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-editar-vector302" /></div></div
          ><div
            class="mi-perfil-administrador-editar-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="mi-perfil-administrador-editar-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7647-hkl.svg"
                alt="Vector7647"
                class="mi-perfil-administrador-editar-vector03" /><img
                src="public/external/vector27647-eht.svg"
                alt="Vector27647"
                class="mi-perfil-administrador-editar-vector203" /><img
                src="public/external/vector37647-v1bl.svg"
                alt="Vector37647"
                class="mi-perfil-administrador-editar-vector303" /></div></div
          ><span class="mi-perfil-administrador-editar-text25"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/line127647-3j1.svg"
            alt="Line127647"
            class="mi-perfil-administrador-editar-line12" /><span
            class="mi-perfil-administrador-editar-text27"
            ><span>Perez Castillo</span></span
          ><span class="mi-perfil-administrador-editar-text29"
            ><span>***********</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/4508d2e6-3ab5-45b5-98ca-d02b24520087?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle197647"
            class="mi-perfil-administrador-editar-rectangle19" /><span
            class="mi-perfil-administrador-editar-text31"
            ><span>Guardar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/06b381db-7003-4646-89d9-a2c6a4ea9938?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle207647"
            class="mi-perfil-administrador-editar-rectangle20" /><span
            class="mi-perfil-administrador-editar-text33"
            ><span>Cancelar</span></span
          ><div
            class="mi-perfil-administrador-editar-usercirclesinglecirclegeometrichumanpersonsingleus4"
            ><div
              class="mi-perfil-administrador-editar-usercirclesinglecirclegeometrichumanpersonsingleus5"
              ><img
                src="public/external/vector7677-st5.svg"
                alt="Vector7677"
                class="mi-perfil-administrador-editar-vector04" /><img
                src="public/external/vector27677-z1v9.svg"
                alt="Vector27677"
                class="mi-perfil-administrador-editar-vector204" /><img
                src="public/external/vector37677-xrc8.svg"
                alt="Vector37677"
                class="mi-perfil-administrador-editar-vector304" /></div></div
          ><div
            class="mi-perfil-administrador-editar-usercirclesinglecirclegeometrichumanpersonsingleus6"
            ><div
              class="mi-perfil-administrador-editar-usercirclesinglecirclegeometrichumanpersonsingleus7"
              ><img
                src="public/external/vector7677-qw7l.svg"
                alt="Vector7677"
                class="mi-perfil-administrador-editar-vector05" /><img
                src="public/external/vector27677-s07b.svg"
                alt="Vector27677"
                class="mi-perfil-administrador-editar-vector205" /><img
                src="public/external/vector37677-kb4d.svg"
                alt="Vector37677"
                class="mi-perfil-administrador-editar-vector305" /></div></div
          ><span class="mi-perfil-administrador-editar-text35"
            ><span>Administrador</span></span
          ><span class="mi-perfil-administrador-editar-text37">|</span
          ><span class="mi-perfil-administrador-editar-text38"
            ><span>Secretaria General</span></span
          ><span class="mi-perfil-administrador-editar-text40"
            ><span>Luis Alfredo Perez Castillo</span></span
          ><span class="mi-perfil-administrador-editar-text42"
            ><span>Documentos</span></span
          ><span class="mi-perfil-administrador-editar-text44"
            ><span>Reportes</span></span
          ><span class="mi-perfil-administrador-editar-text46"
            ><span>Actividades</span></span
          ><span class="mi-perfil-administrador-editar-text48"
            ><span>Plantillas</span></span
          ><span class="mi-perfil-administrador-editar-text50"
            ><span>Departamentos</span></span
          ><span class="mi-perfil-administrador-editar-text52"
            ><span>Categorías</span></span
          ><span class="mi-perfil-administrador-editar-text54"
            ><span>Usuarios</span></span
          ><div
            class="mi-perfil-administrador-editar-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="mi-perfil-administrador-editar-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8001-xdcm.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-editar-vector06" /><img
                src="public/external/vector28001-fvo.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-editar-vector206" /><img
                src="public/external/vector38001-v8d.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-editar-vector306" /></div></div
          ><div
            class="mi-perfil-administrador-editar-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="mi-perfil-administrador-editar-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8001-uie.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-editar-vector07" /><img
                src="public/external/vector28001-m7iq.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-editar-vector207" /><img
                src="public/external/vector38001-2axu.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-editar-vector307" /></div></div
          ><div class="mi-perfil-administrador-editar-onefingerhold"
            ><div class="mi-perfil-administrador-editar-onefingerhold1"
              ><img
                src="public/external/ellipse508001-5en7.svg"
                alt="Ellipse508001"
                class="mi-perfil-administrador-editar-ellipse50" /><img
                src="public/external/vector2258001-1t3g.svg"
                alt="Vector2258001"
                class="mi-perfil-administrador-editar-vector225" /><img
                src="public/external/vector1078001-u8e.svg"
                alt="Vector1078001"
                class="mi-perfil-administrador-editar-vector107" /><img
                src="public/external/ellipse3028001-rdp.svg"
                alt="Ellipse3028001"
                class="mi-perfil-administrador-editar-ellipse302" /></div></div
          ><div class="mi-perfil-administrador-editar-onefingerhold2"
            ><div class="mi-perfil-administrador-editar-onefingerhold3"
              ><img
                src="public/external/ellipse508001-dpp.svg"
                alt="Ellipse508001"
                class="mi-perfil-administrador-editar-ellipse501" /><img
                src="public/external/vector2258001-0ff7.svg"
                alt="Vector2258001"
                class="mi-perfil-administrador-editar-vector2251" /><img
                src="public/external/vector1078001-nxj8.svg"
                alt="Vector1078001"
                class="mi-perfil-administrador-editar-vector1071" /><img
                src="public/external/ellipse3028001-0m1k.svg"
                alt="Ellipse3028001"
                class="mi-perfil-administrador-editar-ellipse3021" /></div></div
          ><div
            class="mi-perfil-administrador-editar-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="mi-perfil-administrador-editar-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8001-auir.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-editar-vector08" /><img
                src="public/external/vector28001-pxhl.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-editar-vector208" /><img
                src="public/external/vector38001-0iw9.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-editar-vector308" /></div></div
          ><div
            class="mi-perfil-administrador-editar-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="mi-perfil-administrador-editar-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8001-fv22.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-editar-vector09" /><img
                src="public/external/vector28001-jgh.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-editar-vector209" /><img
                src="public/external/vector38001-j62i.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-editar-vector309" /></div></div
          ><div
            class="mi-perfil-administrador-editar-newfileemptycommonfilecontent"
            ><div
              class="mi-perfil-administrador-editar-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8001-82qi.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-editar-vector10" /><img
                src="public/external/vector25298001-ncst.svg"
                alt="Vector25298001"
                class="mi-perfil-administrador-editar-vector2529" /></div></div
          ><div
            class="mi-perfil-administrador-editar-newfileemptycommonfilecontent2"
            ><div
              class="mi-perfil-administrador-editar-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8001-3vmh.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-editar-vector11" /><img
                src="public/external/vector25298001-rn1.svg"
                alt="Vector25298001"
                class="mi-perfil-administrador-editar-vector25291" /></div></div
          ><div
            class="mi-perfil-administrador-editar-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="mi-perfil-administrador-editar-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8001-89bw.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-editar-vector12" /><img
                src="public/external/vector28001-z1xg.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-editar-vector210" /><img
                src="public/external/vector38001-w8f.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-editar-vector310" /><img
                src="public/external/vector48001-k7of.svg"
                alt="Vector48001"
                class="mi-perfil-administrador-editar-vector4" /></div></div
          ><div
            class="mi-perfil-administrador-editar-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="mi-perfil-administrador-editar-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8001-cix.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-editar-vector13" /><img
                src="public/external/vector28001-48zs.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-editar-vector211" /><img
                src="public/external/vector25218001-bkmc.svg"
                alt="Vector25218001"
                class="mi-perfil-administrador-editar-vector2521" /><img
                src="public/external/vector25228001-y2oi.svg"
                alt="Vector25228001"
                class="mi-perfil-administrador-editar-vector2522" /><img
                src="public/external/vector25238001-ylre.svg"
                alt="Vector25238001"
                class="mi-perfil-administrador-editar-vector2523" /><img
                src="public/external/vector25248001-j68l.svg"
                alt="Vector25248001"
                class="mi-perfil-administrador-editar-vector2524" /></div></div
          ><div
            class="mi-perfil-administrador-editar-layers2designlayerlayerspilestackalign"
            ><div
              class="mi-perfil-administrador-editar-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8001-var.svg"
                alt="Vector8001"
                class="mi-perfil-administrador-editar-vector14" /><img
                src="public/external/vector28001-v5qn.svg"
                alt="Vector28001"
                class="mi-perfil-administrador-editar-vector212" /><img
                src="public/external/vector38001-7oq5.svg"
                alt="Vector38001"
                class="mi-perfil-administrador-editar-vector311" /></div></div></div></div
    ></div> </body
></html>
