<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Modificar-Usuarios-Administrador - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Modificar-Usuarios-Administrador - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./modificar-usuarios-administrador.css"
        rel="stylesheet" /><div
        class="modificar-usuarios-administrador-container"
        ><div
          class="modificar-usuarios-administrador-modificar-usuarios-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/ad165ee1-b1b1-4c04-9379-c6616ab998a4?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29091"
            class="modificar-usuarios-administrador-rectangle2" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/41fb4fd8-d11f-48d9-97db-2291f09f7601?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9091"
            class="modificar-usuarios-administrador-dashboardbg" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/f861832e-9156-4e38-b89b-a74e766f3081?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39091"
            class="modificar-usuarios-administrador-image170640173paddedlogo3" /><span
            class="modificar-usuarios-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="modificar-usuarios-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="modificar-usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="modificar-usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9091-vtgd.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector" /><img
                src="public/external/vector29091-ukic.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector2" /><img
                src="public/external/vector39091-ala.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector3" /></div></div
          ><div
            class="modificar-usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="modificar-usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9091-ee1l.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector01" /><img
                src="public/external/vector29091-d36e.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector201" /><img
                src="public/external/vector39091-bejc.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector301" /></div></div
          ><span class="modificar-usuarios-administrador-text04">v</span
          ><div
            class="modificar-usuarios-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="modificar-usuarios-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9091-i47h.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector02" /><img
                src="public/external/vector29091-vk18.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector202" /><img
                src="public/external/vector39091-pfgn.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector302" /></div></div
          ><div
            class="modificar-usuarios-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="modificar-usuarios-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9091-po7e.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector03" /><img
                src="public/external/vector29091-gbbp.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector203" /><img
                src="public/external/vector39091-ncb.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector303" /></div></div
          ><span class="modificar-usuarios-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><span class="modificar-usuarios-administrador-text07"
            ><span>Documentos</span></span
          ><span class="modificar-usuarios-administrador-text09"
            ><span>Reportes</span></span
          ><span class="modificar-usuarios-administrador-text11"
            ><span>Actividades</span></span
          ><span class="modificar-usuarios-administrador-text13"
            ><span>Plantillas</span></span
          ><span class="modificar-usuarios-administrador-text15"
            ><span>Departamentos</span></span
          ><span class="modificar-usuarios-administrador-text17"
            ><span>Categorías</span></span
          ><span class="modificar-usuarios-administrador-text19"
            ><span>Usuarios</span></span
          ><span class="modificar-usuarios-administrador-text21"
            ><span>Usuarios</span></span
          ><div
            class="modificar-usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="modificar-usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9091-rig.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector04" /><img
                src="public/external/vector29091-pume.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector204" /><img
                src="public/external/vector39091-z6fj.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector304" /></div></div
          ><div
            class="modificar-usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="modificar-usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9091-70bn.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector05" /><img
                src="public/external/vector29091-4w9q.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector205" /><img
                src="public/external/vector39091-0u8t.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector305" /></div></div
          ><div class="modificar-usuarios-administrador-onefingerhold"
            ><div class="modificar-usuarios-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509091-impe.svg"
                alt="Ellipse509091"
                class="modificar-usuarios-administrador-ellipse50" /><img
                src="public/external/vector2259091-3ep9.svg"
                alt="Vector2259091"
                class="modificar-usuarios-administrador-vector225" /><img
                src="public/external/vector1079091-ycec.svg"
                alt="Vector1079091"
                class="modificar-usuarios-administrador-vector107" /><img
                src="public/external/ellipse3029091-4wh.svg"
                alt="Ellipse3029091"
                class="modificar-usuarios-administrador-ellipse302" /></div></div
          ><div class="modificar-usuarios-administrador-onefingerhold2"
            ><div class="modificar-usuarios-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509091-yeu.svg"
                alt="Ellipse509091"
                class="modificar-usuarios-administrador-ellipse501" /><img
                src="public/external/vector2259091-l1m.svg"
                alt="Vector2259091"
                class="modificar-usuarios-administrador-vector2251" /><img
                src="public/external/vector1079091-ofva.svg"
                alt="Vector1079091"
                class="modificar-usuarios-administrador-vector1071" /><img
                src="public/external/ellipse3029091-geyb.svg"
                alt="Ellipse3029091"
                class="modificar-usuarios-administrador-ellipse3021" /></div></div
          ><div
            class="modificar-usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="modificar-usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9091-w6mx.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector06" /><img
                src="public/external/vector29091-j3jl.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector206" /><img
                src="public/external/vector39091-lwum.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector306" /></div></div
          ><div
            class="modificar-usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="modificar-usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9091-vzv9.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector07" /><img
                src="public/external/vector29091-e0y.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector207" /><img
                src="public/external/vector39091-ix1l.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector307" /></div></div
          ><div
            class="modificar-usuarios-administrador-newfileemptycommonfilecontent"
            ><div
              class="modificar-usuarios-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9091-xait.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector08" /><img
                src="public/external/vector25299091-o6ai.svg"
                alt="Vector25299091"
                class="modificar-usuarios-administrador-vector2529" /></div></div
          ><div
            class="modificar-usuarios-administrador-newfileemptycommonfilecontent2"
            ><div
              class="modificar-usuarios-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9091-o71.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector09" /><img
                src="public/external/vector25299091-k2mf.svg"
                alt="Vector25299091"
                class="modificar-usuarios-administrador-vector25291" /></div></div
          ><div
            class="modificar-usuarios-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="modificar-usuarios-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9091-2wiu.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector10" /><img
                src="public/external/vector29091-wmle.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector208" /><img
                src="public/external/vector39091-gscl.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector308" /><img
                src="public/external/vector49091-sfzg.svg"
                alt="Vector49091"
                class="modificar-usuarios-administrador-vector4" /></div></div
          ><div
            class="modificar-usuarios-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="modificar-usuarios-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9091-gmof.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector11" /><img
                src="public/external/vector29091-m2z7.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector209" /><img
                src="public/external/vector25219091-9us.svg"
                alt="Vector25219091"
                class="modificar-usuarios-administrador-vector2521" /><img
                src="public/external/vector25229091-qc8p.svg"
                alt="Vector25229091"
                class="modificar-usuarios-administrador-vector2522" /><img
                src="public/external/vector25239091-j2h.svg"
                alt="Vector25239091"
                class="modificar-usuarios-administrador-vector2523" /><img
                src="public/external/vector25249091-2bh.svg"
                alt="Vector25249091"
                class="modificar-usuarios-administrador-vector2524" /></div></div
          ><div
            class="modificar-usuarios-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="modificar-usuarios-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9091-r58.svg"
                alt="Vector9091"
                class="modificar-usuarios-administrador-vector12" /><img
                src="public/external/vector29091-vw8q.svg"
                alt="Vector29091"
                class="modificar-usuarios-administrador-vector210" /><img
                src="public/external/vector39091-nq8a.svg"
                alt="Vector39091"
                class="modificar-usuarios-administrador-vector309" /></div></div
          ><span class="modificar-usuarios-administrador-text23"
            ><span>Modificar Usuario: alfredosgd</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/a6a6cc2d-409a-458f-97b4-b95fde3857bb?org_if_sml=112191&amp;force_format=original"
            alt="Rectangle39091"
            class="modificar-usuarios-administrador-rectangle3" /><span
            class="modificar-usuarios-administrador-text25"
            ><span>Luis Alfredo</span></span
          ><span class="modificar-usuarios-administrador-text27"
            ><span>* Nombres</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/09878988-b950-49dc-a848-77a95f3863f8?org_if_sml=112241&amp;force_format=original"
            alt="Rectangle219091"
            class="modificar-usuarios-administrador-rectangle21" /><span
            class="modificar-usuarios-administrador-text29"
            ><span>Pérez Castillo</span></span
          ><span class="modificar-usuarios-administrador-text31"
            ><span>* Apellidos</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/809e72cc-ed99-46af-8ce4-87cdb6a35a5f?org_if_sml=112241&amp;force_format=original"
            alt="Rectangle229091"
            class="modificar-usuarios-administrador-rectangle22" /><span
            class="modificar-usuarios-administrador-text33"
            ><span>Secretaría General</span></span
          ><span class="modificar-usuarios-administrador-text35"
            ><span>* Departamento</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/6483dc04-22ba-4a0d-ab48-70825ee1edc1?org_if_sml=115066&amp;force_format=original"
            alt="Rectangle239091"
            class="modificar-usuarios-administrador-rectangle23" /><span
            class="modificar-usuarios-administrador-text37"
            ><span>alfredosgd@sgd.com</span></span
          ><span class="modificar-usuarios-administrador-text39"
            ><span>* Correo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/18a99dc4-3171-4009-9182-4cd9e56ee901?org_if_sml=112257&amp;force_format=original"
            alt="Rectangle249091"
            class="modificar-usuarios-administrador-rectangle24" /><span
            class="modificar-usuarios-administrador-text41"
            ><span>402-1482327-6</span></span
          ><span class="modificar-usuarios-administrador-text43"
            ><span>* Cédula</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/fb2768c3-bd81-4426-a3ae-7d2d0cd12cd5?org_if_sml=112258&amp;force_format=original"
            alt="Rectangle259091"
            class="modificar-usuarios-administrador-rectangle25" /><span
            class="modificar-usuarios-administrador-text45"
            ><span>(829) 427-6346</span></span
          ><span class="modificar-usuarios-administrador-text47"
            ><span>* Télefono</span></span
          ><span class="modificar-usuarios-administrador-text49"
            ><span>* Firmar documento:</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/0b2d1da5-3274-47b9-a08a-6e653e9a3332?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle329091"
            class="modificar-usuarios-administrador-rectangle32" /><span
            class="modificar-usuarios-administrador-text51"
            ><span>* Restablecer doble factor:</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/32a6579a-3642-4723-872e-ca39a45475e8?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle349091"
            class="modificar-usuarios-administrador-rectangle34" /><span
            class="modificar-usuarios-administrador-text53"
            ><span>* Reestablecer contraseña:</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/d3ac3b40-986d-44ee-a992-579ca037ab77?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle339091"
            class="modificar-usuarios-administrador-rectangle33" /><span
            class="modificar-usuarios-administrador-text55"
            ><span>* Desactivar usuario:</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/ebdff911-431d-4f8f-9ba5-f203b56b3248?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle359091"
            class="modificar-usuarios-administrador-rectangle35" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/c3aabb05-cf21-499e-8f68-18451324dcac?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle199091"
            class="modificar-usuarios-administrador-rectangle19" /><span
            class="modificar-usuarios-administrador-text57"
            ><span>Guardar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/e225e6b4-6e98-42f7-80f3-9f61a5544372?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle209091"
            class="modificar-usuarios-administrador-rectangle20" /><span
            class="modificar-usuarios-administrador-text59"
            ><span>Cancelar</span></span
          ><span class="modificar-usuarios-administrador-text61"
            ><span>* Roles:</span></span
          ><span class="modificar-usuarios-administrador-text63"
            ><span>Visualizador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/cf4d5ab1-8409-4474-850c-4a1e2eca6356?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle379632"
            class="modificar-usuarios-administrador-rectangle37" /><span
            class="modificar-usuarios-administrador-text65"
            ><span>Digitalizador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/68744d7f-422a-4d1e-9812-fb3181ebe0f1?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle389632"
            class="modificar-usuarios-administrador-rectangle38" /><span
            class="modificar-usuarios-administrador-text67"
            ><span>Administrador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/6a24d37b-e336-43b7-a687-e98a7e147bfa?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle369632"
            class="modificar-usuarios-administrador-rectangle36" /></div></div
    ></div> </body
></html>
