<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Registro-de-documentos-Administrador - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Registro-de-documentos-Administrador - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./registro-de-documentos-administrador.css"
        rel="stylesheet"
      /><div class="registro-de-documentos-administrador-container"
        ><div
          class="registro-de-documentos-administrador-registrodedocumentos-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/42d7cb1d-2a51-4813-8a3b-05925c7bc3f3?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27708"
            class="registro-de-documentos-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/fdc12207-e69b-430a-80f8-e5e0d65c3418?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7708"
            class="registro-de-documentos-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/0692cc54-cb16-4439-b4e9-a4188e8dea39?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37708"
            class="registro-de-documentos-administrador-image170640173paddedlogo3"
          /><span class="registro-de-documentos-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="registro-de-documentos-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="registro-de-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="registro-de-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector7708-zftv.svg"
                alt="Vector7708"
                class="registro-de-documentos-administrador-vector" /><img
                src="public/external/vector27708-aace.svg"
                alt="Vector27708"
                class="registro-de-documentos-administrador-vector2" /><img
                src="public/external/vector37708-aai.svg"
                alt="Vector37708"
                class="registro-de-documentos-administrador-vector3" /></div></div
          ><div
            class="registro-de-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="registro-de-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector7708-4mx.svg"
                alt="Vector7708"
                class="registro-de-documentos-administrador-vector01" /><img
                src="public/external/vector27708-xxkn.svg"
                alt="Vector27708"
                class="registro-de-documentos-administrador-vector201" /><img
                src="public/external/vector37708-lka5.svg"
                alt="Vector37708"
                class="registro-de-documentos-administrador-vector301" /></div></div
          ><span class="registro-de-documentos-administrador-text04">v</span
          ><div
            class="registro-de-documentos-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="registro-de-documentos-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7708-vzfn.svg"
                alt="Vector7708"
                class="registro-de-documentos-administrador-vector02" /><img
                src="public/external/vector27708-jfak.svg"
                alt="Vector27708"
                class="registro-de-documentos-administrador-vector202" /><img
                src="public/external/vector37708-oerl.svg"
                alt="Vector37708"
                class="registro-de-documentos-administrador-vector302" /></div></div
          ><div
            class="registro-de-documentos-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="registro-de-documentos-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7708-heyl.svg"
                alt="Vector7708"
                class="registro-de-documentos-administrador-vector03" /><img
                src="public/external/vector27708-xefo7.svg"
                alt="Vector27708"
                class="registro-de-documentos-administrador-vector203" /><img
                src="public/external/vector37708-cs6h.svg"
                alt="Vector37708"
                class="registro-de-documentos-administrador-vector303" /></div></div
          ><span class="registro-de-documentos-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/003a3a41-d6ef-46a5-921f-499803728664?org_if_sml=112420&amp;force_format=original"
            alt="Rectangle37708"
            class="registro-de-documentos-administrador-rectangle3"
          /><img
            src="public/external/rectangle57708-7xz9.svg"
            alt="Rectangle57708"
            class="registro-de-documentos-administrador-rectangle5"
          /><img
            src="public/external/rectangle97708-5zyc.svg"
            alt="Rectangle97708"
            class="registro-de-documentos-administrador-rectangle9"
          /><span class="registro-de-documentos-administrador-text07"
            ><span>Nombre de plantilla</span></span
          ><span class="registro-de-documentos-administrador-text09"
            ><span>#0000</span></span
          ><span class="registro-de-documentos-administrador-text11"
            ><span>Arrastra o inserta el archivo</span></span
          ><span class="registro-de-documentos-administrador-text13"
            ><span>* Plantilla</span></span
          ><span class="registro-de-documentos-administrador-text15"
            ><span>* Código</span></span
          ><span class="registro-de-documentos-administrador-text17"
            ><span>* Adjuntar documento</span></span
          ><span class="registro-de-documentos-administrador-text19"
            ><span>* Adjuntar documento</span></span
          ><span class="registro-de-documentos-administrador-text21"
            ><span> prueba.pdf</span></span
          ><span class="registro-de-documentos-administrador-text23"
            ><span>* Cédula</span></span
          ><img
            src="public/external/rectangle67708-mmqd.svg"
            alt="Rectangle67708"
            class="registro-de-documentos-administrador-rectangle6"
          /><span class="registro-de-documentos-administrador-text25"
            ><span>* Tipo</span></span
          ><img
            src="public/external/rectangle77708-vfnn.svg"
            alt="Rectangle77708"
            class="registro-de-documentos-administrador-rectangle7"
          /><span class="registro-de-documentos-administrador-text27"
            ><span>* Fecha</span></span
          ><span class="registro-de-documentos-administrador-text29"
            ><span>Acta de Nacimiento</span></span
          ><span class="registro-de-documentos-administrador-text31"
            ><span>000-0000000-0</span></span
          ><img
            src="public/external/rectangle87708-fb4.svg"
            alt="Rectangle87708"
            class="registro-de-documentos-administrador-rectangle8"
          /><span class="registro-de-documentos-administrador-text33"
            ><span>Rellenar campos de plantilla</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/7c375082-1e08-4f86-98e8-34ddecf8afc5?org_if_sml=112420&amp;force_format=original"
            alt="Rectangle47708"
            class="registro-de-documentos-administrador-rectangle4"
          /><span class="registro-de-documentos-administrador-text35"
            ><span>Nombre de la categoría</span></span
          ><span class="registro-de-documentos-administrador-text37"
            ><span>* Categoría</span></span
          ><span class="registro-de-documentos-administrador-text39"
            ><span>dd/MM/YYYY</span></span
          ><img
            src="public/external/line97708-ft69.svg"
            alt="Line97708"
            class="registro-de-documentos-administrador-line9"
          /><img
            src="public/external/line107708-tw1f.svg"
            alt="Line107708"
            class="registro-de-documentos-administrador-line10"
          /><div
            class="registro-de-documentos-administrador-apply-applyin-circle-larger"
            ><img
              src="public/external/svgstrokedi770-eegk.svg"
              alt="SVGSTROKEDI770"
              class="registro-de-documentos-administrador-svgstroked" /></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/f23d1348-5360-4790-b5d8-7e826d9be6bf?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle197708"
            class="registro-de-documentos-administrador-rectangle19"
          /><span class="registro-de-documentos-administrador-text41"
            ><span>Registrar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/373d2e86-f275-4f16-a048-3401f89e0448?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle207708"
            class="registro-de-documentos-administrador-rectangle20"
          /><span class="registro-de-documentos-administrador-text43"
            ><span>Cancelar</span></span
          ><span class="registro-de-documentos-administrador-text45"
            ><span>Documentos</span></span
          ><span class="registro-de-documentos-administrador-text47"
            ><span>Documentos</span></span
          ><span class="registro-de-documentos-administrador-text49"
            ><span>Reportes</span></span
          ><span class="registro-de-documentos-administrador-text51"
            ><span>Actividades</span></span
          ><span class="registro-de-documentos-administrador-text53"
            ><span>Plantillas</span></span
          ><span class="registro-de-documentos-administrador-text55"
            ><span>Departamentos</span></span
          ><span class="registro-de-documentos-administrador-text57"
            ><span>Categorías</span></span
          ><span class="registro-de-documentos-administrador-text59"
            ><span>Usuarios</span></span
          ><div
            class="registro-de-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="registro-de-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8306-8bp5.svg"
                alt="Vector8306"
                class="registro-de-documentos-administrador-vector04" /><img
                src="public/external/vector28306-0y4h.svg"
                alt="Vector28306"
                class="registro-de-documentos-administrador-vector204" /><img
                src="public/external/vector38306-f7in.svg"
                alt="Vector38306"
                class="registro-de-documentos-administrador-vector304" /></div></div
          ><div
            class="registro-de-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="registro-de-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8306-0iv7.svg"
                alt="Vector8306"
                class="registro-de-documentos-administrador-vector05" /><img
                src="public/external/vector28306-ng4.svg"
                alt="Vector28306"
                class="registro-de-documentos-administrador-vector205" /><img
                src="public/external/vector38306-qglk.svg"
                alt="Vector38306"
                class="registro-de-documentos-administrador-vector305" /></div></div
          ><div class="registro-de-documentos-administrador-onefingerhold"
            ><div class="registro-de-documentos-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508306-n5ri.svg"
                alt="Ellipse508306"
                class="registro-de-documentos-administrador-ellipse50" /><img
                src="public/external/vector2258306-s0r0r.svg"
                alt="Vector2258306"
                class="registro-de-documentos-administrador-vector225" /><img
                src="public/external/vector1078306-1i8.svg"
                alt="Vector1078306"
                class="registro-de-documentos-administrador-vector107" /><img
                src="public/external/ellipse3028306-47ig.svg"
                alt="Ellipse3028306"
                class="registro-de-documentos-administrador-ellipse302" /></div></div
          ><div class="registro-de-documentos-administrador-onefingerhold2"
            ><div class="registro-de-documentos-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508306-x5vn.svg"
                alt="Ellipse508306"
                class="registro-de-documentos-administrador-ellipse501" /><img
                src="public/external/vector2258306-oi5qt.svg"
                alt="Vector2258306"
                class="registro-de-documentos-administrador-vector2251" /><img
                src="public/external/vector1078306-h20c.svg"
                alt="Vector1078306"
                class="registro-de-documentos-administrador-vector1071" /><img
                src="public/external/ellipse3028306-yu4.svg"
                alt="Ellipse3028306"
                class="registro-de-documentos-administrador-ellipse3021" /></div></div
          ><div
            class="registro-de-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="registro-de-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8306-xbfn.svg"
                alt="Vector8306"
                class="registro-de-documentos-administrador-vector06" /><img
                src="public/external/vector28306-0489.svg"
                alt="Vector28306"
                class="registro-de-documentos-administrador-vector206" /><img
                src="public/external/vector38306-891f.svg"
                alt="Vector38306"
                class="registro-de-documentos-administrador-vector306" /></div></div
          ><div
            class="registro-de-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="registro-de-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8306-qjq.svg"
                alt="Vector8306"
                class="registro-de-documentos-administrador-vector07" /><img
                src="public/external/vector28306-kkwr.svg"
                alt="Vector28306"
                class="registro-de-documentos-administrador-vector207" /><img
                src="public/external/vector38306-104r.svg"
                alt="Vector38306"
                class="registro-de-documentos-administrador-vector307" /></div></div
          ><div
            class="registro-de-documentos-administrador-newfileemptycommonfilecontent"
            ><div
              class="registro-de-documentos-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8307-vntn.svg"
                alt="Vector8307"
                class="registro-de-documentos-administrador-vector08" /><img
                src="public/external/vector25298307-zcdp.svg"
                alt="Vector25298307"
                class="registro-de-documentos-administrador-vector2529" /></div></div
          ><div
            class="registro-de-documentos-administrador-newfileemptycommonfilecontent2"
            ><div
              class="registro-de-documentos-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8307-peth.svg"
                alt="Vector8307"
                class="registro-de-documentos-administrador-vector09" /><img
                src="public/external/vector25298307-w2n.svg"
                alt="Vector25298307"
                class="registro-de-documentos-administrador-vector25291" /></div></div
          ><div
            class="registro-de-documentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="registro-de-documentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8307-w94.svg"
                alt="Vector8307"
                class="registro-de-documentos-administrador-vector10" /><img
                src="public/external/vector28307-bfcs.svg"
                alt="Vector28307"
                class="registro-de-documentos-administrador-vector208" /><img
                src="public/external/vector38307-c4sp.svg"
                alt="Vector38307"
                class="registro-de-documentos-administrador-vector308" /><img
                src="public/external/vector48307-qcf.svg"
                alt="Vector48307"
                class="registro-de-documentos-administrador-vector4" /></div></div
          ><div
            class="registro-de-documentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="registro-de-documentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8307-4xcb.svg"
                alt="Vector8307"
                class="registro-de-documentos-administrador-vector11" /><img
                src="public/external/vector28307-d9oj.svg"
                alt="Vector28307"
                class="registro-de-documentos-administrador-vector209" /><img
                src="public/external/vector25218307-yqk5.svg"
                alt="Vector25218307"
                class="registro-de-documentos-administrador-vector2521" /><img
                src="public/external/vector25228307-dvsb.svg"
                alt="Vector25228307"
                class="registro-de-documentos-administrador-vector2522" /><img
                src="public/external/vector25238307-zmr.svg"
                alt="Vector25238307"
                class="registro-de-documentos-administrador-vector2523" /><img
                src="public/external/vector25248307-pff.svg"
                alt="Vector25248307"
                class="registro-de-documentos-administrador-vector2524" /></div></div
          ><div
            class="registro-de-documentos-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="registro-de-documentos-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8307-tuxg.svg"
                alt="Vector8307"
                class="registro-de-documentos-administrador-vector12" /><img
                src="public/external/vector28307-spp7.svg"
                alt="Vector28307"
                class="registro-de-documentos-administrador-vector210" /><img
                src="public/external/vector38307-jml.svg"
                alt="Vector38307"
                class="registro-de-documentos-administrador-vector309" /></div></div
          ><span class="registro-de-documentos-administrador-text61"
            ><span>Registrar Documentos</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
