<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Solicitar-ingreso - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Solicitar-ingreso - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./solicitar-ingreso.css" rel="stylesheet" /><div
        class="solicitar-ingreso-container"
        ><div class="solicitar-ingreso-solicitaringreso"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/85e4d7ad-23e1-44c4-a2f3-74b0e716477f?org_if_sml=116020&amp;force_format=original"
            alt="Rectangle56231"
            class="solicitar-ingreso-rectangle5"
          /><span class="solicitar-ingreso-text"><span>Registrarse</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/7ab5fdd3-8578-4c40-b01b-5da0dc97acbe?org_if_sml=1207&amp;force_format=original"
            alt="Rectangle56197"
            class="solicitar-ingreso-rectangle51"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/a18ef2da-4f1b-494c-a5dc-c1b3f39ead86?org_if_sml=1759&amp;force_format=original"
            alt="Rectangle136231"
            class="solicitar-ingreso-rectangle13"
          /><span class="solicitar-ingreso-text02"
            ><span
              >He leído los términos de condiciones y políticas de uso del
              sistema.</span
            ></span
          ><span class="solicitar-ingreso-text04">*</span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/5f67b724-2eb9-4fa8-ad1a-10460c4f8330?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle126239"
            class="solicitar-ingreso-rectangle12"
          /><span class="solicitar-ingreso-text05"
            ><span class="solicitar-ingreso-text06">*</span
            ><span> Confirmar contraseña</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/af5dbe56-62d2-4b07-a9b7-d8ad01565e1f?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle116239"
            class="solicitar-ingreso-rectangle11"
          /><span class="solicitar-ingreso-text08"
            ><span class="solicitar-ingreso-text09">*</span
            ><span> Contraseña</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/f9b0d37f-32a8-43fc-b862-67f5b25d4d5c?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle106198"
            class="solicitar-ingreso-rectangle10"
          /><span class="solicitar-ingreso-text11"
            ><span>(000) 000-0000</span></span
          ><span class="solicitar-ingreso-text13"
            ><span class="solicitar-ingreso-text14">*</span
            ><span> Télefono</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/f4bc30aa-9d4a-4b95-a088-d8af9e31ff01?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle86198"
            class="solicitar-ingreso-rectangle8"
          /><span class="solicitar-ingreso-text16"
            ><span class="solicitar-ingreso-text17">*</span
            ><span> Cédula</span></span
          ><span class="solicitar-ingreso-text19"
            ><span>000-0000000-0</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/afab0e73-7d71-457a-9b54-42c230a3d9a8?org_if_sml=112372&amp;force_format=original"
            alt="Rectangle96198"
            class="solicitar-ingreso-rectangle9"
          /><span class="solicitar-ingreso-text21"
            ><span>example@sgd.com.do</span></span
          ><span class="solicitar-ingreso-text23"
            ><span class="solicitar-ingreso-text24">*</span
            ><span> Correo electrónico</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/b2e41817-23a2-4def-bf7f-31c11e7e1ad6?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle66198"
            class="solicitar-ingreso-rectangle6"
          /><span class="solicitar-ingreso-text26"
            ><span class="solicitar-ingreso-text27">*</span
            ><span> Apellido</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/a77589c9-d707-4b39-a03d-d8272f41e3ec?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle36196"
            class="solicitar-ingreso-rectangle3"
          /><span class="solicitar-ingreso-text29"
            ><span class="solicitar-ingreso-text30">*</span
            ><span> Nombre</span></span
          ><span class="solicitar-ingreso-text32"
            ><span>Registrate con nosotros</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/05320d68-454d-428b-9b72-7de5a626eca1?org_if_sml=115857&amp;force_format=original"
            alt="IMAGE170640173paddedlogo26197"
            class="solicitar-ingreso-image170640173paddedlogo2"
          /><span class="solicitar-ingreso-text34"
            ><span>Sistema de Gestión Documental</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/ad7a9280-bcf2-44aa-8b69-de8d74a5e711?org_if_sml=116020&amp;force_format=original"
            alt="Rectangle146301"
            class="solicitar-ingreso-rectangle14"
          /><span class="solicitar-ingreso-text36"
            ><span>Registrarse</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/724a1565-d420-4091-8143-f67eca25065f?org_if_sml=1207&amp;force_format=original"
            alt="Rectangle156301"
            class="solicitar-ingreso-rectangle15"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/d9c862a0-7ff6-4a26-810d-fb69d66482ed?org_if_sml=1759&amp;force_format=original"
            alt="Rectangle166301"
            class="solicitar-ingreso-rectangle16"
          /><span class="solicitar-ingreso-text38"
            ><span
              >He leído los términos de condiciones y políticas de uso del
              sistema.</span
            ></span
          ><span class="solicitar-ingreso-text40">*</span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/9f7d1e73-39f1-4899-837c-eb2d414c5719?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle176301"
            class="solicitar-ingreso-rectangle17"
          /><span class="solicitar-ingreso-text41"
            ><span class="solicitar-ingreso-text42">*</span
            ><span> Confirmar contraseña</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/4487f4b9-8174-429f-9925-731836813dda?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle186301"
            class="solicitar-ingreso-rectangle18"
          /><span class="solicitar-ingreso-text44"
            ><span class="solicitar-ingreso-text45">*</span
            ><span> Contraseña</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/bea10827-a23b-427c-952c-12fc885cfd79?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle196301"
            class="solicitar-ingreso-rectangle19"
          /><span class="solicitar-ingreso-text47"
            ><span>(000) 000-0000</span></span
          ><span class="solicitar-ingreso-text49"
            ><span class="solicitar-ingreso-text50">*</span
            ><span> Télefono</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/a50e32f5-5d8a-430d-9b6a-1037f81c922b?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle206301"
            class="solicitar-ingreso-rectangle20"
          /><span class="solicitar-ingreso-text52"
            ><span class="solicitar-ingreso-text53">*</span
            ><span> Cédula</span></span
          ><span class="solicitar-ingreso-text55"
            ><span>000-0000000-0</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/64bcf5e8-aa2f-4366-8477-7b8f6b577869?org_if_sml=112372&amp;force_format=original"
            alt="Rectangle216301"
            class="solicitar-ingreso-rectangle21"
          /><span class="solicitar-ingreso-text57"
            ><span>example@sgd.com.do</span></span
          ><span class="solicitar-ingreso-text59"
            ><span class="solicitar-ingreso-text60">*</span
            ><span> Correo electrónico</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/0cd003b9-ed80-4df3-94d9-d451fa3c7c65?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle226301"
            class="solicitar-ingreso-rectangle22"
          /><span class="solicitar-ingreso-text62"
            ><span class="solicitar-ingreso-text63">*</span
            ><span> Apellido</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/2993660a-9c1b-4d57-86a0-17212a8ecb98?org_if_sml=19763&amp;force_format=original"
            alt="Rectangle236301"
            class="solicitar-ingreso-rectangle23"
          /><span class="solicitar-ingreso-text65"
            ><span class="solicitar-ingreso-text66">*</span
            ><span> Nombre</span></span
          ><span class="solicitar-ingreso-text68"
            ><span>Registrate con nosotros</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/290cb647-ec2b-476c-bb8a-0d83a8f9e26f?org_if_sml=115857&amp;force_format=original"
            alt="IMAGE170640173paddedlogo36301"
            class="solicitar-ingreso-image170640173paddedlogo3"
          /><span class="solicitar-ingreso-text70"
            ><span>Sistema de Gestión Documental</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
