<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Usuarios-Administrador - Nice Original Mongoose</title
    ><meta
      property="og:title"
      content="Usuarios-Administrador - Nice Original Mongoose" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./usuarios-administrador.css" rel="stylesheet" /><div
        class="usuarios-administrador-container"
        ><div class="usuarios-administrador-usuarios-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/69139115-f63f-4fab-a290-0a2ffbbb66b3?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29097"
            class="usuarios-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/05f04b07-6d1e-4d97-b9ae-efbd6524506f?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9097"
            class="usuarios-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/105ea451-f4e6-4bb6-9557-d3fa6ba3e242?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39097"
            class="usuarios-administrador-image170640173paddedlogo3"
          /><span class="usuarios-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="usuarios-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9097-llz7.svg"
                alt="Vector9097"
                class="usuarios-administrador-vector" /><img
                src="public/external/vector29097-omkl.svg"
                alt="Vector29097"
                class="usuarios-administrador-vector2" /><img
                src="public/external/vector39097-9sb.svg"
                alt="Vector39097"
                class="usuarios-administrador-vector3" /></div></div
          ><div
            class="usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="usuarios-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9097-p01h.svg"
                alt="Vector9097"
                class="usuarios-administrador-vector01" /><img
                src="public/external/vector29097-49b.svg"
                alt="Vector29097"
                class="usuarios-administrador-vector201" /><img
                src="public/external/vector39097-e3z.svg"
                alt="Vector39097"
                class="usuarios-administrador-vector301" /></div></div
          ><span class="usuarios-administrador-text04">v</span
          ><div
            class="usuarios-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="usuarios-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9097-gvbu.svg"
                alt="Vector9097"
                class="usuarios-administrador-vector02" /><img
                src="public/external/vector29097-vd5.svg"
                alt="Vector29097"
                class="usuarios-administrador-vector202" /><img
                src="public/external/vector39097-hy5.svg"
                alt="Vector39097"
                class="usuarios-administrador-vector302" /></div></div
          ><div
            class="usuarios-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="usuarios-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9097-b0w8.svg"
                alt="Vector9097"
                class="usuarios-administrador-vector03" /><img
                src="public/external/vector29097-8rns.svg"
                alt="Vector29097"
                class="usuarios-administrador-vector203" /><img
                src="public/external/vector39097-954b.svg"
                alt="Vector39097"
                class="usuarios-administrador-vector303" /></div></div
          ><span class="usuarios-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle99097-k5v.svg"
            alt="Rectangle99097"
            class="usuarios-administrador-rectangle9"
          /><span class="usuarios-administrador-text07"
            ><span>Buscar usuarios..</span></span
          ><span class="usuarios-administrador-text09"><span>#0001</span></span
          ><span class="usuarios-administrador-text11"><span>#0002</span></span
          ><span class="usuarios-administrador-text13"
            ><span>alfredo.sgd</span></span
          ><span class="usuarios-administrador-text15"
            ><span>alberto.sgd</span></span
          ><span class="usuarios-administrador-text17"
            ><span>alfredo.sgd@sgd.com</span></span
          ><span class="usuarios-administrador-text19"
            ><span>402-1482327-6</span></span
          ><span class="usuarios-administrador-text21"
            ><span>402-1020394-4</span></span
          ><span class="usuarios-administrador-text23"
            ><span>alberto.sgd@sgd.com</span></span
          ><span class="usuarios-administrador-text25"
            ><span>01/02/2024</span></span
          ><span class="usuarios-administrador-text27"
            ><span>04/02/2024</span></span
          ><span class="usuarios-administrador-text29"><span>Código</span></span
          ><span class="usuarios-administrador-text31"><span>Nombre</span></span
          ><span class="usuarios-administrador-text33"><span>Estado</span></span
          ><span class="usuarios-administrador-text35"><span>Correo</span></span
          ><span class="usuarios-administrador-text37"><span>Cédula</span></span
          ><span class="usuarios-administrador-text39"><span>Rol</span></span
          ><span class="usuarios-administrador-text41"
            ><span>Fecha creación</span></span
          ><img
            src="public/external/line99097-n3y.svg"
            alt="Line99097"
            class="usuarios-administrador-line9"
          /><img
            src="public/external/line109097-qobh.svg"
            alt="Line109097"
            class="usuarios-administrador-line10"
          /><img
            src="public/external/line119097-3vxd.svg"
            alt="Line119097"
            class="usuarios-administrador-line11"
          /><img
            src="public/external/line139097-ao7i.svg"
            alt="Line139097"
            class="usuarios-administrador-line13"
          /><img
            src="public/external/line149097-fyk6.svg"
            alt="Line149097"
            class="usuarios-administrador-line14"
          /><img
            src="public/external/line159097-s6ce.svg"
            alt="Line159097"
            class="usuarios-administrador-line15"
          /><img
            src="public/external/line179098-pd8.svg"
            alt="Line179098"
            class="usuarios-administrador-line17"
          /><img
            src="public/external/line169097-ozy8.svg"
            alt="Line169097"
            class="usuarios-administrador-line16"
          /><span class="usuarios-administrador-text43"
            ><span>Activo</span></span
          ><span class="usuarios-administrador-text45"><span>Activo</span></span
          ><span class="usuarios-administrador-text47"
            ><span>Administrador</span></span
          ><span class="usuarios-administrador-text49"
            ><span>Visualizador</span></span
          ><span class="usuarios-administrador-text51"
            ><span>Documentos</span></span
          ><span class="usuarios-administrador-text53"
            ><span>Reportes</span></span
          ><span class="usuarios-administrador-text55"
            ><span>Actividades</span></span
          ><span class="usuarios-administrador-text57"
            ><span>Plantillas</span></span
          ><span class="usuarios-administrador-text59"
            ><span>Departamentos</span></span
          ><span class="usuarios-administrador-text61"
            ><span>Categorías</span></span
          ><span class="usuarios-administrador-text63"
            ><span>Usuarios</span></span
          ><span class="usuarios-administrador-text65"
            ><span>Usuarios</span></span
          ><div
            class="usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9097-q9d.svg"
                alt="Vector9097"
                class="usuarios-administrador-vector04" /><img
                src="public/external/vector29097-macn.svg"
                alt="Vector29097"
                class="usuarios-administrador-vector204" /><img
                src="public/external/vector39097-y2og.svg"
                alt="Vector39097"
                class="usuarios-administrador-vector304" /></div></div
          ><div
            class="usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="usuarios-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9097-davd.svg"
                alt="Vector9097"
                class="usuarios-administrador-vector05" /><img
                src="public/external/vector29097-nmau.svg"
                alt="Vector29097"
                class="usuarios-administrador-vector205" /><img
                src="public/external/vector39097-fyqr.svg"
                alt="Vector39097"
                class="usuarios-administrador-vector305" /></div></div
          ><div class="usuarios-administrador-onefingerhold"
            ><div class="usuarios-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509098-wj8b.svg"
                alt="Ellipse509098"
                class="usuarios-administrador-ellipse50" /><img
                src="public/external/vector2259098-hlhm.svg"
                alt="Vector2259098"
                class="usuarios-administrador-vector225" /><img
                src="public/external/vector1079098-wsm.svg"
                alt="Vector1079098"
                class="usuarios-administrador-vector107" /><img
                src="public/external/ellipse3029098-y6df.svg"
                alt="Ellipse3029098"
                class="usuarios-administrador-ellipse302" /></div></div
          ><div class="usuarios-administrador-onefingerhold2"
            ><div class="usuarios-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509098-8kzl.svg"
                alt="Ellipse509098"
                class="usuarios-administrador-ellipse501" /><img
                src="public/external/vector2259098-3jrh.svg"
                alt="Vector2259098"
                class="usuarios-administrador-vector2251" /><img
                src="public/external/vector1079098-5z2.svg"
                alt="Vector1079098"
                class="usuarios-administrador-vector1071" /><img
                src="public/external/ellipse3029098-ttmr.svg"
                alt="Ellipse3029098"
                class="usuarios-administrador-ellipse3021" /></div></div
          ><div
            class="usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9098-lze1.svg"
                alt="Vector9098"
                class="usuarios-administrador-vector06" /><img
                src="public/external/vector29098-nt98.svg"
                alt="Vector29098"
                class="usuarios-administrador-vector206" /><img
                src="public/external/vector39098-tczp.svg"
                alt="Vector39098"
                class="usuarios-administrador-vector306" /></div></div
          ><div
            class="usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="usuarios-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9098-9fpe.svg"
                alt="Vector9098"
                class="usuarios-administrador-vector07" /><img
                src="public/external/vector29098-mxwq.svg"
                alt="Vector29098"
                class="usuarios-administrador-vector207" /><img
                src="public/external/vector39098-1j38.svg"
                alt="Vector39098"
                class="usuarios-administrador-vector307" /></div></div
          ><div class="usuarios-administrador-newfileemptycommonfilecontent"
            ><div class="usuarios-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9098-1kd4.svg"
                alt="Vector9098"
                class="usuarios-administrador-vector08" /><img
                src="public/external/vector25299098-e8zo.svg"
                alt="Vector25299098"
                class="usuarios-administrador-vector2529" /></div></div
          ><div class="usuarios-administrador-newfileemptycommonfilecontent2"
            ><div class="usuarios-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9098-h12c.svg"
                alt="Vector9098"
                class="usuarios-administrador-vector09" /><img
                src="public/external/vector25299098-7o9m.svg"
                alt="Vector25299098"
                class="usuarios-administrador-vector25291" /></div></div
          ><div
            class="usuarios-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="usuarios-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9098-y51s.svg"
                alt="Vector9098"
                class="usuarios-administrador-vector10" /><img
                src="public/external/vector29098-33w.svg"
                alt="Vector29098"
                class="usuarios-administrador-vector208" /><img
                src="public/external/vector39098-ugx7.svg"
                alt="Vector39098"
                class="usuarios-administrador-vector308" /><img
                src="public/external/vector49098-al79.svg"
                alt="Vector49098"
                class="usuarios-administrador-vector4" /></div></div
          ><div
            class="usuarios-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="usuarios-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9098-97pe.svg"
                alt="Vector9098"
                class="usuarios-administrador-vector11" /><img
                src="public/external/vector29098-b258.svg"
                alt="Vector29098"
                class="usuarios-administrador-vector209" /><img
                src="public/external/vector25219098-4jsm.svg"
                alt="Vector25219098"
                class="usuarios-administrador-vector2521" /><img
                src="public/external/vector25229098-49sm.svg"
                alt="Vector25229098"
                class="usuarios-administrador-vector2522" /><img
                src="public/external/vector25239098-dczc.svg"
                alt="Vector25239098"
                class="usuarios-administrador-vector2523" /><img
                src="public/external/vector25249098-830g.svg"
                alt="Vector25249098"
                class="usuarios-administrador-vector2524" /></div></div
          ><div
            class="usuarios-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="usuarios-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9098-zqxw.svg"
                alt="Vector9098"
                class="usuarios-administrador-vector12" /><img
                src="public/external/vector29098-iedm.svg"
                alt="Vector29098"
                class="usuarios-administrador-vector210" /><img
                src="public/external/vector39098-ib3h.svg"
                alt="Vector39098"
                class="usuarios-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10da15fa-925d-4e7b-a3ea-a639322d203f/f535d841-ff89-45be-b0fc-886b7a98eb04?org_if_sml=117085&amp;force_format=original"
            alt="Rectangle229098"
            class="usuarios-administrador-rectangle22"
          /><span class="usuarios-administrador-text67"
            ><span>Crear usuarios</span></span
          ><span class="usuarios-administrador-text69"
            ><span>Usuarios</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
