<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Actividades-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Actividades-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./actividades-administrador.css" rel="stylesheet" /><div
        class="actividades-administrador-container"
        ><div class="actividades-administrador-actividades-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/05cbece0-8ae3-4095-96de-20486ee9c27d?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27801"
            class="actividades-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/0c3985f2-a37d-4886-8916-d004e16d2aa9?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7801"
            class="actividades-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/26519a81-d6ed-4bff-ba3b-45d2d054659e?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37801"
            class="actividades-administrador-image170640173paddedlogo3"
          /><span class="actividades-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="actividades-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="actividades-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="actividades-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector7801-kdo.svg"
                alt="Vector7801"
                class="actividades-administrador-vector" /><img
                src="public/external/vector27801-z7ni.svg"
                alt="Vector27801"
                class="actividades-administrador-vector2" /><img
                src="public/external/vector37801-esq.svg"
                alt="Vector37801"
                class="actividades-administrador-vector3" /></div></div
          ><div
            class="actividades-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="actividades-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector7801-z1uq.svg"
                alt="Vector7801"
                class="actividades-administrador-vector01" /><img
                src="public/external/vector27801-hda.svg"
                alt="Vector27801"
                class="actividades-administrador-vector201" /><img
                src="public/external/vector37801-h6sk.svg"
                alt="Vector37801"
                class="actividades-administrador-vector301" /></div></div
          ><span class="actividades-administrador-text04">v</span
          ><div
            class="actividades-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="actividades-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7801-agn6.svg"
                alt="Vector7801"
                class="actividades-administrador-vector02" /><img
                src="public/external/vector27801-3lhw.svg"
                alt="Vector27801"
                class="actividades-administrador-vector202" /><img
                src="public/external/vector37801-t33.svg"
                alt="Vector37801"
                class="actividades-administrador-vector302" /></div></div
          ><div
            class="actividades-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="actividades-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7801-9guw.svg"
                alt="Vector7801"
                class="actividades-administrador-vector03" /><img
                src="public/external/vector27801-6xrq.svg"
                alt="Vector27801"
                class="actividades-administrador-vector203" /><img
                src="public/external/vector37801-h0e.svg"
                alt="Vector37801"
                class="actividades-administrador-vector303" /></div></div
          ><span class="actividades-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle97801-mudo.svg"
            alt="Rectangle97801"
            class="actividades-administrador-rectangle9"
          /><span class="actividades-administrador-text07"
            ><span>Buscar actividades...</span></span
          ><span class="actividades-administrador-text09"
            ><span>#0001</span></span
          ><span class="actividades-administrador-text11"
            ><span>#0234</span></span
          ><span class="actividades-administrador-text13"
            ><span>#0247</span></span
          ><span class="actividades-administrador-text15"
            ><span>#0257</span></span
          ><span class="actividades-administrador-text17"
            ><span>Firmar documento #0563</span></span
          ><span class="actividades-administrador-text19"
            ><span>Consultar documento #0342</span></span
          ><span class="actividades-administrador-text21"
            ><span>Consultar documento #0942</span></span
          ><span class="actividades-administrador-text23"
            ><span>Firmar documento #0872</span></span
          ><span class="actividades-administrador-text25"
            ><span>alfredo.sgd</span></span
          ><span class="actividades-administrador-text27"
            ><span>alfredo.sgd</span></span
          ><span class="actividades-administrador-text29"
            ><span>alfredo.sgd</span></span
          ><span class="actividades-administrador-text31"
            ><span>alfredo.sgd</span></span
          ><span class="actividades-administrador-text33"
            ><span>01/02/2024</span></span
          ><span class="actividades-administrador-text35"
            ><span>04/02/2024</span></span
          ><span class="actividades-administrador-text37"
            ><span>05/02/2024</span></span
          ><span class="actividades-administrador-text39"
            ><span>06/02/2024</span></span
          ><span class="actividades-administrador-text41"
            ><span>Task</span></span
          ><span class="actividades-administrador-text43"
            ><span>Nombre</span></span
          ><span class="actividades-administrador-text45"
            ><span>Estado</span></span
          ><span class="actividades-administrador-text47"
            ><span>Asignado</span></span
          ><span class="actividades-administrador-text49"
            ><span>Fecha</span></span
          ><img
            src="public/external/line97801-6m4.svg"
            alt="Line97801"
            class="actividades-administrador-line9"
          /><img
            src="public/external/line107801-gt4s.svg"
            alt="Line107801"
            class="actividades-administrador-line10"
          /><img
            src="public/external/line117801-hf2p.svg"
            alt="Line117801"
            class="actividades-administrador-line11"
          /><img
            src="public/external/line137801-lemk.svg"
            alt="Line137801"
            class="actividades-administrador-line13"
          /><img
            src="public/external/line147801-hbvk.svg"
            alt="Line147801"
            class="actividades-administrador-line14"
          /><img
            src="public/external/line157801-gqwe.svg"
            alt="Line157801"
            class="actividades-administrador-line15"
          /><span class="actividades-administrador-text51"
            ><span>Finalizado</span></span
          ><span class="actividades-administrador-text53"
            ><span>Finalizado</span></span
          ><span class="actividades-administrador-text55"
            ><span>Pendiente</span></span
          ><span class="actividades-administrador-text57"
            ><span>Finalizado</span></span
          ><span class="actividades-administrador-text59"
            ><span>Documentos</span></span
          ><span class="actividades-administrador-text61"
            ><span>Reportes</span></span
          ><span class="actividades-administrador-text63"
            ><span>Actividades</span></span
          ><span class="actividades-administrador-text65"
            ><span>Actividades</span></span
          ><span class="actividades-administrador-text67"
            ><span>Plantillas</span></span
          ><span class="actividades-administrador-text69"
            ><span>Departamentos</span></span
          ><span class="actividades-administrador-text71"
            ><span>Categorías</span></span
          ><span class="actividades-administrador-text73"
            ><span>Usuarios</span></span
          ><div
            class="actividades-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="actividades-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8311-ql8f.svg"
                alt="Vector8311"
                class="actividades-administrador-vector04" /><img
                src="public/external/vector28311-r1we.svg"
                alt="Vector28311"
                class="actividades-administrador-vector204" /><img
                src="public/external/vector38311-1qa7.svg"
                alt="Vector38311"
                class="actividades-administrador-vector304" /></div></div
          ><div
            class="actividades-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="actividades-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8311-unkp.svg"
                alt="Vector8311"
                class="actividades-administrador-vector05" /><img
                src="public/external/vector28311-0y3.svg"
                alt="Vector28311"
                class="actividades-administrador-vector205" /><img
                src="public/external/vector38311-e1at.svg"
                alt="Vector38311"
                class="actividades-administrador-vector305" /></div></div
          ><div class="actividades-administrador-onefingerhold"
            ><div class="actividades-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508311-ewb.svg"
                alt="Ellipse508311"
                class="actividades-administrador-ellipse50" /><img
                src="public/external/vector2258311-qifa.svg"
                alt="Vector2258311"
                class="actividades-administrador-vector225" /><img
                src="public/external/vector1078311-upsv.svg"
                alt="Vector1078311"
                class="actividades-administrador-vector107" /><img
                src="public/external/ellipse3028311-6zzi.svg"
                alt="Ellipse3028311"
                class="actividades-administrador-ellipse302" /></div></div
          ><div class="actividades-administrador-onefingerhold2"
            ><div class="actividades-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508311-xbz.svg"
                alt="Ellipse508311"
                class="actividades-administrador-ellipse501" /><img
                src="public/external/vector2258311-qjxl.svg"
                alt="Vector2258311"
                class="actividades-administrador-vector2251" /><img
                src="public/external/vector1078311-errp.svg"
                alt="Vector1078311"
                class="actividades-administrador-vector1071" /><img
                src="public/external/ellipse3028311-azt.svg"
                alt="Ellipse3028311"
                class="actividades-administrador-ellipse3021" /></div></div
          ><div
            class="actividades-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="actividades-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8311-3bfn.svg"
                alt="Vector8311"
                class="actividades-administrador-vector06" /><img
                src="public/external/vector28311-f7q.svg"
                alt="Vector28311"
                class="actividades-administrador-vector206" /><img
                src="public/external/vector38311-2o6m.svg"
                alt="Vector38311"
                class="actividades-administrador-vector306" /></div></div
          ><div
            class="actividades-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="actividades-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8311-ao4f.svg"
                alt="Vector8311"
                class="actividades-administrador-vector07" /><img
                src="public/external/vector28311-6jvq.svg"
                alt="Vector28311"
                class="actividades-administrador-vector207" /><img
                src="public/external/vector38311-vkgk.svg"
                alt="Vector38311"
                class="actividades-administrador-vector307" /></div></div
          ><div class="actividades-administrador-newfileemptycommonfilecontent"
            ><div
              class="actividades-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8311-tplg.svg"
                alt="Vector8311"
                class="actividades-administrador-vector08" /><img
                src="public/external/vector25298311-s25.svg"
                alt="Vector25298311"
                class="actividades-administrador-vector2529" /></div></div
          ><div class="actividades-administrador-newfileemptycommonfilecontent2"
            ><div
              class="actividades-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8311-an3b.svg"
                alt="Vector8311"
                class="actividades-administrador-vector09" /><img
                src="public/external/vector25298311-anap.svg"
                alt="Vector25298311"
                class="actividades-administrador-vector25291" /></div></div
          ><div
            class="actividades-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="actividades-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8311-e42j.svg"
                alt="Vector8311"
                class="actividades-administrador-vector10" /><img
                src="public/external/vector28311-6c7f.svg"
                alt="Vector28311"
                class="actividades-administrador-vector208" /><img
                src="public/external/vector38311-6b9d.svg"
                alt="Vector38311"
                class="actividades-administrador-vector308" /><img
                src="public/external/vector48311-2ej.svg"
                alt="Vector48311"
                class="actividades-administrador-vector4" /></div></div
          ><div
            class="actividades-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="actividades-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8311-as7.svg"
                alt="Vector8311"
                class="actividades-administrador-vector11" /><img
                src="public/external/vector28311-z8u.svg"
                alt="Vector28311"
                class="actividades-administrador-vector209" /><img
                src="public/external/vector25218311-9199.svg"
                alt="Vector25218311"
                class="actividades-administrador-vector2521" /><img
                src="public/external/vector25228311-kk0l.svg"
                alt="Vector25228311"
                class="actividades-administrador-vector2522" /><img
                src="public/external/vector25238311-4ya.svg"
                alt="Vector25238311"
                class="actividades-administrador-vector2523" /><img
                src="public/external/vector25248311-uvou.svg"
                alt="Vector25248311"
                class="actividades-administrador-vector2524" /></div></div
          ><div
            class="actividades-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="actividades-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8311-4gu5.svg"
                alt="Vector8311"
                class="actividades-administrador-vector12" /><img
                src="public/external/vector28311-gbr.svg"
                alt="Vector28311"
                class="actividades-administrador-vector210" /><img
                src="public/external/vector38311-tp1h.svg"
                alt="Vector38311"
                class="actividades-administrador-vector309" /></div></div
          ><span class="actividades-administrador-text75"
            ><span>Actividades</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
