<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Categorias-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Categorias-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./categorias-administrador.css" rel="stylesheet" /><div
        class="categorias-administrador-container"
        ><div class="categorias-administrador-categorias-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c1189edc-9f28-495c-8a01-7c1d53325faa?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29071"
            class="categorias-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/40846493-e118-4ea8-a767-9240e79cfefa?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9071"
            class="categorias-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/3f2bd75d-6aa0-47ef-8163-07006c234168?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39071"
            class="categorias-administrador-image170640173paddedlogo3"
          /><span class="categorias-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="categorias-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="categorias-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="categorias-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9071-gvco.svg"
                alt="Vector9071"
                class="categorias-administrador-vector" /><img
                src="public/external/vector29071-guaxq.svg"
                alt="Vector29071"
                class="categorias-administrador-vector2" /><img
                src="public/external/vector39071-24jn.svg"
                alt="Vector39071"
                class="categorias-administrador-vector3" /></div></div
          ><div
            class="categorias-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="categorias-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9071-q2rgq.svg"
                alt="Vector9071"
                class="categorias-administrador-vector01" /><img
                src="public/external/vector29071-ir2d.svg"
                alt="Vector29071"
                class="categorias-administrador-vector201" /><img
                src="public/external/vector39071-lpv.svg"
                alt="Vector39071"
                class="categorias-administrador-vector301" /></div></div
          ><span class="categorias-administrador-text04">v</span
          ><div
            class="categorias-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="categorias-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9071-3x9m.svg"
                alt="Vector9071"
                class="categorias-administrador-vector02" /><img
                src="public/external/vector29071-ejz.svg"
                alt="Vector29071"
                class="categorias-administrador-vector202" /><img
                src="public/external/vector39071-em1n.svg"
                alt="Vector39071"
                class="categorias-administrador-vector302" /></div></div
          ><div
            class="categorias-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="categorias-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9071-gs3.svg"
                alt="Vector9071"
                class="categorias-administrador-vector03" /><img
                src="public/external/vector29071-6d7v.svg"
                alt="Vector29071"
                class="categorias-administrador-vector203" /><img
                src="public/external/vector39071-9f8g.svg"
                alt="Vector39071"
                class="categorias-administrador-vector303" /></div></div
          ><span class="categorias-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle99071-732e.svg"
            alt="Rectangle99071"
            class="categorias-administrador-rectangle9"
          /><span class="categorias-administrador-text07"
            ><span>Buscar categorías..</span></span
          ><span class="categorias-administrador-text09"
            ><span>#0001</span></span
          ><span class="categorias-administrador-text11"
            ><span>#0002</span></span
          ><span class="categorias-administrador-text13"
            ><span>#0003</span></span
          ><span class="categorias-administrador-text15"
            ><span>#0004</span></span
          ><span class="categorias-administrador-text17"
            ><span>Archivo</span></span
          ><span class="categorias-administrador-text19"
            ><span>Pagos</span></span
          ><span class="categorias-administrador-text21"
            ><span>Recibos</span></span
          ><span class="categorias-administrador-text23"
            ><span>Facturas</span></span
          ><span class="categorias-administrador-text25"
            ><span>alfredo.sgd</span></span
          ><span class="categorias-administrador-text27"
            ><span>alfredo.sgd</span></span
          ><span class="categorias-administrador-text29"
            ><span>alfredo.sgd</span></span
          ><span class="categorias-administrador-text31"
            ><span>alfredo.sgd</span></span
          ><span class="categorias-administrador-text33"
            ><span>01/02/2024</span></span
          ><span class="categorias-administrador-text35"
            ><span>04/02/2024</span></span
          ><span class="categorias-administrador-text37"
            ><span>05/02/2024</span></span
          ><span class="categorias-administrador-text39"
            ><span>06/02/2024</span></span
          ><span class="categorias-administrador-text41"
            ><span>Código</span></span
          ><span class="categorias-administrador-text43"
            ><span>Nombre</span></span
          ><span class="categorias-administrador-text45"
            ><span>Estado</span></span
          ><span class="categorias-administrador-text47"
            ><span>Creador</span></span
          ><span class="categorias-administrador-text49"
            ><span>Descripción</span></span
          ><span class="categorias-administrador-text51"
            ><span>Fecha creación</span></span
          ><img
            src="public/external/line99071-ej2b.svg"
            alt="Line99071"
            class="categorias-administrador-line9"
          /><img
            src="public/external/line109071-ai3.svg"
            alt="Line109071"
            class="categorias-administrador-line10"
          /><img
            src="public/external/line119071-758.svg"
            alt="Line119071"
            class="categorias-administrador-line11"
          /><img
            src="public/external/line139071-84z3.svg"
            alt="Line139071"
            class="categorias-administrador-line13"
          /><img
            src="public/external/line149071-4h1p.svg"
            alt="Line149071"
            class="categorias-administrador-line14"
          /><img
            src="public/external/line159071-bz5.svg"
            alt="Line159071"
            class="categorias-administrador-line15"
          /><img
            src="public/external/line169071-dvu.svg"
            alt="Line169071"
            class="categorias-administrador-line16"
          /><span class="categorias-administrador-text53"
            ><span>Activo</span></span
          ><span class="categorias-administrador-text55"
            ><span>Inactivo</span></span
          ><span class="categorias-administrador-text57"
            ><span>Activo</span></span
          ><span class="categorias-administrador-text59"
            ><span>Activo</span></span
          ><span class="categorias-administrador-text61"
            ><span>Para registrar pagos</span></span
          ><span class="categorias-administrador-text63"
            ><span>Para registrar facturas</span></span
          ><span class="categorias-administrador-text65"
            ><span>Para registrar documentos</span></span
          ><span class="categorias-administrador-text67"
            ><span>Para registrar recibos</span></span
          ><span class="categorias-administrador-text69"
            ><span>Documentos</span></span
          ><span class="categorias-administrador-text71"
            ><span>Reportes</span></span
          ><span class="categorias-administrador-text73"
            ><span>Actividades</span></span
          ><span class="categorias-administrador-text75"
            ><span>Plantillas</span></span
          ><span class="categorias-administrador-text77"
            ><span>Departamentos</span></span
          ><span class="categorias-administrador-text79"
            ><span>Categorías</span></span
          ><span class="categorias-administrador-text81"
            ><span>Categorías</span></span
          ><span class="categorias-administrador-text83"
            ><span>Usuarios</span></span
          ><div
            class="categorias-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="categorias-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9071-t0pj.svg"
                alt="Vector9071"
                class="categorias-administrador-vector04" /><img
                src="public/external/vector29071-g9c.svg"
                alt="Vector29071"
                class="categorias-administrador-vector204" /><img
                src="public/external/vector39071-5rid.svg"
                alt="Vector39071"
                class="categorias-administrador-vector304" /></div></div
          ><div
            class="categorias-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="categorias-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9071-65sm.svg"
                alt="Vector9071"
                class="categorias-administrador-vector05" /><img
                src="public/external/vector29071-ux9n.svg"
                alt="Vector29071"
                class="categorias-administrador-vector205" /><img
                src="public/external/vector39071-gc2.svg"
                alt="Vector39071"
                class="categorias-administrador-vector305" /></div></div
          ><div class="categorias-administrador-onefingerhold"
            ><div class="categorias-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509071-hku.svg"
                alt="Ellipse509071"
                class="categorias-administrador-ellipse50" /><img
                src="public/external/vector2259071-0y8.svg"
                alt="Vector2259071"
                class="categorias-administrador-vector225" /><img
                src="public/external/vector1079071-5ucl.svg"
                alt="Vector1079071"
                class="categorias-administrador-vector107" /><img
                src="public/external/ellipse3029071-3nsw.svg"
                alt="Ellipse3029071"
                class="categorias-administrador-ellipse302" /></div></div
          ><div class="categorias-administrador-onefingerhold2"
            ><div class="categorias-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509071-a94g.svg"
                alt="Ellipse509071"
                class="categorias-administrador-ellipse501" /><img
                src="public/external/vector2259071-u2i.svg"
                alt="Vector2259071"
                class="categorias-administrador-vector2251" /><img
                src="public/external/vector1079071-v7lr.svg"
                alt="Vector1079071"
                class="categorias-administrador-vector1071" /><img
                src="public/external/ellipse3029071-ynmh.svg"
                alt="Ellipse3029071"
                class="categorias-administrador-ellipse3021" /></div></div
          ><div
            class="categorias-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="categorias-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9071-rk7q.svg"
                alt="Vector9071"
                class="categorias-administrador-vector06" /><img
                src="public/external/vector29071-5rl5.svg"
                alt="Vector29071"
                class="categorias-administrador-vector206" /><img
                src="public/external/vector39071-28l8.svg"
                alt="Vector39071"
                class="categorias-administrador-vector306" /></div></div
          ><div
            class="categorias-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="categorias-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9071-obwr.svg"
                alt="Vector9071"
                class="categorias-administrador-vector07" /><img
                src="public/external/vector29071-v938.svg"
                alt="Vector29071"
                class="categorias-administrador-vector207" /><img
                src="public/external/vector39071-uyb5.svg"
                alt="Vector39071"
                class="categorias-administrador-vector307" /></div></div
          ><div class="categorias-administrador-newfileemptycommonfilecontent"
            ><div
              class="categorias-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9071-5ea.svg"
                alt="Vector9071"
                class="categorias-administrador-vector08" /><img
                src="public/external/vector25299071-8me9.svg"
                alt="Vector25299071"
                class="categorias-administrador-vector2529" /></div></div
          ><div class="categorias-administrador-newfileemptycommonfilecontent2"
            ><div
              class="categorias-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9071-8fwc.svg"
                alt="Vector9071"
                class="categorias-administrador-vector09" /><img
                src="public/external/vector25299071-ww3.svg"
                alt="Vector25299071"
                class="categorias-administrador-vector25291" /></div></div
          ><div
            class="categorias-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="categorias-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9071-2dko.svg"
                alt="Vector9071"
                class="categorias-administrador-vector10" /><img
                src="public/external/vector29071-qrhd.svg"
                alt="Vector29071"
                class="categorias-administrador-vector208" /><img
                src="public/external/vector39071-omj.svg"
                alt="Vector39071"
                class="categorias-administrador-vector308" /><img
                src="public/external/vector49071-sjw.svg"
                alt="Vector49071"
                class="categorias-administrador-vector4" /></div></div
          ><div
            class="categorias-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="categorias-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9071-pk25.svg"
                alt="Vector9071"
                class="categorias-administrador-vector11" /><img
                src="public/external/vector29071-4uod.svg"
                alt="Vector29071"
                class="categorias-administrador-vector209" /><img
                src="public/external/vector25219071-qc9k.svg"
                alt="Vector25219071"
                class="categorias-administrador-vector2521" /><img
                src="public/external/vector25229071-w05r.svg"
                alt="Vector25229071"
                class="categorias-administrador-vector2522" /><img
                src="public/external/vector25239071-3xaf.svg"
                alt="Vector25239071"
                class="categorias-administrador-vector2523" /><img
                src="public/external/vector25249071-k5m.svg"
                alt="Vector25249071"
                class="categorias-administrador-vector2524" /></div></div
          ><div
            class="categorias-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="categorias-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9071-jeve.svg"
                alt="Vector9071"
                class="categorias-administrador-vector12" /><img
                src="public/external/vector29071-zrsr.svg"
                alt="Vector29071"
                class="categorias-administrador-vector210" /><img
                src="public/external/vector39071-73g.svg"
                alt="Vector39071"
                class="categorias-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/42a67603-0870-4bc2-8ad8-8e672489fffc?org_if_sml=117085&amp;force_format=original"
            alt="Rectangle229071"
            class="categorias-administrador-rectangle22"
          /><span class="categorias-administrador-text85"
            ><span>Crear categorías</span></span
          ><span class="categorias-administrador-text87"
            ><span>Categorías</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
