<!DOCTYPE html>
<html lang="en"
  ><head
    ><title
      >Consultar-filtro-documentos-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Consultar-filtro-documentos-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./consultar-filtro-documentos-administrador.css"
        rel="stylesheet"
      /><div class="consultar-filtro-documentos-administrador-container"
        ><div
          class="consultar-filtro-documentos-administrador-consultarfiltrodocumentos-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/98f98d69-eae0-4b87-a84a-a8a8eb508b21?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27709"
            class="consultar-filtro-documentos-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/6e34ad83-692a-480d-b1ee-d2d79b2cb25b?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7709"
            class="consultar-filtro-documentos-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/a06ebaed-1cfa-46cd-8fd1-6aadc5e320b9?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37709"
            class="consultar-filtro-documentos-administrador-image170640173paddedlogo3"
          /><span class="consultar-filtro-documentos-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="consultar-filtro-documentos-administrador-text002"
            ><span>alfredo.sgd</span></span
          ><div
            class="consultar-filtro-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="consultar-filtro-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector7709-zbwm.svg"
                alt="Vector7709"
                class="consultar-filtro-documentos-administrador-vector" /><img
                src="public/external/vector27709-ejp.svg"
                alt="Vector27709"
                class="consultar-filtro-documentos-administrador-vector2" /><img
                src="public/external/vector37709-kuo.svg"
                alt="Vector37709"
                class="consultar-filtro-documentos-administrador-vector3" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="consultar-filtro-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector7709-2m7.svg"
                alt="Vector7709"
                class="consultar-filtro-documentos-administrador-vector01" /><img
                src="public/external/vector27709-591i.svg"
                alt="Vector27709"
                class="consultar-filtro-documentos-administrador-vector201" /><img
                src="public/external/vector37709-e249.svg"
                alt="Vector37709"
                class="consultar-filtro-documentos-administrador-vector301" /></div></div
          ><span class="consultar-filtro-documentos-administrador-text004"
            >v</span
          ><div
            class="consultar-filtro-documentos-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="consultar-filtro-documentos-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7709-22d.svg"
                alt="Vector7709"
                class="consultar-filtro-documentos-administrador-vector02" /><img
                src="public/external/vector27709-bl2.svg"
                alt="Vector27709"
                class="consultar-filtro-documentos-administrador-vector202" /><img
                src="public/external/vector37709-vhve.svg"
                alt="Vector37709"
                class="consultar-filtro-documentos-administrador-vector302" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="consultar-filtro-documentos-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7709-aw6m.svg"
                alt="Vector7709"
                class="consultar-filtro-documentos-administrador-vector03" /><img
                src="public/external/vector27709-6bja.svg"
                alt="Vector27709"
                class="consultar-filtro-documentos-administrador-vector203" /><img
                src="public/external/vector37709-d8o.svg"
                alt="Vector37709"
                class="consultar-filtro-documentos-administrador-vector303" /></div></div
          ><span class="consultar-filtro-documentos-administrador-text005"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle97709-eyw8.svg"
            alt="Rectangle97709"
            class="consultar-filtro-documentos-administrador-rectangle9"
          /><span class="consultar-filtro-documentos-administrador-text007"
            ><span>Buscar documento...</span></span
          ><span class="consultar-filtro-documentos-administrador-text009"
            ><span> prueba.pdf</span></span
          ><span class="consultar-filtro-documentos-administrador-text011"
            ><span>#0563</span></span
          ><span class="consultar-filtro-documentos-administrador-text013"
            ><span>#0753</span></span
          ><span class="consultar-filtro-documentos-administrador-text015"
            ><span>#0872</span></span
          ><span class="consultar-filtro-documentos-administrador-text017"
            ><span>#0888</span></span
          ><span class="consultar-filtro-documentos-administrador-text019"
            ><span>Actas de Nacimiento</span></span
          ><span class="consultar-filtro-documentos-administrador-text021"
            ><span>Certificación legal</span></span
          ><span class="consultar-filtro-documentos-administrador-text023"
            ><span>Cheque</span></span
          ><span class="consultar-filtro-documentos-administrador-text025"
            ><span>Fiscalización</span></span
          ><span class="consultar-filtro-documentos-administrador-text027"
            ><span>Archivo</span></span
          ><span class="consultar-filtro-documentos-administrador-text029"
            ><span>Archivo</span></span
          ><span class="consultar-filtro-documentos-administrador-text031"
            ><span>Pagos</span></span
          ><span class="consultar-filtro-documentos-administrador-text033"
            ><span>Archivo</span></span
          ><span class="consultar-filtro-documentos-administrador-text035"
            ><span>alfredo.sgd</span></span
          ><span class="consultar-filtro-documentos-administrador-text037"
            ><span>alfredo.sgd</span></span
          ><span class="consultar-filtro-documentos-administrador-text039"
            ><span>alfredo.sgd</span></span
          ><span class="consultar-filtro-documentos-administrador-text041"
            ><span>alfredo.sgd</span></span
          ><span class="consultar-filtro-documentos-administrador-text043"
            ><span>01/02/2024</span></span
          ><span class="consultar-filtro-documentos-administrador-text045"
            ><span>04/02/2024</span></span
          ><span class="consultar-filtro-documentos-administrador-text047"
            ><span>05/02/2024</span></span
          ><span class="consultar-filtro-documentos-administrador-text049"
            ><span>06/02/2024</span></span
          ><span class="consultar-filtro-documentos-administrador-text051"
            ><span>Task</span></span
          ><span class="consultar-filtro-documentos-administrador-text053"
            ><span>Plantilla</span></span
          ><span class="consultar-filtro-documentos-administrador-text055"
            ><span>Categoría</span></span
          ><span class="consultar-filtro-documentos-administrador-text057"
            ><span>Documento</span></span
          ><span class="consultar-filtro-documentos-administrador-text059"
            ><span>Digitador</span></span
          ><span class="consultar-filtro-documentos-administrador-text061"
            ><span>Fecha</span></span
          ><img
            src="public/external/line97709-dcrv.svg"
            alt="Line97709"
            class="consultar-filtro-documentos-administrador-line9"
          /><img
            src="public/external/line107709-a5g.svg"
            alt="Line107709"
            class="consultar-filtro-documentos-administrador-line10"
          /><img
            src="public/external/line117709-039.svg"
            alt="Line117709"
            class="consultar-filtro-documentos-administrador-line11"
          /><img
            src="public/external/line127709-2yfp.svg"
            alt="Line127709"
            class="consultar-filtro-documentos-administrador-line12"
          /><img
            src="public/external/line137709-zo2b.svg"
            alt="Line137709"
            class="consultar-filtro-documentos-administrador-line13"
          /><img
            src="public/external/line147709-q1i.svg"
            alt="Line147709"
            class="consultar-filtro-documentos-administrador-line14"
          /><img
            src="public/external/line157709-si6b.svg"
            alt="Line157709"
            class="consultar-filtro-documentos-administrador-line15"
          /><div
            class="consultar-filtro-documentos-administrador-apply-applyin-circle-larger"
            ><img
              src="public/external/svgstrokedi770-7nx7.svg"
              alt="SVGSTROKEDI770"
              class="consultar-filtro-documentos-administrador-svgstroked" /></div
          ><span class="consultar-filtro-documentos-administrador-text063"
            ><span> certicado.pdf</span></span
          ><div
            class="consultar-filtro-documentos-administrador-apply-applyin-circle-larger1"
            ><img
              src="public/external/svgstrokedi770-o3rh.svg"
              alt="SVGSTROKEDI770"
              class="consultar-filtro-documentos-administrador-svgstroked1" /></div
          ><span class="consultar-filtro-documentos-administrador-text065"
            ><span> pagos.pdf</span></span
          ><div
            class="consultar-filtro-documentos-administrador-apply-applyin-circle-larger2"
            ><img
              src="public/external/svgstrokedi770-06f7.svg"
              alt="SVGSTROKEDI770"
              class="consultar-filtro-documentos-administrador-svgstroked2" /></div
          ><span class="consultar-filtro-documentos-administrador-text067"
            ><span> doc23.pdf</span></span
          ><div
            class="consultar-filtro-documentos-administrador-apply-applyin-circle-larger3"
            ><img
              src="public/external/svgstrokedi770-jidh.svg"
              alt="SVGSTROKEDI770"
              class="consultar-filtro-documentos-administrador-svgstroked3" /></div
          ><span class="consultar-filtro-documentos-administrador-text069"
            ><span>Documentos</span></span
          ><span class="consultar-filtro-documentos-administrador-text071"
            ><span>Documentos</span></span
          ><span class="consultar-filtro-documentos-administrador-text073"
            ><span>Reportes</span></span
          ><span class="consultar-filtro-documentos-administrador-text075"
            ><span>Actividades</span></span
          ><span class="consultar-filtro-documentos-administrador-text077"
            ><span>Plantillas</span></span
          ><span class="consultar-filtro-documentos-administrador-text079"
            ><span>Departamentos</span></span
          ><span class="consultar-filtro-documentos-administrador-text081"
            ><span>Categorías</span></span
          ><span class="consultar-filtro-documentos-administrador-text083"
            ><span>Usuarios</span></span
          ><div
            class="consultar-filtro-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="consultar-filtro-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8306-seh.svg"
                alt="Vector8306"
                class="consultar-filtro-documentos-administrador-vector04" /><img
                src="public/external/vector28306-fo5f.svg"
                alt="Vector28306"
                class="consultar-filtro-documentos-administrador-vector204" /><img
                src="public/external/vector38306-u7sp.svg"
                alt="Vector38306"
                class="consultar-filtro-documentos-administrador-vector304" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="consultar-filtro-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8306-1oxo.svg"
                alt="Vector8306"
                class="consultar-filtro-documentos-administrador-vector05" /><img
                src="public/external/vector28306-88db.svg"
                alt="Vector28306"
                class="consultar-filtro-documentos-administrador-vector205" /><img
                src="public/external/vector38306-uc6.svg"
                alt="Vector38306"
                class="consultar-filtro-documentos-administrador-vector305" /></div></div
          ><div class="consultar-filtro-documentos-administrador-onefingerhold"
            ><div
              class="consultar-filtro-documentos-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508306-kuzq.svg"
                alt="Ellipse508306"
                class="consultar-filtro-documentos-administrador-ellipse50" /><img
                src="public/external/vector2258306-u3f.svg"
                alt="Vector2258306"
                class="consultar-filtro-documentos-administrador-vector225" /><img
                src="public/external/vector1078306-r2c.svg"
                alt="Vector1078306"
                class="consultar-filtro-documentos-administrador-vector107" /><img
                src="public/external/ellipse3028306-pzer.svg"
                alt="Ellipse3028306"
                class="consultar-filtro-documentos-administrador-ellipse302" /></div></div
          ><div class="consultar-filtro-documentos-administrador-onefingerhold2"
            ><div
              class="consultar-filtro-documentos-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508306-sn8l.svg"
                alt="Ellipse508306"
                class="consultar-filtro-documentos-administrador-ellipse501" /><img
                src="public/external/vector2258306-rmed.svg"
                alt="Vector2258306"
                class="consultar-filtro-documentos-administrador-vector2251" /><img
                src="public/external/vector1078306-gspc.svg"
                alt="Vector1078306"
                class="consultar-filtro-documentos-administrador-vector1071" /><img
                src="public/external/ellipse3028306-cr0ro.svg"
                alt="Ellipse3028306"
                class="consultar-filtro-documentos-administrador-ellipse3021" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="consultar-filtro-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8306-3uh7.svg"
                alt="Vector8306"
                class="consultar-filtro-documentos-administrador-vector06" /><img
                src="public/external/vector28306-5w0t.svg"
                alt="Vector28306"
                class="consultar-filtro-documentos-administrador-vector206" /><img
                src="public/external/vector38306-ck7s.svg"
                alt="Vector38306"
                class="consultar-filtro-documentos-administrador-vector306" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="consultar-filtro-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8306-q6vm.svg"
                alt="Vector8306"
                class="consultar-filtro-documentos-administrador-vector07" /><img
                src="public/external/vector28306-s4sa.svg"
                alt="Vector28306"
                class="consultar-filtro-documentos-administrador-vector207" /><img
                src="public/external/vector38306-tc9g.svg"
                alt="Vector38306"
                class="consultar-filtro-documentos-administrador-vector307" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-newfileemptycommonfilecontent"
            ><div
              class="consultar-filtro-documentos-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8306-g91h.svg"
                alt="Vector8306"
                class="consultar-filtro-documentos-administrador-vector08" /><img
                src="public/external/vector25298306-h19p.svg"
                alt="Vector25298306"
                class="consultar-filtro-documentos-administrador-vector2529" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-newfileemptycommonfilecontent2"
            ><div
              class="consultar-filtro-documentos-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8306-ok1k.svg"
                alt="Vector8306"
                class="consultar-filtro-documentos-administrador-vector09" /><img
                src="public/external/vector25298306-gjeq.svg"
                alt="Vector25298306"
                class="consultar-filtro-documentos-administrador-vector25291" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="consultar-filtro-documentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8306-cg8.svg"
                alt="Vector8306"
                class="consultar-filtro-documentos-administrador-vector10" /><img
                src="public/external/vector28306-npa9.svg"
                alt="Vector28306"
                class="consultar-filtro-documentos-administrador-vector208" /><img
                src="public/external/vector38306-z1a8.svg"
                alt="Vector38306"
                class="consultar-filtro-documentos-administrador-vector308" /><img
                src="public/external/vector48306-g1g.svg"
                alt="Vector48306"
                class="consultar-filtro-documentos-administrador-vector4" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="consultar-filtro-documentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8306-roxp.svg"
                alt="Vector8306"
                class="consultar-filtro-documentos-administrador-vector11" /><img
                src="public/external/vector28306-bpgt.svg"
                alt="Vector28306"
                class="consultar-filtro-documentos-administrador-vector209" /><img
                src="public/external/vector25218306-bus.svg"
                alt="Vector25218306"
                class="consultar-filtro-documentos-administrador-vector2521" /><img
                src="public/external/vector25228306-v7gg.svg"
                alt="Vector25228306"
                class="consultar-filtro-documentos-administrador-vector2522" /><img
                src="public/external/vector25238306-gr25.svg"
                alt="Vector25238306"
                class="consultar-filtro-documentos-administrador-vector2523" /><img
                src="public/external/vector25248306-4jvi.svg"
                alt="Vector25248306"
                class="consultar-filtro-documentos-administrador-vector2524" /></div></div
          ><div
            class="consultar-filtro-documentos-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="consultar-filtro-documentos-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8306-z2bd.svg"
                alt="Vector8306"
                class="consultar-filtro-documentos-administrador-vector12" /><img
                src="public/external/vector28306-l9lh.svg"
                alt="Vector28306"
                class="consultar-filtro-documentos-administrador-vector210" /><img
                src="public/external/vector38306-zk5l.svg"
                alt="Vector38306"
                class="consultar-filtro-documentos-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/782f8d95-6e31-4119-9e28-0ca4a290fdc8?org_if_sml=112724&amp;force_format=original"
            alt="Rectangle217709"
            class="consultar-filtro-documentos-administrador-rectangle21"
          /><span class="consultar-filtro-documentos-administrador-text085"
            ><span>Filtrar</span></span
          ><span class="consultar-filtro-documentos-administrador-text087"
            ><span>Consulta Documentos</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/8243d809-b30e-46f2-afb0-ba28ab0faeff?org_if_sml=110544&amp;force_format=original"
            alt="Rectangle237709"
            class="consultar-filtro-documentos-administrador-rectangle23"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/b9456f2f-a7e0-4f58-80e3-3e27fc183b19?org_if_sml=116203&amp;force_format=original"
            alt="Rectangle67709"
            class="consultar-filtro-documentos-administrador-rectangle6"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/d21c2229-1095-46cb-9b56-20693f33ad43?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle297709"
            class="consultar-filtro-documentos-administrador-rectangle29"
          /><span class="consultar-filtro-documentos-administrador-text089"
            ><span>Hasta</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/e4785f37-2bfc-4f3f-bec5-469d21797079?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle287709"
            class="consultar-filtro-documentos-administrador-rectangle28"
          /><span class="consultar-filtro-documentos-administrador-text091"
            ><span>dd/MM/YYYY</span></span
          ><span class="consultar-filtro-documentos-administrador-text093"
            ><span>Desde</span></span
          ><span class="consultar-filtro-documentos-administrador-text095"
            ><span>dd/MM/YYYY</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/43a43a9e-68b4-4002-99f7-29e28afcd808?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle227709"
            class="consultar-filtro-documentos-administrador-rectangle22"
          /><span class="consultar-filtro-documentos-administrador-text097"
            ><span>Buscar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/8b7d438a-3d83-424a-bad8-19db33146837?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle247709"
            class="consultar-filtro-documentos-administrador-rectangle24"
          /><span class="consultar-filtro-documentos-administrador-text099"
            ><span>Nombre de la plantilla</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/ae9c15e8-d693-4165-8f59-5d5c18edc8ba?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle277709"
            class="consultar-filtro-documentos-administrador-rectangle27"
          /><div
            class="consultar-filtro-documentos-administrador-close-close-big"
            ><img
              src="public/external/svgstrokedi770-x75.svg"
              alt="SVGSTROKEDI770"
              class="consultar-filtro-documentos-administrador-svgstroked4" /></div
          ><span class="consultar-filtro-documentos-administrador-text101"
            ><span>Filtrar documentos</span></span
          ><img
            src="public/external/line57709-8zh5.svg"
            alt="Line57709"
            class="consultar-filtro-documentos-administrador-line5"
          /><span class="consultar-filtro-documentos-administrador-text103"
            ><span>Plantilla</span></span
          ><span class="consultar-filtro-documentos-administrador-text105"
            ><span>Categoría</span></span
          ><span class="consultar-filtro-documentos-administrador-text107"
            ><span>Digitador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/3e3c8c20-e7b7-4f7c-a419-7d03bf9abcbf?org_if_sml=14211&amp;force_format=original"
            alt="Rectangle267709"
            class="consultar-filtro-documentos-administrador-rectangle26"
          /><span class="consultar-filtro-documentos-administrador-text109"
            ><span>Nombre de la categoría</span></span
          ><span class="consultar-filtro-documentos-administrador-text111"
            ><span>Nombre del usuario</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/87422b4a-c12b-4a2c-a0e7-d52e3a38c2db?org_if_sml=114615&amp;force_format=original"
            alt="Rectangle309035"
            class="consultar-filtro-documentos-administrador-rectangle30"
          /><span class="consultar-filtro-documentos-administrador-text113"
            ><span>Filtro avanzado</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
