<!DOCTYPE html>
<html lang="en"
  ><head
    ><title
      >Consultar-filtro-avanzado-documentos-Administrador - Open Cluttered
      Locust</title
    ><meta
      property="og:title"
      content="Consultar-filtro-avanzado-documentos-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./consultar-filtro-avanzado-documentos-administrador.css"
        rel="stylesheet"
      /><div
        class="consultar-filtro-avanzado-documentos-administrador-container"
        ><div
          class="consultar-filtro-avanzado-documentos-administrador-consultarfiltroavanzadodocumentos-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/0acf80b2-87dc-459b-b1c6-23a37e2cd568?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29035"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/53becb95-cb1a-4999-9ce5-b80c8e5df7e5?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9035"
            class="consultar-filtro-avanzado-documentos-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/0ce5cba1-bf6d-4097-b7fc-852f6c3ef788?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39035"
            class="consultar-filtro-avanzado-documentos-administrador-image170640173paddedlogo3"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text002"
            ><span>alfredo.sgd</span></span
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9035-0h8oh.svg"
                alt="Vector9035"
                class="consultar-filtro-avanzado-documentos-administrador-vector" /><img
                src="public/external/vector29035-p709.svg"
                alt="Vector29035"
                class="consultar-filtro-avanzado-documentos-administrador-vector2" /><img
                src="public/external/vector39035-jfv.svg"
                alt="Vector39035"
                class="consultar-filtro-avanzado-documentos-administrador-vector3" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9035-467b.svg"
                alt="Vector9035"
                class="consultar-filtro-avanzado-documentos-administrador-vector01" /><img
                src="public/external/vector29035-1hc.svg"
                alt="Vector29035"
                class="consultar-filtro-avanzado-documentos-administrador-vector201" /><img
                src="public/external/vector39035-dihf.svg"
                alt="Vector39035"
                class="consultar-filtro-avanzado-documentos-administrador-vector301" /></div></div
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text004"
            >v</span
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9035-5pso.svg"
                alt="Vector9035"
                class="consultar-filtro-avanzado-documentos-administrador-vector02" /><img
                src="public/external/vector29035-5ixr.svg"
                alt="Vector29035"
                class="consultar-filtro-avanzado-documentos-administrador-vector202" /><img
                src="public/external/vector39035-iqrr.svg"
                alt="Vector39035"
                class="consultar-filtro-avanzado-documentos-administrador-vector302" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9035-1mg.svg"
                alt="Vector9035"
                class="consultar-filtro-avanzado-documentos-administrador-vector03" /><img
                src="public/external/vector29035-d8v.svg"
                alt="Vector29035"
                class="consultar-filtro-avanzado-documentos-administrador-vector203" /><img
                src="public/external/vector39035-k6qt.svg"
                alt="Vector39035"
                class="consultar-filtro-avanzado-documentos-administrador-vector303" /></div></div
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text005"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle99035-ykvg.svg"
            alt="Rectangle99035"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle9"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text007"
            ><span>Buscar documento...</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text009"
            ><span> prueba.pdf</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text011"
            ><span>#0563</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text013"
            ><span>#0753</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text015"
            ><span>#0872</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text017"
            ><span>#0888</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text019"
            ><span>Actas de Nacimiento</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text021"
            ><span>Certificación legal</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text023"
            ><span>Cheque</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text025"
            ><span>Fiscalización</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text027"
            ><span>Archivo</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text029"
            ><span>Archivo</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text031"
            ><span>Pagos</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text033"
            ><span>Archivo</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text035"
            ><span>alfredo.sgd</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text037"
            ><span>alfredo.sgd</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text039"
            ><span>alfredo.sgd</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text041"
            ><span>alfredo.sgd</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text043"
            ><span>01/02/2024</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text045"
            ><span>04/02/2024</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text047"
            ><span>05/02/2024</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text049"
            ><span>06/02/2024</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text051"
            ><span>Task</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text053"
            ><span>Plantilla</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text055"
            ><span>Categoría</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text057"
            ><span>Documento</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text059"
            ><span>Digitador</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text061"
            ><span>Fecha</span></span
          ><img
            src="public/external/line99035-iehk.svg"
            alt="Line99035"
            class="consultar-filtro-avanzado-documentos-administrador-line9"
          /><img
            src="public/external/line109035-f08g.svg"
            alt="Line109035"
            class="consultar-filtro-avanzado-documentos-administrador-line10"
          /><img
            src="public/external/line119035-i3w8.svg"
            alt="Line119035"
            class="consultar-filtro-avanzado-documentos-administrador-line11"
          /><img
            src="public/external/line129035-oudi.svg"
            alt="Line129035"
            class="consultar-filtro-avanzado-documentos-administrador-line12"
          /><img
            src="public/external/line139035-q1p.svg"
            alt="Line139035"
            class="consultar-filtro-avanzado-documentos-administrador-line13"
          /><img
            src="public/external/line149036-rs7j.svg"
            alt="Line149036"
            class="consultar-filtro-avanzado-documentos-administrador-line14"
          /><img
            src="public/external/line159036-sm1d.svg"
            alt="Line159036"
            class="consultar-filtro-avanzado-documentos-administrador-line15"
          /><div
            class="consultar-filtro-avanzado-documentos-administrador-apply-applyin-circle-larger"
            ><img
              src="public/external/svgstrokedi903-h7zb.svg"
              alt="SVGSTROKEDI903"
              class="consultar-filtro-avanzado-documentos-administrador-svgstroked" /></div
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text063"
            ><span> certicado.pdf</span></span
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-apply-applyin-circle-larger1"
            ><img
              src="public/external/svgstrokedi903-j1eh.svg"
              alt="SVGSTROKEDI903"
              class="consultar-filtro-avanzado-documentos-administrador-svgstroked1" /></div
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text065"
            ><span> pagos.pdf</span></span
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-apply-applyin-circle-larger2"
            ><img
              src="public/external/svgstrokedi903-u7uo.svg"
              alt="SVGSTROKEDI903"
              class="consultar-filtro-avanzado-documentos-administrador-svgstroked2" /></div
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text067"
            ><span> doc23.pdf</span></span
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-apply-applyin-circle-larger3"
            ><img
              src="public/external/svgstrokedi903-rxz.svg"
              alt="SVGSTROKEDI903"
              class="consultar-filtro-avanzado-documentos-administrador-svgstroked3" /></div
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text069"
            ><span>Documentos</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text071"
            ><span>Documentos</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text073"
            ><span>Reportes</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text075"
            ><span>Actividades</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text077"
            ><span>Plantillas</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text079"
            ><span>Departamentos</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text081"
            ><span>Categorías</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text083"
            ><span>Usuarios</span></span
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9036-tci.svg"
                alt="Vector9036"
                class="consultar-filtro-avanzado-documentos-administrador-vector04" /><img
                src="public/external/vector29036-9dy.svg"
                alt="Vector29036"
                class="consultar-filtro-avanzado-documentos-administrador-vector204" /><img
                src="public/external/vector39036-eb.svg"
                alt="Vector39036"
                class="consultar-filtro-avanzado-documentos-administrador-vector304" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9036-95tl.svg"
                alt="Vector9036"
                class="consultar-filtro-avanzado-documentos-administrador-vector05" /><img
                src="public/external/vector29036-lbym.svg"
                alt="Vector29036"
                class="consultar-filtro-avanzado-documentos-administrador-vector205" /><img
                src="public/external/vector39036-sk5h.svg"
                alt="Vector39036"
                class="consultar-filtro-avanzado-documentos-administrador-vector305" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-onefingerhold"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509036-uqzj.svg"
                alt="Ellipse509036"
                class="consultar-filtro-avanzado-documentos-administrador-ellipse50" /><img
                src="public/external/vector2259036-jyu.svg"
                alt="Vector2259036"
                class="consultar-filtro-avanzado-documentos-administrador-vector225" /><img
                src="public/external/vector1079036-ubae.svg"
                alt="Vector1079036"
                class="consultar-filtro-avanzado-documentos-administrador-vector107" /><img
                src="public/external/ellipse3029036-y5px.svg"
                alt="Ellipse3029036"
                class="consultar-filtro-avanzado-documentos-administrador-ellipse302" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-onefingerhold2"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509036-plvq.svg"
                alt="Ellipse509036"
                class="consultar-filtro-avanzado-documentos-administrador-ellipse501" /><img
                src="public/external/vector2259036-4nq5.svg"
                alt="Vector2259036"
                class="consultar-filtro-avanzado-documentos-administrador-vector2251" /><img
                src="public/external/vector1079036-nmel.svg"
                alt="Vector1079036"
                class="consultar-filtro-avanzado-documentos-administrador-vector1071" /><img
                src="public/external/ellipse3029036-cz7.svg"
                alt="Ellipse3029036"
                class="consultar-filtro-avanzado-documentos-administrador-ellipse3021" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9036-7kd8.svg"
                alt="Vector9036"
                class="consultar-filtro-avanzado-documentos-administrador-vector06" /><img
                src="public/external/vector29036-zuo1b.svg"
                alt="Vector29036"
                class="consultar-filtro-avanzado-documentos-administrador-vector206" /><img
                src="public/external/vector39036-593.svg"
                alt="Vector39036"
                class="consultar-filtro-avanzado-documentos-administrador-vector306" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9036-8ov5.svg"
                alt="Vector9036"
                class="consultar-filtro-avanzado-documentos-administrador-vector07" /><img
                src="public/external/vector29036-zeqa.svg"
                alt="Vector29036"
                class="consultar-filtro-avanzado-documentos-administrador-vector207" /><img
                src="public/external/vector39036-41zb.svg"
                alt="Vector39036"
                class="consultar-filtro-avanzado-documentos-administrador-vector307" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-newfileemptycommonfilecontent"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9036-4qrw.svg"
                alt="Vector9036"
                class="consultar-filtro-avanzado-documentos-administrador-vector08" /><img
                src="public/external/vector25299036-4xpr.svg"
                alt="Vector25299036"
                class="consultar-filtro-avanzado-documentos-administrador-vector2529" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-newfileemptycommonfilecontent2"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9036-qth8.svg"
                alt="Vector9036"
                class="consultar-filtro-avanzado-documentos-administrador-vector09" /><img
                src="public/external/vector25299036-sbcp.svg"
                alt="Vector25299036"
                class="consultar-filtro-avanzado-documentos-administrador-vector25291" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9036-a5hp.svg"
                alt="Vector9036"
                class="consultar-filtro-avanzado-documentos-administrador-vector10" /><img
                src="public/external/vector29036-aa3.svg"
                alt="Vector29036"
                class="consultar-filtro-avanzado-documentos-administrador-vector208" /><img
                src="public/external/vector39036-os2.svg"
                alt="Vector39036"
                class="consultar-filtro-avanzado-documentos-administrador-vector308" /><img
                src="public/external/vector49036-en5d.svg"
                alt="Vector49036"
                class="consultar-filtro-avanzado-documentos-administrador-vector4" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9036-mjm8.svg"
                alt="Vector9036"
                class="consultar-filtro-avanzado-documentos-administrador-vector11" /><img
                src="public/external/vector29036-pxd.svg"
                alt="Vector29036"
                class="consultar-filtro-avanzado-documentos-administrador-vector209" /><img
                src="public/external/vector25219036-hqzn.svg"
                alt="Vector25219036"
                class="consultar-filtro-avanzado-documentos-administrador-vector2521" /><img
                src="public/external/vector25229036-wgf.svg"
                alt="Vector25229036"
                class="consultar-filtro-avanzado-documentos-administrador-vector2522" /><img
                src="public/external/vector25239036-qzjxh.svg"
                alt="Vector25239036"
                class="consultar-filtro-avanzado-documentos-administrador-vector2523" /><img
                src="public/external/vector25249036-2u3.svg"
                alt="Vector25249036"
                class="consultar-filtro-avanzado-documentos-administrador-vector2524" /></div></div
          ><div
            class="consultar-filtro-avanzado-documentos-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="consultar-filtro-avanzado-documentos-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9036-rq1a.svg"
                alt="Vector9036"
                class="consultar-filtro-avanzado-documentos-administrador-vector12" /><img
                src="public/external/vector29036-a1as.svg"
                alt="Vector29036"
                class="consultar-filtro-avanzado-documentos-administrador-vector210" /><img
                src="public/external/vector39036-uvtq.svg"
                alt="Vector39036"
                class="consultar-filtro-avanzado-documentos-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/a12cc7e6-dd9e-4f20-abab-769de50dc953?org_if_sml=112724&amp;force_format=original"
            alt="Rectangle219036"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle21"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text085"
            ><span>Filtrar</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text087"
            ><span>Consulta Documentos</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/6be2a47d-e31b-4641-9e8b-5023901a0624?org_if_sml=110544&amp;force_format=original"
            alt="Rectangle239036"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle23"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/468ba861-56bf-4d82-b1c4-8b4347492059?org_if_sml=123888&amp;force_format=original"
            alt="Rectangle69036"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle6"
          /><img
            src="public/external/line169037-rels.svg"
            alt="Line169037"
            class="consultar-filtro-avanzado-documentos-administrador-line16"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/600f70b2-e370-4025-98ec-35e05f644d97?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle299036"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle29"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text089"
            ><span>Hasta</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/0865fc24-a0e5-4bdb-a2ef-175dacd19617?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle289036"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle28"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text091"
            ><span>dd/MM/YYYY</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text093"
            ><span>Desde</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text095"
            ><span>dd/MM/YYYY</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/bd885718-e742-492b-8f2b-74b770638a84?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle229036"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle22"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text097"
            ><span>Buscar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/9ec9e915-334d-4b69-abdc-87383560869e?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle249036"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle24"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text099"
            ><span>Seleccione la plantilla..</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/6d54eba0-686c-4682-98fd-9a6b179cfc02?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle279036"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle27"
          /><div
            class="consultar-filtro-avanzado-documentos-administrador-close-close-big"
            ><img
              src="public/external/svgstrokedi903-8e2b.svg"
              alt="SVGSTROKEDI903"
              class="consultar-filtro-avanzado-documentos-administrador-svgstroked4" /></div
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text101"
            ><span>Filtrar documentos</span></span
          ><img
            src="public/external/line59036-wy19.svg"
            alt="Line59036"
            class="consultar-filtro-avanzado-documentos-administrador-line5"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text103"
            ><span>Plantilla</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text105"
            ><span>Categoría</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text107"
            ><span>Digitador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/085453f7-7c31-4e37-b9c8-774bd5c53407?org_if_sml=14211&amp;force_format=original"
            alt="Rectangle269036"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle26"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text109"
            ><span>Seleccione la categoría..</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text111"
            ><span>Nombre del usuario</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/5ffc98a8-d177-4ea1-aa7f-b495b4c3685d?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle309037"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle30"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text113"
            ><span>Nombre</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text115"
            ><span>Nombre</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text117"
            ><span>Digita el nombre...</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/3a025a93-f8ee-4463-aa05-cccd648c5822?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle319037"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle31"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text119"
            ><span>Cédula</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text121"
            ><span>Digita la cédula...</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/22cbe1e9-32b3-4185-9b4a-afcf714bb2bb?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle329037"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle32"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text123"
            ><span>Fecha</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text125"
            ><span>dd/MM/YYYY</span></span
          ><span
            class="consultar-filtro-avanzado-documentos-administrador-text127"
            ><span>Firma</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/1a27fae0-4155-45ee-8b7d-3f43152600ab?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle339037"
            class="consultar-filtro-avanzado-documentos-administrador-rectangle33"
          /><span
            class="consultar-filtro-avanzado-documentos-administrador-text129"
            ><span>Campos de la plantilla seleccionada</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
