<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Crear-Plantillas-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Crear-Plantillas-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./crear-plantillas-administrador.css" rel="stylesheet" /><div
        class="crear-plantillas-administrador-container"
        ><div
          class="crear-plantillas-administrador-crear-plantillas-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/ae072c2a-9531-40ce-8de6-86b64f9f75e1?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle28371"
            class="crear-plantillas-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/e4893114-945b-4200-9619-ffab00739c64?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg8371"
            class="crear-plantillas-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/e9bd0e45-6989-4d34-b03b-aabb25cbe9b5?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo38371"
            class="crear-plantillas-administrador-image170640173paddedlogo3"
          /><span class="crear-plantillas-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="crear-plantillas-administrador-text002"
            ><span>alfredo.sgd</span></span
          ><div
            class="crear-plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="crear-plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector8371-e9t.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector" /><img
                src="public/external/vector28371-j6ww.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector2" /><img
                src="public/external/vector38371-dpyp.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector3" /></div></div
          ><div
            class="crear-plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="crear-plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector8371-vdw.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector01" /><img
                src="public/external/vector28371-vmcs.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector201" /><img
                src="public/external/vector38371-2pi.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector301" /></div></div
          ><span class="crear-plantillas-administrador-text004">v</span
          ><div
            class="crear-plantillas-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="crear-plantillas-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector8371-p5t.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector02" /><img
                src="public/external/vector28371-yjz.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector202" /><img
                src="public/external/vector38371-hpgq.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector302" /></div></div
          ><div
            class="crear-plantillas-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="crear-plantillas-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector8371-dw.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector03" /><img
                src="public/external/vector28371-o2iw.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector203" /><img
                src="public/external/vector38371-081.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector303" /></div></div
          ><span class="crear-plantillas-administrador-text005"
            ><span>Cerrar Sesión</span></span
          ><span class="crear-plantillas-administrador-text007"
            ><span>Documentos</span></span
          ><span class="crear-plantillas-administrador-text009"
            ><span>Reportes</span></span
          ><span class="crear-plantillas-administrador-text011"
            ><span>Actividades</span></span
          ><span class="crear-plantillas-administrador-text013"
            ><span>Plantillas</span></span
          ><span class="crear-plantillas-administrador-text015"
            ><span>Plantillas</span></span
          ><span class="crear-plantillas-administrador-text017"
            ><span>Departamentos</span></span
          ><span class="crear-plantillas-administrador-text019"
            ><span>Categorías</span></span
          ><span class="crear-plantillas-administrador-text021"
            ><span>Usuarios</span></span
          ><div
            class="crear-plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="crear-plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8371-tltc.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector04" /><img
                src="public/external/vector28371-step.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector204" /><img
                src="public/external/vector38371-e1am.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector304" /></div></div
          ><div
            class="crear-plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="crear-plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8371-b6dl.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector05" /><img
                src="public/external/vector28371-pk1.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector205" /><img
                src="public/external/vector38371-nco.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector305" /></div></div
          ><div class="crear-plantillas-administrador-onefingerhold"
            ><div class="crear-plantillas-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508371-9wcf.svg"
                alt="Ellipse508371"
                class="crear-plantillas-administrador-ellipse50" /><img
                src="public/external/vector2258371-ddl.svg"
                alt="Vector2258371"
                class="crear-plantillas-administrador-vector225" /><img
                src="public/external/vector1078371-sjkn.svg"
                alt="Vector1078371"
                class="crear-plantillas-administrador-vector107" /><img
                src="public/external/ellipse3028371-6erq.svg"
                alt="Ellipse3028371"
                class="crear-plantillas-administrador-ellipse302" /></div></div
          ><div class="crear-plantillas-administrador-onefingerhold2"
            ><div class="crear-plantillas-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508371-np.svg"
                alt="Ellipse508371"
                class="crear-plantillas-administrador-ellipse501" /><img
                src="public/external/vector2258371-i47e.svg"
                alt="Vector2258371"
                class="crear-plantillas-administrador-vector2251" /><img
                src="public/external/vector1078371-x9v9.svg"
                alt="Vector1078371"
                class="crear-plantillas-administrador-vector1071" /><img
                src="public/external/ellipse3028371-i42n.svg"
                alt="Ellipse3028371"
                class="crear-plantillas-administrador-ellipse3021" /></div></div
          ><div
            class="crear-plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="crear-plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8371-bvpk.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector06" /><img
                src="public/external/vector28371-l8g.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector206" /><img
                src="public/external/vector38371-96jl.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector306" /></div></div
          ><div
            class="crear-plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="crear-plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8371-sa26.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector07" /><img
                src="public/external/vector28371-7kwl.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector207" /><img
                src="public/external/vector38371-7os9.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector307" /></div></div
          ><div
            class="crear-plantillas-administrador-newfileemptycommonfilecontent"
            ><div
              class="crear-plantillas-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8371-mih5.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector08" /><img
                src="public/external/vector25298371-qe4.svg"
                alt="Vector25298371"
                class="crear-plantillas-administrador-vector2529" /></div></div
          ><div
            class="crear-plantillas-administrador-newfileemptycommonfilecontent2"
            ><div
              class="crear-plantillas-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8371-w7j8.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector09" /><img
                src="public/external/vector25298371-qbg.svg"
                alt="Vector25298371"
                class="crear-plantillas-administrador-vector25291" /></div></div
          ><div
            class="crear-plantillas-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="crear-plantillas-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8371-a3lg.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector10" /><img
                src="public/external/vector28371-ts4c.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector208" /><img
                src="public/external/vector38371-8h2d.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector308" /><img
                src="public/external/vector48371-f1eb.svg"
                alt="Vector48371"
                class="crear-plantillas-administrador-vector4" /></div></div
          ><div
            class="crear-plantillas-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="crear-plantillas-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8371-3ci.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector11" /><img
                src="public/external/vector28371-5cog.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector209" /><img
                src="public/external/vector25218371-1l6g.svg"
                alt="Vector25218371"
                class="crear-plantillas-administrador-vector2521" /><img
                src="public/external/vector25228371-wihq.svg"
                alt="Vector25228371"
                class="crear-plantillas-administrador-vector2522" /><img
                src="public/external/vector25238371-0pio.svg"
                alt="Vector25238371"
                class="crear-plantillas-administrador-vector2523" /><img
                src="public/external/vector25248371-4t1.svg"
                alt="Vector25248371"
                class="crear-plantillas-administrador-vector2524" /></div></div
          ><div
            class="crear-plantillas-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="crear-plantillas-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8371-xu9p.svg"
                alt="Vector8371"
                class="crear-plantillas-administrador-vector12" /><img
                src="public/external/vector28371-m6oa.svg"
                alt="Vector28371"
                class="crear-plantillas-administrador-vector210" /><img
                src="public/external/vector38371-r5i5.svg"
                alt="Vector38371"
                class="crear-plantillas-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/3bba48c0-7e49-40ae-a606-d2350182ce35?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle38371"
            class="crear-plantillas-administrador-rectangle3"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/9bc2f140-e30d-4141-b11f-cb6be4ce0042?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle278371"
            class="crear-plantillas-administrador-rectangle27"
          /><span class="crear-plantillas-administrador-text023"
            ><span>Nombre de la plantilla</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/60ddf01b-754a-45f4-a3d8-8fc19a838cbb?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle318484"
            class="crear-plantillas-administrador-rectangle31"
          /><span class="crear-plantillas-administrador-text025"
            ><span>Escriba el nombre del campo..</span></span
          ><span class="crear-plantillas-administrador-text027"
            ><span>Descripción del campo...</span></span
          ><span class="crear-plantillas-administrador-text029"
            ><span>Descripción del campo...</span></span
          ><span class="crear-plantillas-administrador-text031"
            ><span>Descripción del campo...</span></span
          ><span class="crear-plantillas-administrador-text033"
            ><span>Descripción del campo...</span></span
          ><span class="crear-plantillas-administrador-text035"
            ><span>* Nombre</span></span
          ><span class="crear-plantillas-administrador-text037"
            ><span>Nombre de campo</span></span
          ><span class="crear-plantillas-administrador-text039"
            ><span>Tipo</span></span
          ><span class="crear-plantillas-administrador-text041"
            ><span>Restricciones</span></span
          ><span class="crear-plantillas-administrador-text043"
            ><span>Descripción</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/8045670a-a59c-4e54-a974-1b249c991deb?org_if_sml=110848&amp;force_format=original"
            alt="Rectangle218371"
            class="crear-plantillas-administrador-rectangle21"
          /><span class="crear-plantillas-administrador-text045"
            ><span>Nombre de las categoría</span></span
          ><span class="crear-plantillas-administrador-text047"
            ><span>* Categoría</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/64b90a5c-cd8d-4850-b8af-9ca3a9132a47?org_if_sml=110904&amp;force_format=original"
            alt="Rectangle228371"
            class="crear-plantillas-administrador-rectangle22"
          /><span class="crear-plantillas-administrador-text049"
            ><span>Nombre del departamento</span></span
          ><span class="crear-plantillas-administrador-text051"
            ><span>* Departamento</span></span
          ><span class="crear-plantillas-administrador-text053"
            ><span>Nombre</span></span
          ><span class="crear-plantillas-administrador-text055"
            ><span>Nulo</span></span
          ><span class="crear-plantillas-administrador-text057"
            ><span>Nulo</span></span
          ><span class="crear-plantillas-administrador-text059"
            ><span>Nulo</span></span
          ><span class="crear-plantillas-administrador-text061"
            ><span>Cédula</span></span
          ><span class="crear-plantillas-administrador-text063"
            ><span>Campos de plantilla</span></span
          ><span class="crear-plantillas-administrador-text065"
            ><span>Tipo de datos</span></span
          ><span class="crear-plantillas-administrador-text067"
            ><span>Restricciones</span></span
          ><img
            src="public/external/line98371-x43c.svg"
            alt="Line98371"
            class="crear-plantillas-administrador-line9"
          /><img
            src="public/external/line108371-x44p.svg"
            alt="Line108371"
            class="crear-plantillas-administrador-line10"
          /><img
            src="public/external/line128505-tcai.svg"
            alt="Line128505"
            class="crear-plantillas-administrador-line12"
          /><img
            src="public/external/line138505-0rvr.svg"
            alt="Line138505"
            class="crear-plantillas-administrador-line13"
          /><img
            src="public/external/line148505-wg7.svg"
            alt="Line148505"
            class="crear-plantillas-administrador-line14"
          /><img
            src="public/external/line118505-1y3h.svg"
            alt="Line118505"
            class="crear-plantillas-administrador-line11"
          /><img
            src="public/external/line158545-b7d.svg"
            alt="Line158545"
            class="crear-plantillas-administrador-line15"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/700bec78-ed02-49e5-9ec7-8e1ae0a5f52f?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle198371"
            class="crear-plantillas-administrador-rectangle19"
          /><span class="crear-plantillas-administrador-text069"
            ><span>Crear</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/165c6e6c-8a60-4c7e-8c34-6489938af931?org_if_sml=18900&amp;force_format=original"
            alt="Rectangle348484"
            class="crear-plantillas-administrador-rectangle34"
          /><span class="crear-plantillas-administrador-text071"
            ><span>Agregar campo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c4dd7819-674e-4220-b553-807119fd2d33?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle208371"
            class="crear-plantillas-administrador-rectangle20"
          /><span class="crear-plantillas-administrador-text073"
            ><span>Cancelar</span></span
          ><span class="crear-plantillas-administrador-text075"
            ><span>Fecha</span></span
          ><span class="crear-plantillas-administrador-text077"
            ><span>Firma</span></span
          ><span class="crear-plantillas-administrador-text079"
            ><span>Caractér</span></span
          ><span class="crear-plantillas-administrador-text081"
            ><span>Caractér</span></span
          ><span class="crear-plantillas-administrador-text083"
            ><span>Númerico</span></span
          ><span class="crear-plantillas-administrador-text085"
            ><span>Fecha</span></span
          ><span class="crear-plantillas-administrador-text087"
            ><span>Booleano</span></span
          ><span class="crear-plantillas-administrador-text089"
            ><span>Númerico</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/946ec449-65c7-4c43-8385-56a0b04fb152?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle288371"
            class="crear-plantillas-administrador-rectangle28"
          /><span class="crear-plantillas-administrador-text091"
            ><span>Caractér</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/d3a6739d-ceba-4b11-9b5c-ab92ae0e6231?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle358494"
            class="crear-plantillas-administrador-rectangle35"
          /><span class="crear-plantillas-administrador-text093"
            ><span>Campo nulo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/23e2edb2-eb3a-45a8-aa58-cf0cd03a5b86?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle328484"
            class="crear-plantillas-administrador-rectangle32"
          /><span class="crear-plantillas-administrador-text095"
            ><span>Booleano</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/2a1471f1-ac15-4e6d-b537-509fd2f5dfd7?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle338484"
            class="crear-plantillas-administrador-rectangle33"
          /><span class="crear-plantillas-administrador-text097"
            ><span>Fecha</span></span
          ><div
            class="crear-plantillas-administrador-apply-applyin-circle-larger"
            ><img
              src="public/external/svgstrokedi854-ufsh.svg"
              alt="SVGSTROKEDI854"
              class="crear-plantillas-administrador-svgstroked" /></div
          ><div
            class="crear-plantillas-administrador-apply-applyin-circle-larger1"
            ><img
              src="public/external/svgstrokedi854-rw06.svg"
              alt="SVGSTROKEDI854"
              class="crear-plantillas-administrador-svgstroked1" /></div
          ><div
            class="crear-plantillas-administrador-apply-applyin-circle-larger2"
            ><img
              src="public/external/svgstrokedi854-htk5.svg"
              alt="SVGSTROKEDI854"
              class="crear-plantillas-administrador-svgstroked2" /></div
          ><span class="crear-plantillas-administrador-text099"
            ><span>Crear Plantillas</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
