<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Crear-Departamentos-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Crear-Departamentos-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./crear-departamentos-administrador.css"
        rel="stylesheet"
      /><div class="crear-departamentos-administrador-container"
        ><div
          class="crear-departamentos-administrador-crear-departamentos-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/ebc233f6-cd24-4cb4-9782-2c38e4359a13?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle28568"
            class="crear-departamentos-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/4b9fff42-cf88-4be6-9d7b-cdfd57e032fe?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg8568"
            class="crear-departamentos-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/4ebf82e8-2063-4216-a15e-9f0e89620eed?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo38568"
            class="crear-departamentos-administrador-image170640173paddedlogo3"
          /><span class="crear-departamentos-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="crear-departamentos-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="crear-departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="crear-departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector8568-pmzl.svg"
                alt="Vector8568"
                class="crear-departamentos-administrador-vector" /><img
                src="public/external/vector28568-obu.svg"
                alt="Vector28568"
                class="crear-departamentos-administrador-vector2" /><img
                src="public/external/vector38568-v6kb.svg"
                alt="Vector38568"
                class="crear-departamentos-administrador-vector3" /></div></div
          ><div
            class="crear-departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="crear-departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector8568-g0kn.svg"
                alt="Vector8568"
                class="crear-departamentos-administrador-vector01" /><img
                src="public/external/vector28568-tn4d.svg"
                alt="Vector28568"
                class="crear-departamentos-administrador-vector201" /><img
                src="public/external/vector38568-gq9w.svg"
                alt="Vector38568"
                class="crear-departamentos-administrador-vector301" /></div></div
          ><span class="crear-departamentos-administrador-text04">v</span
          ><div
            class="crear-departamentos-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="crear-departamentos-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector8568-uef.svg"
                alt="Vector8568"
                class="crear-departamentos-administrador-vector02" /><img
                src="public/external/vector28568-ngdx.svg"
                alt="Vector28568"
                class="crear-departamentos-administrador-vector202" /><img
                src="public/external/vector38568-7ujn.svg"
                alt="Vector38568"
                class="crear-departamentos-administrador-vector302" /></div></div
          ><div
            class="crear-departamentos-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="crear-departamentos-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector8568-chud.svg"
                alt="Vector8568"
                class="crear-departamentos-administrador-vector03" /><img
                src="public/external/vector28568-0vs.svg"
                alt="Vector28568"
                class="crear-departamentos-administrador-vector203" /><img
                src="public/external/vector38568-7s9.svg"
                alt="Vector38568"
                class="crear-departamentos-administrador-vector303" /></div></div
          ><span class="crear-departamentos-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><span class="crear-departamentos-administrador-text07"
            ><span>Documentos</span></span
          ><span class="crear-departamentos-administrador-text09"
            ><span>Reportes</span></span
          ><span class="crear-departamentos-administrador-text11"
            ><span>Actividades</span></span
          ><span class="crear-departamentos-administrador-text13"
            ><span>Plantillas</span></span
          ><span class="crear-departamentos-administrador-text15"
            ><span>Departamentos</span></span
          ><span class="crear-departamentos-administrador-text17"
            ><span>Departamentos</span></span
          ><span class="crear-departamentos-administrador-text19"
            ><span>Categorías</span></span
          ><span class="crear-departamentos-administrador-text21"
            ><span>Usuarios</span></span
          ><div
            class="crear-departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="crear-departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8569-yj88.svg"
                alt="Vector8569"
                class="crear-departamentos-administrador-vector04" /><img
                src="public/external/vector28569-4xrc.svg"
                alt="Vector28569"
                class="crear-departamentos-administrador-vector204" /><img
                src="public/external/vector38569-nwnm.svg"
                alt="Vector38569"
                class="crear-departamentos-administrador-vector304" /></div></div
          ><div
            class="crear-departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="crear-departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8569-07o.svg"
                alt="Vector8569"
                class="crear-departamentos-administrador-vector05" /><img
                src="public/external/vector28569-5k72.svg"
                alt="Vector28569"
                class="crear-departamentos-administrador-vector205" /><img
                src="public/external/vector38569-5n0k.svg"
                alt="Vector38569"
                class="crear-departamentos-administrador-vector305" /></div></div
          ><div class="crear-departamentos-administrador-onefingerhold"
            ><div class="crear-departamentos-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508569-sw1.svg"
                alt="Ellipse508569"
                class="crear-departamentos-administrador-ellipse50" /><img
                src="public/external/vector2258569-a9is.svg"
                alt="Vector2258569"
                class="crear-departamentos-administrador-vector225" /><img
                src="public/external/vector1078569-dsje.svg"
                alt="Vector1078569"
                class="crear-departamentos-administrador-vector107" /><img
                src="public/external/ellipse3028569-mfdn.svg"
                alt="Ellipse3028569"
                class="crear-departamentos-administrador-ellipse302" /></div></div
          ><div class="crear-departamentos-administrador-onefingerhold2"
            ><div class="crear-departamentos-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508569-gwlj.svg"
                alt="Ellipse508569"
                class="crear-departamentos-administrador-ellipse501" /><img
                src="public/external/vector2258569-afxi.svg"
                alt="Vector2258569"
                class="crear-departamentos-administrador-vector2251" /><img
                src="public/external/vector1078569-kekp.svg"
                alt="Vector1078569"
                class="crear-departamentos-administrador-vector1071" /><img
                src="public/external/ellipse3028569-xr6.svg"
                alt="Ellipse3028569"
                class="crear-departamentos-administrador-ellipse3021" /></div></div
          ><div
            class="crear-departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="crear-departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8569-n7l5.svg"
                alt="Vector8569"
                class="crear-departamentos-administrador-vector06" /><img
                src="public/external/vector28569-0yez.svg"
                alt="Vector28569"
                class="crear-departamentos-administrador-vector206" /><img
                src="public/external/vector38569-1bd3.svg"
                alt="Vector38569"
                class="crear-departamentos-administrador-vector306" /></div></div
          ><div
            class="crear-departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="crear-departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8569-4j29.svg"
                alt="Vector8569"
                class="crear-departamentos-administrador-vector07" /><img
                src="public/external/vector28569-lyyn.svg"
                alt="Vector28569"
                class="crear-departamentos-administrador-vector207" /><img
                src="public/external/vector38569-ia7.svg"
                alt="Vector38569"
                class="crear-departamentos-administrador-vector307" /></div></div
          ><div
            class="crear-departamentos-administrador-newfileemptycommonfilecontent"
            ><div
              class="crear-departamentos-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8569-7kc.svg"
                alt="Vector8569"
                class="crear-departamentos-administrador-vector08" /><img
                src="public/external/vector25298569-8wqs.svg"
                alt="Vector25298569"
                class="crear-departamentos-administrador-vector2529" /></div></div
          ><div
            class="crear-departamentos-administrador-newfileemptycommonfilecontent2"
            ><div
              class="crear-departamentos-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8569-ouxq.svg"
                alt="Vector8569"
                class="crear-departamentos-administrador-vector09" /><img
                src="public/external/vector25298569-x1di.svg"
                alt="Vector25298569"
                class="crear-departamentos-administrador-vector25291" /></div></div
          ><div
            class="crear-departamentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="crear-departamentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8569-nie8.svg"
                alt="Vector8569"
                class="crear-departamentos-administrador-vector10" /><img
                src="public/external/vector28569-t19t.svg"
                alt="Vector28569"
                class="crear-departamentos-administrador-vector208" /><img
                src="public/external/vector38569-55cm.svg"
                alt="Vector38569"
                class="crear-departamentos-administrador-vector308" /><img
                src="public/external/vector48569-x8e.svg"
                alt="Vector48569"
                class="crear-departamentos-administrador-vector4" /></div></div
          ><div
            class="crear-departamentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="crear-departamentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8569-cbo.svg"
                alt="Vector8569"
                class="crear-departamentos-administrador-vector11" /><img
                src="public/external/vector28569-b2t2.svg"
                alt="Vector28569"
                class="crear-departamentos-administrador-vector209" /><img
                src="public/external/vector25218569-6dzv.svg"
                alt="Vector25218569"
                class="crear-departamentos-administrador-vector2521" /><img
                src="public/external/vector25228569-vn88.svg"
                alt="Vector25228569"
                class="crear-departamentos-administrador-vector2522" /><img
                src="public/external/vector25238569-i4b.svg"
                alt="Vector25238569"
                class="crear-departamentos-administrador-vector2523" /><img
                src="public/external/vector25248569-3qss.svg"
                alt="Vector25248569"
                class="crear-departamentos-administrador-vector2524" /></div></div
          ><div
            class="crear-departamentos-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="crear-departamentos-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8569-ivg9.svg"
                alt="Vector8569"
                class="crear-departamentos-administrador-vector12" /><img
                src="public/external/vector28569-wacn.svg"
                alt="Vector28569"
                class="crear-departamentos-administrador-vector210" /><img
                src="public/external/vector38569-zjo.svg"
                alt="Vector38569"
                class="crear-departamentos-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c25c92d2-3806-43fd-b1bd-f204940173cb?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle38601"
            class="crear-departamentos-administrador-rectangle3"
          /><span class="crear-departamentos-administrador-text23"
            ><span>Nombre del departamento</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/e3d0e696-60f0-4f03-8510-5889693741fa?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle58621"
            class="crear-departamentos-administrador-rectangle5"
          /><span class="crear-departamentos-administrador-text25"
            ><span>23/2/2024</span></span
          ><span class="crear-departamentos-administrador-text27"
            ><span>* Nombre</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/ca78deae-c39e-46d3-8610-8cf1331397fd?org_if_sml=136287&amp;force_format=original"
            alt="Rectangle48621"
            class="crear-departamentos-administrador-rectangle4"
          /><span class="crear-departamentos-administrador-text29"
            ><span>Descripción del departamento</span></span
          ><span class="crear-departamentos-administrador-text31"
            ><span>* Descripción</span></span
          ><span class="crear-departamentos-administrador-text33"
            ><span>* Fecha creación</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/7618c86c-28d3-462f-8400-19b978f37352?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle68621"
            class="crear-departamentos-administrador-rectangle6"
          /><span class="crear-departamentos-administrador-text35"
            ><span>alfredo.sgd</span></span
          ><span class="crear-departamentos-administrador-text37"
            ><span>* Usuario Creador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/9b7c6f23-4eb3-4a36-b4bf-40aeb9e32fba?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle198621"
            class="crear-departamentos-administrador-rectangle19"
          /><span class="crear-departamentos-administrador-text39"
            ><span>Crear</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/632a08d0-fff0-49e7-a66c-7b3a573d540d?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle208621"
            class="crear-departamentos-administrador-rectangle20"
          /><span class="crear-departamentos-administrador-text41"
            ><span>Cancelar</span></span
          ><span class="crear-departamentos-administrador-text43"
            ><span>Crear Departamentos</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
