<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Crear-Reportes-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Crear-Reportes-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./crear-reportes-administrador.css" rel="stylesheet" /><div
        class="crear-reportes-administrador-container"
        ><div class="crear-reportes-administrador-crear-reportes-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/ea366f09-b2c0-4761-a8a4-42a445736a2f?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27729"
            class="crear-reportes-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/0f2de90f-f232-4011-b49e-7a6aa5eabaf6?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7729"
            class="crear-reportes-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/41e04d05-c6ea-4d68-b341-d9c7f7a655a8?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37729"
            class="crear-reportes-administrador-image170640173paddedlogo3"
          /><span class="crear-reportes-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="crear-reportes-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="crear-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="crear-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector7729-vfmb.svg"
                alt="Vector7729"
                class="crear-reportes-administrador-vector" /><img
                src="public/external/vector27729-qrv.svg"
                alt="Vector27729"
                class="crear-reportes-administrador-vector2" /><img
                src="public/external/vector37729-2go.svg"
                alt="Vector37729"
                class="crear-reportes-administrador-vector3" /></div></div
          ><div
            class="crear-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="crear-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector7729-3eqi.svg"
                alt="Vector7729"
                class="crear-reportes-administrador-vector01" /><img
                src="public/external/vector27729-y3pg.svg"
                alt="Vector27729"
                class="crear-reportes-administrador-vector201" /><img
                src="public/external/vector37729-hc6.svg"
                alt="Vector37729"
                class="crear-reportes-administrador-vector301" /></div></div
          ><span class="crear-reportes-administrador-text04">v</span
          ><div
            class="crear-reportes-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="crear-reportes-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7729-6ok.svg"
                alt="Vector7729"
                class="crear-reportes-administrador-vector02" /><img
                src="public/external/vector27729-glc.svg"
                alt="Vector27729"
                class="crear-reportes-administrador-vector202" /><img
                src="public/external/vector37729-egc.svg"
                alt="Vector37729"
                class="crear-reportes-administrador-vector302" /></div></div
          ><div
            class="crear-reportes-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="crear-reportes-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7729-q9x.svg"
                alt="Vector7729"
                class="crear-reportes-administrador-vector03" /><img
                src="public/external/vector27729-c98h.svg"
                alt="Vector27729"
                class="crear-reportes-administrador-vector203" /><img
                src="public/external/vector37729-7a4h.svg"
                alt="Vector37729"
                class="crear-reportes-administrador-vector303" /></div></div
          ><span class="crear-reportes-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/f2e77713-6f6d-44e5-8151-c67f8ae95e1b?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle37729"
            class="crear-reportes-administrador-rectangle3"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/87afa621-c601-401a-a5b1-adf6ca51a6c3?org_if_sml=15721&amp;force_format=original"
            alt="Rectangle237721"
            class="crear-reportes-administrador-rectangle23"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/a17f84ba-5aa5-466e-b33e-b3d7b3bb9991?org_if_sml=121585&amp;force_format=original"
            alt="Rectangle317751"
            class="crear-reportes-administrador-rectangle31"
          /><span class="crear-reportes-administrador-text07"
            ><span>Descripción del reporte...</span></span
          ><span class="crear-reportes-administrador-text09"
            ><span>dd/MM/YYYY</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/f17b39c3-6773-4cbd-93a0-ff2f1371056e?org_if_sml=15721&amp;force_format=original"
            alt="Rectangle327751"
            class="crear-reportes-administrador-rectangle32"
          /><span class="crear-reportes-administrador-text11"
            ><span>dd/MM/YYYY</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/3eac5633-5067-4767-b527-8e3f9b9d110a?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle277751"
            class="crear-reportes-administrador-rectangle27"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/848744ef-3a90-44fe-bc7d-afa23c325d9e?org_if_sml=17719&amp;force_format=original"
            alt="Rectangle247721"
            class="crear-reportes-administrador-rectangle24"
          /><span class="crear-reportes-administrador-text13"
            ><span>0:00 AM</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/6265303c-aa6b-4a32-9762-6011c3dadfb2?org_if_sml=17719&amp;force_format=original"
            alt="Rectangle257721"
            class="crear-reportes-administrador-rectangle25"
          /><span class="crear-reportes-administrador-text15"
            ><span>Cédula, nombre..</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/d34096ed-0a05-4ddc-8cc8-d37688ce985e?org_if_sml=17719&amp;force_format=original"
            alt="Rectangle267721"
            class="crear-reportes-administrador-rectangle26"
          /><span class="crear-reportes-administrador-text17"
            ><span>Caracter, número...</span></span
          ><span class="crear-reportes-administrador-text19"
            ><span>Nombre del reporte</span></span
          ><span class="crear-reportes-administrador-text21"
            ><span>* Nombre</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/302999b5-15b0-4d10-a154-244839f9485e?org_if_sml=110848&amp;force_format=original"
            alt="Rectangle217721"
            class="crear-reportes-administrador-rectangle21"
          /><span class="crear-reportes-administrador-text23"
            ><span>Nombre de las categorías</span></span
          ><span class="crear-reportes-administrador-text25"
            ><span>* Categorías</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/5016ce93-4a69-4633-a0e4-fc8b75282f79?org_if_sml=110904&amp;force_format=original"
            alt="Rectangle227721"
            class="crear-reportes-administrador-rectangle22"
          /><span class="crear-reportes-administrador-text27"
            ><span>Nombre de las plantillas</span></span
          ><span class="crear-reportes-administrador-text29"
            ><span>* Plantillas</span></span
          ><span class="crear-reportes-administrador-text31"
            ><span>Registro de documentos</span></span
          ><span class="crear-reportes-administrador-text33"
            ><span>Fecha</span></span
          ><span class="crear-reportes-administrador-text35"
            ><span>Desde</span></span
          ><span class="crear-reportes-administrador-text37"
            ><span>Hasta</span></span
          ><span class="crear-reportes-administrador-text39"
            ><span>Hora</span></span
          ><span class="crear-reportes-administrador-text41"
            ><span>Campo</span></span
          ><span class="crear-reportes-administrador-text43"
            ><span>Consulta de documentos</span></span
          ><span class="crear-reportes-administrador-text45"
            ><span>Tipo de reporte</span></span
          ><span class="crear-reportes-administrador-text47"
            ><span>Tamaño</span></span
          ><span class="crear-reportes-administrador-text49"
            ><span>Clasificación</span></span
          ><span class="crear-reportes-administrador-text51"
            ><span>Descripción</span></span
          ><img
            src="public/external/line97721-eg5t.svg"
            alt="Line97721"
            class="crear-reportes-administrador-line9"
          /><img
            src="public/external/line107721-hdzh.svg"
            alt="Line107721"
            class="crear-reportes-administrador-line10"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/feea66fd-7a32-4545-9ced-ce1c8e7372b4?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle197721"
            class="crear-reportes-administrador-rectangle19"
          /><span class="crear-reportes-administrador-text53"
            ><span>Crear</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/75fc825a-2fca-4f0f-9b19-6909bee12fea?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle207721"
            class="crear-reportes-administrador-rectangle20"
          /><span class="crear-reportes-administrador-text55"
            ><span>Cancelar</span></span
          ><div class="crear-reportes-administrador-apply-applyin-circle-larger"
            ><img
              src="public/external/svgstrokedi772-aiw7.svg"
              alt="SVGSTROKEDI772"
              class="crear-reportes-administrador-svgstroked" /></div
          ><div
            class="crear-reportes-administrador-apply-applyin-circle-larger1"
            ><img
              src="public/external/svgstrokedi772-jjtu.svg"
              alt="SVGSTROKEDI772"
              class="crear-reportes-administrador-svgstroked1" /></div
          ><span class="crear-reportes-administrador-text57"
            ><span>Por fecha</span></span
          ><span class="crear-reportes-administrador-text59"
            ><span>Día</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/b66460dc-dc83-4631-b2fb-2f8c7545ace6?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle307751"
            class="crear-reportes-administrador-rectangle30"
          /><span class="crear-reportes-administrador-text61"
            ><span>Limitar por cantidad</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/bf1e2cae-8c6a-41c6-8a57-540e618afb00?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle287751"
            class="crear-reportes-administrador-rectangle28"
          /><span class="crear-reportes-administrador-text63"
            ><span>Mes</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/4ab0f79e-445c-44b9-b166-643ea18e8b2a?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle297751"
            class="crear-reportes-administrador-rectangle29"
          /><span class="crear-reportes-administrador-text65"
            ><span>Año</span></span
          ><span class="crear-reportes-administrador-text67"
            ><span>Cantidad</span></span
          ><div
            class="crear-reportes-administrador-apply-applyin-circle-larger2"
            ><img
              src="public/external/svgstrokedi775-fsg.svg"
              alt="SVGSTROKEDI775"
              class="crear-reportes-administrador-svgstroked2" /></div
          ><div
            class="crear-reportes-administrador-apply-applyin-circle-larger3"
            ><img
              src="public/external/svgstrokedi775-ojc6.svg"
              alt="SVGSTROKEDI775"
              class="crear-reportes-administrador-svgstroked3" /></div
          ><div
            class="crear-reportes-administrador-apply-applyin-circle-larger4"
            ><img
              src="public/external/svgstrokedi772-08pr.svg"
              alt="SVGSTROKEDI772"
              class="crear-reportes-administrador-svgstroked4" /></div
          ><div
            class="crear-reportes-administrador-apply-applyin-circle-larger5"
            ><img
              src="public/external/svgstrokedi772-1cc9.svg"
              alt="SVGSTROKEDI772"
              class="crear-reportes-administrador-svgstroked5" /></div
          ><span class="crear-reportes-administrador-text69"
            ><span>Tipo de dato</span></span
          ><div
            class="crear-reportes-administrador-apply-applyin-circle-larger6"
            ><img
              src="public/external/svgstrokedi772-8u.svg"
              alt="SVGSTROKEDI772"
              class="crear-reportes-administrador-svgstroked6" /></div
          ><div
            class="crear-reportes-administrador-apply-applyin-circle-larger7"
            ><img
              src="public/external/svgstrokedi772-wds.svg"
              alt="SVGSTROKEDI772"
              class="crear-reportes-administrador-svgstroked7" /></div
          ><img
            src="public/external/line147751-e50f.svg"
            alt="Line147751"
            class="crear-reportes-administrador-line14"
          /><span class="crear-reportes-administrador-text71"
            ><span>Documentos</span></span
          ><span class="crear-reportes-administrador-text73"
            ><span>Reportes</span></span
          ><span class="crear-reportes-administrador-text75"
            ><span>Reportes</span></span
          ><span class="crear-reportes-administrador-text77"
            ><span>Actividades</span></span
          ><span class="crear-reportes-administrador-text79"
            ><span>Plantillas</span></span
          ><span class="crear-reportes-administrador-text81"
            ><span>Departamentos</span></span
          ><span class="crear-reportes-administrador-text83"
            ><span>Categorías</span></span
          ><span class="crear-reportes-administrador-text85"
            ><span>Usuarios</span></span
          ><div
            class="crear-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="crear-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8318-j2eb.svg"
                alt="Vector8318"
                class="crear-reportes-administrador-vector04" /><img
                src="public/external/vector28318-35q.svg"
                alt="Vector28318"
                class="crear-reportes-administrador-vector204" /><img
                src="public/external/vector38318-8yni.svg"
                alt="Vector38318"
                class="crear-reportes-administrador-vector304" /></div></div
          ><div
            class="crear-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="crear-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8318-niwf.svg"
                alt="Vector8318"
                class="crear-reportes-administrador-vector05" /><img
                src="public/external/vector28318-a5en.svg"
                alt="Vector28318"
                class="crear-reportes-administrador-vector205" /><img
                src="public/external/vector38318-26t.svg"
                alt="Vector38318"
                class="crear-reportes-administrador-vector305" /></div></div
          ><div class="crear-reportes-administrador-onefingerhold"
            ><div class="crear-reportes-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508318-3j4l.svg"
                alt="Ellipse508318"
                class="crear-reportes-administrador-ellipse50" /><img
                src="public/external/vector2258318-5uhc.svg"
                alt="Vector2258318"
                class="crear-reportes-administrador-vector225" /><img
                src="public/external/vector1078318-8gf.svg"
                alt="Vector1078318"
                class="crear-reportes-administrador-vector107" /><img
                src="public/external/ellipse3028318-i6.svg"
                alt="Ellipse3028318"
                class="crear-reportes-administrador-ellipse302" /></div></div
          ><div class="crear-reportes-administrador-onefingerhold2"
            ><div class="crear-reportes-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508318-q73b.svg"
                alt="Ellipse508318"
                class="crear-reportes-administrador-ellipse501" /><img
                src="public/external/vector2258318-uijd.svg"
                alt="Vector2258318"
                class="crear-reportes-administrador-vector2251" /><img
                src="public/external/vector1078318-s1sw.svg"
                alt="Vector1078318"
                class="crear-reportes-administrador-vector1071" /><img
                src="public/external/ellipse3028318-k982.svg"
                alt="Ellipse3028318"
                class="crear-reportes-administrador-ellipse3021" /></div></div
          ><div
            class="crear-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="crear-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8318-k6ei.svg"
                alt="Vector8318"
                class="crear-reportes-administrador-vector06" /><img
                src="public/external/vector28318-d0b.svg"
                alt="Vector28318"
                class="crear-reportes-administrador-vector206" /><img
                src="public/external/vector38318-8df.svg"
                alt="Vector38318"
                class="crear-reportes-administrador-vector306" /></div></div
          ><div
            class="crear-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="crear-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8318-65ug.svg"
                alt="Vector8318"
                class="crear-reportes-administrador-vector07" /><img
                src="public/external/vector28318-4p4.svg"
                alt="Vector28318"
                class="crear-reportes-administrador-vector207" /><img
                src="public/external/vector38318-l7co.svg"
                alt="Vector38318"
                class="crear-reportes-administrador-vector307" /></div></div
          ><div
            class="crear-reportes-administrador-newfileemptycommonfilecontent"
            ><div
              class="crear-reportes-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8318-pc18.svg"
                alt="Vector8318"
                class="crear-reportes-administrador-vector08" /><img
                src="public/external/vector25298319-rftp.svg"
                alt="Vector25298319"
                class="crear-reportes-administrador-vector2529" /></div></div
          ><div
            class="crear-reportes-administrador-newfileemptycommonfilecontent2"
            ><div
              class="crear-reportes-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8319-fj9.svg"
                alt="Vector8319"
                class="crear-reportes-administrador-vector09" /><img
                src="public/external/vector25298319-8zos.svg"
                alt="Vector25298319"
                class="crear-reportes-administrador-vector25291" /></div></div
          ><div
            class="crear-reportes-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="crear-reportes-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8319-36d8.svg"
                alt="Vector8319"
                class="crear-reportes-administrador-vector10" /><img
                src="public/external/vector28319-trjk.svg"
                alt="Vector28319"
                class="crear-reportes-administrador-vector208" /><img
                src="public/external/vector38319-e7.svg"
                alt="Vector38319"
                class="crear-reportes-administrador-vector308" /><img
                src="public/external/vector48319-p3e.svg"
                alt="Vector48319"
                class="crear-reportes-administrador-vector4" /></div></div
          ><div
            class="crear-reportes-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="crear-reportes-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8319-os9l.svg"
                alt="Vector8319"
                class="crear-reportes-administrador-vector11" /><img
                src="public/external/vector28319-dgs.svg"
                alt="Vector28319"
                class="crear-reportes-administrador-vector209" /><img
                src="public/external/vector25218319-m31w.svg"
                alt="Vector25218319"
                class="crear-reportes-administrador-vector2521" /><img
                src="public/external/vector25228319-ix1s.svg"
                alt="Vector25228319"
                class="crear-reportes-administrador-vector2522" /><img
                src="public/external/vector25238319-4s59.svg"
                alt="Vector25238319"
                class="crear-reportes-administrador-vector2523" /><img
                src="public/external/vector25248319-q37.svg"
                alt="Vector25248319"
                class="crear-reportes-administrador-vector2524" /></div></div
          ><div
            class="crear-reportes-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="crear-reportes-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8319-3sdw.svg"
                alt="Vector8319"
                class="crear-reportes-administrador-vector12" /><img
                src="public/external/vector28319-yf.svg"
                alt="Vector28319"
                class="crear-reportes-administrador-vector210" /><img
                src="public/external/vector38319-nbdv.svg"
                alt="Vector38319"
                class="crear-reportes-administrador-vector309" /></div></div
          ><span class="crear-reportes-administrador-text87"
            ><span>Crear Reportes</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
