<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Crear-Categoras-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Crear-Categoras-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./crear-categoras-administrador.css" rel="stylesheet" /><div
        class="crear-categoras-administrador-container"
        ><div
          class="crear-categoras-administrador-crear-categoras-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/89bea3ca-eb53-40f2-a4f5-cf7da876b6e9?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29071"
            class="crear-categoras-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/96447eb9-825b-411f-a876-0a8265d4b797?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9071"
            class="crear-categoras-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c31f7e44-9ca6-4fa9-ad80-d65c1239a537?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39071"
            class="crear-categoras-administrador-image170640173paddedlogo3"
          /><span class="crear-categoras-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="crear-categoras-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="crear-categoras-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="crear-categoras-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9071-lwed.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector" /><img
                src="public/external/vector29071-yduj.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector2" /><img
                src="public/external/vector39071-iofr.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector3" /></div></div
          ><div
            class="crear-categoras-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="crear-categoras-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9071-qbs.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector01" /><img
                src="public/external/vector29071-cqy.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector201" /><img
                src="public/external/vector39071-7qxa.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector301" /></div></div
          ><span class="crear-categoras-administrador-text04">v</span
          ><div
            class="crear-categoras-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="crear-categoras-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9071-zp3.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector02" /><img
                src="public/external/vector29071-mof.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector202" /><img
                src="public/external/vector39071-7hmo.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector302" /></div></div
          ><div
            class="crear-categoras-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="crear-categoras-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9071-xpk.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector03" /><img
                src="public/external/vector29071-uzjg.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector203" /><img
                src="public/external/vector39071-cm19.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector303" /></div></div
          ><span class="crear-categoras-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><span class="crear-categoras-administrador-text07"
            ><span>Documentos</span></span
          ><span class="crear-categoras-administrador-text09"
            ><span>Reportes</span></span
          ><span class="crear-categoras-administrador-text11"
            ><span>Actividades</span></span
          ><span class="crear-categoras-administrador-text13"
            ><span>Plantillas</span></span
          ><span class="crear-categoras-administrador-text15"
            ><span>Departamentos</span></span
          ><span class="crear-categoras-administrador-text17"
            ><span>Categorías</span></span
          ><span class="crear-categoras-administrador-text19"
            ><span>Categorías</span></span
          ><span class="crear-categoras-administrador-text21"
            ><span>Usuarios</span></span
          ><div
            class="crear-categoras-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="crear-categoras-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9071-kn5o.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector04" /><img
                src="public/external/vector29071-uwfp.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector204" /><img
                src="public/external/vector39071-nb0t.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector304" /></div></div
          ><div
            class="crear-categoras-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="crear-categoras-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9071-4lto.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector05" /><img
                src="public/external/vector29071-alhp.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector205" /><img
                src="public/external/vector39071-d07i.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector305" /></div></div
          ><div class="crear-categoras-administrador-onefingerhold"
            ><div class="crear-categoras-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509071-mw2m.svg"
                alt="Ellipse509071"
                class="crear-categoras-administrador-ellipse50" /><img
                src="public/external/vector2259071-olqk.svg"
                alt="Vector2259071"
                class="crear-categoras-administrador-vector225" /><img
                src="public/external/vector1079071-eei5.svg"
                alt="Vector1079071"
                class="crear-categoras-administrador-vector107" /><img
                src="public/external/ellipse3029071-cd18.svg"
                alt="Ellipse3029071"
                class="crear-categoras-administrador-ellipse302" /></div></div
          ><div class="crear-categoras-administrador-onefingerhold2"
            ><div class="crear-categoras-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509071-8qu3.svg"
                alt="Ellipse509071"
                class="crear-categoras-administrador-ellipse501" /><img
                src="public/external/vector2259071-637jc.svg"
                alt="Vector2259071"
                class="crear-categoras-administrador-vector2251" /><img
                src="public/external/vector1079071-26k.svg"
                alt="Vector1079071"
                class="crear-categoras-administrador-vector1071" /><img
                src="public/external/ellipse3029071-xzm.svg"
                alt="Ellipse3029071"
                class="crear-categoras-administrador-ellipse3021" /></div></div
          ><div
            class="crear-categoras-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="crear-categoras-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9071-7l0p.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector06" /><img
                src="public/external/vector29071-db5l.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector206" /><img
                src="public/external/vector39071-ka6z.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector306" /></div></div
          ><div
            class="crear-categoras-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="crear-categoras-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9071-p4re.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector07" /><img
                src="public/external/vector29071-r7s6.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector207" /><img
                src="public/external/vector39071-sra.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector307" /></div></div
          ><div
            class="crear-categoras-administrador-newfileemptycommonfilecontent"
            ><div
              class="crear-categoras-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9071-q64.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector08" /><img
                src="public/external/vector25299071-d6lk.svg"
                alt="Vector25299071"
                class="crear-categoras-administrador-vector2529" /></div></div
          ><div
            class="crear-categoras-administrador-newfileemptycommonfilecontent2"
            ><div
              class="crear-categoras-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9071-fpcw.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector09" /><img
                src="public/external/vector25299071-5n0b.svg"
                alt="Vector25299071"
                class="crear-categoras-administrador-vector25291" /></div></div
          ><div
            class="crear-categoras-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="crear-categoras-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9071-6w3.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector10" /><img
                src="public/external/vector29071-7dj.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector208" /><img
                src="public/external/vector39071-sdqh.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector308" /><img
                src="public/external/vector49071-u0up.svg"
                alt="Vector49071"
                class="crear-categoras-administrador-vector4" /></div></div
          ><div
            class="crear-categoras-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="crear-categoras-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9071-nxfa.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector11" /><img
                src="public/external/vector29071-8r8.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector209" /><img
                src="public/external/vector25219071-cdhq.svg"
                alt="Vector25219071"
                class="crear-categoras-administrador-vector2521" /><img
                src="public/external/vector25229071-wl9b.svg"
                alt="Vector25229071"
                class="crear-categoras-administrador-vector2522" /><img
                src="public/external/vector25239071-qte7.svg"
                alt="Vector25239071"
                class="crear-categoras-administrador-vector2523" /><img
                src="public/external/vector25249071-e2s.svg"
                alt="Vector25249071"
                class="crear-categoras-administrador-vector2524" /></div></div
          ><div
            class="crear-categoras-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="crear-categoras-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9071-8u2h.svg"
                alt="Vector9071"
                class="crear-categoras-administrador-vector12" /><img
                src="public/external/vector29071-hkql.svg"
                alt="Vector29071"
                class="crear-categoras-administrador-vector210" /><img
                src="public/external/vector39071-d2w.svg"
                alt="Vector39071"
                class="crear-categoras-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/36bb70ff-2819-4398-8f87-ea4eeb9f0ef2?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle39071"
            class="crear-categoras-administrador-rectangle3"
          /><span class="crear-categoras-administrador-text23"
            ><span>Nombre de la categoría</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/58ab9337-c682-4a6b-a561-4e1e5a526dc4?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle59071"
            class="crear-categoras-administrador-rectangle5"
          /><span class="crear-categoras-administrador-text25"
            ><span>23/2/2024</span></span
          ><span class="crear-categoras-administrador-text27"
            ><span>* Nombre</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c92dfb88-16b7-4677-aebb-d79600535e71?org_if_sml=136287&amp;force_format=original"
            alt="Rectangle49071"
            class="crear-categoras-administrador-rectangle4"
          /><span class="crear-categoras-administrador-text29"
            ><span>Descripción de la categoría...</span></span
          ><span class="crear-categoras-administrador-text31"
            ><span>* Descripción</span></span
          ><span class="crear-categoras-administrador-text33"
            ><span>* Fecha creación</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/3afd8a9a-447a-4f8f-9a5e-f95237a29d73?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle69071"
            class="crear-categoras-administrador-rectangle6"
          /><span class="crear-categoras-administrador-text35"
            ><span>alfredo.sgd</span></span
          ><span class="crear-categoras-administrador-text37"
            ><span>* Usuario Creador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/dfd846c0-9b29-4c00-98f1-e77d17108d66?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle199071"
            class="crear-categoras-administrador-rectangle19"
          /><span class="crear-categoras-administrador-text39"
            ><span>Crear</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/64992a87-c0c9-4fdd-8040-db3980d7e0c8?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle209071"
            class="crear-categoras-administrador-rectangle20"
          /><span class="crear-categoras-administrador-text41"
            ><span>Cancelar</span></span
          ><span class="crear-categoras-administrador-text43"
            ><span>Crear Categorías</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
