<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Departamentos-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Departamentos-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./departamentos-administrador.css" rel="stylesheet" /><div
        class="departamentos-administrador-container"
        ><div class="departamentos-administrador-departamentos-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c6c58344-b9c1-4618-8b8d-02b1aa5a27b9?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle28567"
            class="departamentos-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/9a64185d-8f74-4d5d-a66d-1dc73505b8fa?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg8567"
            class="departamentos-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/23f4a2f5-9878-4a0c-9925-1e0c9aa66af5?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo38567"
            class="departamentos-administrador-image170640173paddedlogo3"
          /><span class="departamentos-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="departamentos-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector8567-rx2m.svg"
                alt="Vector8567"
                class="departamentos-administrador-vector" /><img
                src="public/external/vector28567-io2b.svg"
                alt="Vector28567"
                class="departamentos-administrador-vector2" /><img
                src="public/external/vector38567-e2gc.svg"
                alt="Vector38567"
                class="departamentos-administrador-vector3" /></div></div
          ><div
            class="departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector8567-olw5.svg"
                alt="Vector8567"
                class="departamentos-administrador-vector01" /><img
                src="public/external/vector28567-c4ou.svg"
                alt="Vector28567"
                class="departamentos-administrador-vector201" /><img
                src="public/external/vector38567-yfon.svg"
                alt="Vector38567"
                class="departamentos-administrador-vector301" /></div></div
          ><span class="departamentos-administrador-text04">v</span
          ><div
            class="departamentos-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="departamentos-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector8567-knj1.svg"
                alt="Vector8567"
                class="departamentos-administrador-vector02" /><img
                src="public/external/vector28567-cid.svg"
                alt="Vector28567"
                class="departamentos-administrador-vector202" /><img
                src="public/external/vector38567-9999.svg"
                alt="Vector38567"
                class="departamentos-administrador-vector302" /></div></div
          ><div
            class="departamentos-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="departamentos-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector8567-ht6.svg"
                alt="Vector8567"
                class="departamentos-administrador-vector03" /><img
                src="public/external/vector28567-z4rc.svg"
                alt="Vector28567"
                class="departamentos-administrador-vector203" /><img
                src="public/external/vector38567-ewib.svg"
                alt="Vector38567"
                class="departamentos-administrador-vector303" /></div></div
          ><span class="departamentos-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle98567-tnd.svg"
            alt="Rectangle98567"
            class="departamentos-administrador-rectangle9"
          /><span class="departamentos-administrador-text07"
            ><span>Buscar departamento...</span></span
          ><span class="departamentos-administrador-text09"
            ><span>#0001</span></span
          ><span class="departamentos-administrador-text11"
            ><span>#0002</span></span
          ><span class="departamentos-administrador-text13"
            ><span>#0003</span></span
          ><span class="departamentos-administrador-text15"
            ><span>#0004</span></span
          ><span class="departamentos-administrador-text17"
            ><span>Secretaría General</span></span
          ><span class="departamentos-administrador-text19"
            ><span>Recursos Humanos</span></span
          ><span class="departamentos-administrador-text21"
            ><span>Administrativo</span></span
          ><span class="departamentos-administrador-text23"
            ><span>Contabilidad</span></span
          ><span class="departamentos-administrador-text25"
            ><span>alfredo.sgd</span></span
          ><span class="departamentos-administrador-text27"
            ><span>alfredo.sgd</span></span
          ><span class="departamentos-administrador-text29"
            ><span>alfredo.sgd</span></span
          ><span class="departamentos-administrador-text31"
            ><span>alfredo.sgd</span></span
          ><span class="departamentos-administrador-text33"
            ><span>01/02/2024</span></span
          ><span class="departamentos-administrador-text35"
            ><span>04/02/2024</span></span
          ><span class="departamentos-administrador-text37"
            ><span>05/02/2024</span></span
          ><span class="departamentos-administrador-text39"
            ><span>06/02/2024</span></span
          ><span class="departamentos-administrador-text41"
            ><span>Código</span></span
          ><span class="departamentos-administrador-text43"
            ><span>Nombre</span></span
          ><span class="departamentos-administrador-text45"
            ><span>Estado</span></span
          ><span class="departamentos-administrador-text47"
            ><span>Creador</span></span
          ><span class="departamentos-administrador-text49"
            ><span>Descripción</span></span
          ><span class="departamentos-administrador-text51"
            ><span>Fecha creación</span></span
          ><img
            src="public/external/line98567-t2vp.svg"
            alt="Line98567"
            class="departamentos-administrador-line9"
          /><img
            src="public/external/line108567-tvm.svg"
            alt="Line108567"
            class="departamentos-administrador-line10"
          /><img
            src="public/external/line118567-w3e.svg"
            alt="Line118567"
            class="departamentos-administrador-line11"
          /><img
            src="public/external/line138567-8f0a.svg"
            alt="Line138567"
            class="departamentos-administrador-line13"
          /><img
            src="public/external/line148567-8hd.svg"
            alt="Line148567"
            class="departamentos-administrador-line14"
          /><img
            src="public/external/line158567-5t.svg"
            alt="Line158567"
            class="departamentos-administrador-line15"
          /><img
            src="public/external/line168567-v66l.svg"
            alt="Line168567"
            class="departamentos-administrador-line16"
          /><span class="departamentos-administrador-text53"
            ><span>Activo</span></span
          ><span class="departamentos-administrador-text55"
            ><span>Inactivo</span></span
          ><span class="departamentos-administrador-text57"
            ><span>Activo</span></span
          ><span class="departamentos-administrador-text59"
            ><span>Activo</span></span
          ><span class="departamentos-administrador-text61"
            ><span>Departamento de r.r.H.H.</span></span
          ><span class="departamentos-administrador-text63"
            ><span>Departamento de contabilidad</span></span
          ><span class="departamentos-administrador-text65"
            ><span>Departamento de Secretaría General</span></span
          ><span class="departamentos-administrador-text67"
            ><span>Departamento administrativo</span></span
          ><span class="departamentos-administrador-text69"
            ><span>Documentos</span></span
          ><span class="departamentos-administrador-text71"
            ><span>Reportes</span></span
          ><span class="departamentos-administrador-text73"
            ><span>Actividades</span></span
          ><span class="departamentos-administrador-text75"
            ><span>Plantillas</span></span
          ><span class="departamentos-administrador-text77"
            ><span>Departamentos</span></span
          ><span class="departamentos-administrador-text79"
            ><span>Departamentos</span></span
          ><span class="departamentos-administrador-text81"
            ><span>Categorías</span></span
          ><span class="departamentos-administrador-text83"
            ><span>Usuarios</span></span
          ><div
            class="departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8567-ndz.svg"
                alt="Vector8567"
                class="departamentos-administrador-vector04" /><img
                src="public/external/vector28568-7rj.svg"
                alt="Vector28568"
                class="departamentos-administrador-vector204" /><img
                src="public/external/vector38568-ikl6.svg"
                alt="Vector38568"
                class="departamentos-administrador-vector304" /></div></div
          ><div
            class="departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8568-awih.svg"
                alt="Vector8568"
                class="departamentos-administrador-vector05" /><img
                src="public/external/vector28568-kbg.svg"
                alt="Vector28568"
                class="departamentos-administrador-vector205" /><img
                src="public/external/vector38568-jb03.svg"
                alt="Vector38568"
                class="departamentos-administrador-vector305" /></div></div
          ><div class="departamentos-administrador-onefingerhold"
            ><div class="departamentos-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508568-xtq.svg"
                alt="Ellipse508568"
                class="departamentos-administrador-ellipse50" /><img
                src="public/external/vector2258568-aks.svg"
                alt="Vector2258568"
                class="departamentos-administrador-vector225" /><img
                src="public/external/vector1078568-iag8.svg"
                alt="Vector1078568"
                class="departamentos-administrador-vector107" /><img
                src="public/external/ellipse3028568-t286.svg"
                alt="Ellipse3028568"
                class="departamentos-administrador-ellipse302" /></div></div
          ><div class="departamentos-administrador-onefingerhold2"
            ><div class="departamentos-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508568-zhmg.svg"
                alt="Ellipse508568"
                class="departamentos-administrador-ellipse501" /><img
                src="public/external/vector2258568-837.svg"
                alt="Vector2258568"
                class="departamentos-administrador-vector2251" /><img
                src="public/external/vector1078568-og9.svg"
                alt="Vector1078568"
                class="departamentos-administrador-vector1071" /><img
                src="public/external/ellipse3028568-34qf.svg"
                alt="Ellipse3028568"
                class="departamentos-administrador-ellipse3021" /></div></div
          ><div
            class="departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8568-zh7e.svg"
                alt="Vector8568"
                class="departamentos-administrador-vector06" /><img
                src="public/external/vector28568-m8qd.svg"
                alt="Vector28568"
                class="departamentos-administrador-vector206" /><img
                src="public/external/vector38568-kl3.svg"
                alt="Vector38568"
                class="departamentos-administrador-vector306" /></div></div
          ><div
            class="departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8568-j5jm.svg"
                alt="Vector8568"
                class="departamentos-administrador-vector07" /><img
                src="public/external/vector28568-lvyn.svg"
                alt="Vector28568"
                class="departamentos-administrador-vector207" /><img
                src="public/external/vector38568-bd1l.svg"
                alt="Vector38568"
                class="departamentos-administrador-vector307" /></div></div
          ><div
            class="departamentos-administrador-newfileemptycommonfilecontent"
            ><div
              class="departamentos-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8568-4o5q.svg"
                alt="Vector8568"
                class="departamentos-administrador-vector08" /><img
                src="public/external/vector25298568-l0ih.svg"
                alt="Vector25298568"
                class="departamentos-administrador-vector2529" /></div></div
          ><div
            class="departamentos-administrador-newfileemptycommonfilecontent2"
            ><div
              class="departamentos-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8568-j4b.svg"
                alt="Vector8568"
                class="departamentos-administrador-vector09" /><img
                src="public/external/vector25298568-xl2e.svg"
                alt="Vector25298568"
                class="departamentos-administrador-vector25291" /></div></div
          ><div
            class="departamentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="departamentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8568-4hxm.svg"
                alt="Vector8568"
                class="departamentos-administrador-vector10" /><img
                src="public/external/vector28568-xmwk.svg"
                alt="Vector28568"
                class="departamentos-administrador-vector208" /><img
                src="public/external/vector38568-xmq9.svg"
                alt="Vector38568"
                class="departamentos-administrador-vector308" /><img
                src="public/external/vector48568-q2md.svg"
                alt="Vector48568"
                class="departamentos-administrador-vector4" /></div></div
          ><div
            class="departamentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="departamentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8568-zcrw.svg"
                alt="Vector8568"
                class="departamentos-administrador-vector11" /><img
                src="public/external/vector28568-bhc.svg"
                alt="Vector28568"
                class="departamentos-administrador-vector209" /><img
                src="public/external/vector25218568-wpbb.svg"
                alt="Vector25218568"
                class="departamentos-administrador-vector2521" /><img
                src="public/external/vector25228568-ttlm.svg"
                alt="Vector25228568"
                class="departamentos-administrador-vector2522" /><img
                src="public/external/vector25238568-6f3e.svg"
                alt="Vector25238568"
                class="departamentos-administrador-vector2523" /><img
                src="public/external/vector25248568-mzgh.svg"
                alt="Vector25248568"
                class="departamentos-administrador-vector2524" /></div></div
          ><div
            class="departamentos-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="departamentos-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8568-tc4.svg"
                alt="Vector8568"
                class="departamentos-administrador-vector12" /><img
                src="public/external/vector28568-z7qgq.svg"
                alt="Vector28568"
                class="departamentos-administrador-vector210" /><img
                src="public/external/vector38568-3d6y.svg"
                alt="Vector38568"
                class="departamentos-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/3ceb4d90-73ed-4d0e-9680-327cf4638775?org_if_sml=117085&amp;force_format=original"
            alt="Rectangle228568"
            class="departamentos-administrador-rectangle22"
          /><span class="departamentos-administrador-text85"
            ><span>Crear departamento</span></span
          ><span class="departamentos-administrador-text87"
            ><span>Departamentos</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
