<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Editar-Departamentos-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Editar-Departamentos-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./editar-departamentos-administrador.css"
        rel="stylesheet" /><div
        class="editar-departamentos-administrador-container"
        ><div
          class="editar-departamentos-administrador-editar-departamentos-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/a4259ff0-b6ab-4686-9ef5-21e781a70c31?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle29466"
            class="editar-departamentos-administrador-rectangle2" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/2dd989fb-94d3-4175-a5e6-8ef6dee56e89?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg9466"
            class="editar-departamentos-administrador-dashboardbg" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/bde72742-10dd-4a88-a1d9-c489732c8392?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo39466"
            class="editar-departamentos-administrador-image170640173paddedlogo3" /><span
            class="editar-departamentos-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="editar-departamentos-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="editar-departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="editar-departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector9466-kwan.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector" /><img
                src="public/external/vector29466-17rm.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector2" /><img
                src="public/external/vector39466-8rx.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector3" /></div></div
          ><div
            class="editar-departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="editar-departamentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector9466-wxhu.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector01" /><img
                src="public/external/vector29466-c6mm.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector201" /><img
                src="public/external/vector39466-8rmd.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector301" /></div></div
          ><span class="editar-departamentos-administrador-text04">v</span
          ><div
            class="editar-departamentos-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="editar-departamentos-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector9466-czsr.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector02" /><img
                src="public/external/vector29466-fsz.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector202" /><img
                src="public/external/vector39466-fk1g.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector302" /></div></div
          ><div
            class="editar-departamentos-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="editar-departamentos-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector9466-a684.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector03" /><img
                src="public/external/vector29466-p5p.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector203" /><img
                src="public/external/vector39466-e20d.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector303" /></div></div
          ><span class="editar-departamentos-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><span class="editar-departamentos-administrador-text07"
            ><span>Documentos</span></span
          ><span class="editar-departamentos-administrador-text09"
            ><span>Reportes</span></span
          ><span class="editar-departamentos-administrador-text11"
            ><span>Actividades</span></span
          ><span class="editar-departamentos-administrador-text13"
            ><span>Plantillas</span></span
          ><span class="editar-departamentos-administrador-text15"
            ><span>Departamentos</span></span
          ><span class="editar-departamentos-administrador-text17"
            ><span>Departamentos</span></span
          ><span class="editar-departamentos-administrador-text19"
            ><span>Categorías</span></span
          ><span class="editar-departamentos-administrador-text21"
            ><span>Usuarios</span></span
          ><div
            class="editar-departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="editar-departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector9466-cpe.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector04" /><img
                src="public/external/vector29466-iaer.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector204" /><img
                src="public/external/vector39466-vwfe.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector304" /></div></div
          ><div
            class="editar-departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="editar-departamentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector9466-lbd8.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector05" /><img
                src="public/external/vector29466-yt88.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector205" /><img
                src="public/external/vector39466-n8up.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector305" /></div></div
          ><div class="editar-departamentos-administrador-onefingerhold"
            ><div class="editar-departamentos-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse509466-yv4b.svg"
                alt="Ellipse509466"
                class="editar-departamentos-administrador-ellipse50" /><img
                src="public/external/vector2259466-1y1d.svg"
                alt="Vector2259466"
                class="editar-departamentos-administrador-vector225" /><img
                src="public/external/vector1079466-48p9.svg"
                alt="Vector1079466"
                class="editar-departamentos-administrador-vector107" /><img
                src="public/external/ellipse3029466-641.svg"
                alt="Ellipse3029466"
                class="editar-departamentos-administrador-ellipse302" /></div></div
          ><div class="editar-departamentos-administrador-onefingerhold2"
            ><div class="editar-departamentos-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse509466-qz9u.svg"
                alt="Ellipse509466"
                class="editar-departamentos-administrador-ellipse501" /><img
                src="public/external/vector2259466-x8of.svg"
                alt="Vector2259466"
                class="editar-departamentos-administrador-vector2251" /><img
                src="public/external/vector1079466-5x8.svg"
                alt="Vector1079466"
                class="editar-departamentos-administrador-vector1071" /><img
                src="public/external/ellipse3029466-a5czn.svg"
                alt="Ellipse3029466"
                class="editar-departamentos-administrador-ellipse3021" /></div></div
          ><div
            class="editar-departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="editar-departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector9466-8du7.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector06" /><img
                src="public/external/vector29466-d7pi.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector206" /><img
                src="public/external/vector39466-8moe.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector306" /></div></div
          ><div
            class="editar-departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="editar-departamentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector9466-dez.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector07" /><img
                src="public/external/vector29466-o3r.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector207" /><img
                src="public/external/vector39466-rykr.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector307" /></div></div
          ><div
            class="editar-departamentos-administrador-newfileemptycommonfilecontent"
            ><div
              class="editar-departamentos-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector9466-1pgb.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector08" /><img
                src="public/external/vector25299466-12lp.svg"
                alt="Vector25299466"
                class="editar-departamentos-administrador-vector2529" /></div></div
          ><div
            class="editar-departamentos-administrador-newfileemptycommonfilecontent2"
            ><div
              class="editar-departamentos-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector9466-ah9.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector09" /><img
                src="public/external/vector25299466-8wqu.svg"
                alt="Vector25299466"
                class="editar-departamentos-administrador-vector25291" /></div></div
          ><div
            class="editar-departamentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="editar-departamentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector9466-whv.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector10" /><img
                src="public/external/vector29466-otkc.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector208" /><img
                src="public/external/vector39466-5dcr.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector308" /><img
                src="public/external/vector49466-guym.svg"
                alt="Vector49466"
                class="editar-departamentos-administrador-vector4" /></div></div
          ><div
            class="editar-departamentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="editar-departamentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector9466-50sr.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector11" /><img
                src="public/external/vector29466-4yx.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector209" /><img
                src="public/external/vector25219466-8y.svg"
                alt="Vector25219466"
                class="editar-departamentos-administrador-vector2521" /><img
                src="public/external/vector25229466-lu3p.svg"
                alt="Vector25229466"
                class="editar-departamentos-administrador-vector2522" /><img
                src="public/external/vector25239466-bax.svg"
                alt="Vector25239466"
                class="editar-departamentos-administrador-vector2523" /><img
                src="public/external/vector25249466-x1b.svg"
                alt="Vector25249466"
                class="editar-departamentos-administrador-vector2524" /></div></div
          ><div
            class="editar-departamentos-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="editar-departamentos-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector9466-cwz.svg"
                alt="Vector9466"
                class="editar-departamentos-administrador-vector12" /><img
                src="public/external/vector29466-g83m.svg"
                alt="Vector29466"
                class="editar-departamentos-administrador-vector210" /><img
                src="public/external/vector39466-l32c.svg"
                alt="Vector39466"
                class="editar-departamentos-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/80224087-7377-45e1-851f-1cd4f4c125aa?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle39466"
            class="editar-departamentos-administrador-rectangle3" /><span
            class="editar-departamentos-administrador-text23"
            ><span>Secretaria General</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/a52b854d-3bd6-4b15-9c45-bb2604a0692e?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle59466"
            class="editar-departamentos-administrador-rectangle5" /><span
            class="editar-departamentos-administrador-text25"
            ><span>23/2/2024</span></span
          ><span class="editar-departamentos-administrador-text27"
            ><span>* Nombre</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c75a5c10-aec5-41ce-800c-9eeb2d1b1b17?org_if_sml=136287&amp;force_format=original"
            alt="Rectangle49467"
            class="editar-departamentos-administrador-rectangle4" /><span
            class="editar-departamentos-administrador-text29"
            ><span>Departamento de Secretaría General</span></span
          ><span class="editar-departamentos-administrador-text31"
            ><span>* Descripción</span></span
          ><span class="editar-departamentos-administrador-text33"
            ><span>* Fecha creación</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/ef607ef4-d2d7-44cd-8ddb-94ecd25709b3?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle69467"
            class="editar-departamentos-administrador-rectangle6" /><span
            class="editar-departamentos-administrador-text35"
            ><span>alfredo.sgd</span></span
          ><span class="editar-departamentos-administrador-text37"
            ><span>* Usuario Creador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/fef7cbba-38c0-4a09-8a2c-cd118d110fa1?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle199467"
            class="editar-departamentos-administrador-rectangle19" /><span
            class="editar-departamentos-administrador-text39"
            ><span>Guardar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/bf77b290-d97d-406a-9f33-691b5c5f3082?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle209467"
            class="editar-departamentos-administrador-rectangle20" /><span
            class="editar-departamentos-administrador-text41"
            ><span>Cancelar</span></span
          ><span class="editar-departamentos-administrador-text43"
            ><span>Editar Departamento #0001</span></span
          ><span class="editar-departamentos-administrador-text45"
            ><span>* Desactivar </span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/1bef53d9-b264-4100-9390-a57a3162867b?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle339467"
            class="editar-departamentos-administrador-rectangle33" /></div></div
    ></div> </body
></html>
