<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Editar-Reportes-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Editar-Reportes-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./editar-reportes-administrador.css" rel="stylesheet" /><div
        class="editar-reportes-administrador-container"
        ><div
          class="editar-reportes-administrador-editar-reportes-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/36c410fb-2b16-488a-9e24-12e2b5924dc8?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle28621"
            class="editar-reportes-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/467aada0-67c9-4c6d-b6a6-22edec3856f2?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg8621"
            class="editar-reportes-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/f3436314-91df-4734-bd0d-468448237177?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo38621"
            class="editar-reportes-administrador-image170640173paddedlogo3"
          /><span class="editar-reportes-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="editar-reportes-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="editar-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="editar-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector8621-uno.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector" /><img
                src="public/external/vector28621-vlr9.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector2" /><img
                src="public/external/vector38621-vlw.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector3" /></div></div
          ><div
            class="editar-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="editar-reportes-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector8621-2kui.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector01" /><img
                src="public/external/vector28621-dqu.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector201" /><img
                src="public/external/vector38621-glrb.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector301" /></div></div
          ><span class="editar-reportes-administrador-text04">v</span
          ><div
            class="editar-reportes-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="editar-reportes-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector8621-cttf.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector02" /><img
                src="public/external/vector28621-lzeu.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector202" /><img
                src="public/external/vector38621-ej0e.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector302" /></div></div
          ><div
            class="editar-reportes-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="editar-reportes-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector8621-ppq6.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector03" /><img
                src="public/external/vector28621-s12k.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector203" /><img
                src="public/external/vector38621-b4xs.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector303" /></div></div
          ><span class="editar-reportes-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/2f65216e-f42a-457e-ba84-c59bfd04b8d6?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle38621"
            class="editar-reportes-administrador-rectangle3"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c19ad2f5-89f8-461c-9808-0af693b06217?org_if_sml=15721&amp;force_format=original"
            alt="Rectangle238621"
            class="editar-reportes-administrador-rectangle23"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/7b11efc9-e522-41bd-9827-3f92f92b736f?org_if_sml=121585&amp;force_format=original"
            alt="Rectangle318621"
            class="editar-reportes-administrador-rectangle31"
          /><span class="editar-reportes-administrador-text07"
            ><span>Contabilidad de registro de documentos.</span></span
          ><span class="editar-reportes-administrador-text09"
            ><span>dd/MM/YYYY</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/cce77900-e384-40e7-8be4-d38a539ee6e1?org_if_sml=15721&amp;force_format=original"
            alt="Rectangle328621"
            class="editar-reportes-administrador-rectangle32"
          /><span class="editar-reportes-administrador-text11"
            ><span>dd/MM/YYYY</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/e584d145-74dd-48cb-a541-f81888654d55?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle278621"
            class="editar-reportes-administrador-rectangle27"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/cf55ccfc-1227-4073-9cf1-2ace43da3c3b?org_if_sml=17719&amp;force_format=original"
            alt="Rectangle248621"
            class="editar-reportes-administrador-rectangle24"
          /><span class="editar-reportes-administrador-text13"
            ><span>0:00 AM</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/96566019-650f-40ed-842f-eebe910c9eab?org_if_sml=17719&amp;force_format=original"
            alt="Rectangle258621"
            class="editar-reportes-administrador-rectangle25"
          /><span class="editar-reportes-administrador-text15"
            ><span>Cédula, nombre..</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c44bab27-bc8b-4c14-9182-7a96a95a885c?org_if_sml=17719&amp;force_format=original"
            alt="Rectangle268621"
            class="editar-reportes-administrador-rectangle26"
          /><span class="editar-reportes-administrador-text17"
            ><span>Caracter, número...</span></span
          ><span class="editar-reportes-administrador-text19"
            ><span>Récord de documentos</span></span
          ><span class="editar-reportes-administrador-text21"
            ><span>* Nombre</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/333829c4-9936-45e9-9370-abbf0e2681c8?org_if_sml=110848&amp;force_format=original"
            alt="Rectangle218621"
            class="editar-reportes-administrador-rectangle21"
          /><span class="editar-reportes-administrador-text23"
            ><span>Archivo</span></span
          ><span class="editar-reportes-administrador-text25"
            ><span>* Categorías</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/062bbea7-4c82-4586-a1a7-103c4a2f0152?org_if_sml=110904&amp;force_format=original"
            alt="Rectangle228621"
            class="editar-reportes-administrador-rectangle22"
          /><span class="editar-reportes-administrador-text27"
            ><span>Actas de Nacimiento</span></span
          ><span class="editar-reportes-administrador-text29"
            ><span>* Plantillas</span></span
          ><span class="editar-reportes-administrador-text31"
            ><span>Registro de documentos</span></span
          ><span class="editar-reportes-administrador-text33"
            ><span>Fecha</span></span
          ><span class="editar-reportes-administrador-text35"
            ><span>Desde</span></span
          ><span class="editar-reportes-administrador-text37"
            ><span>Hasta</span></span
          ><span class="editar-reportes-administrador-text39"
            ><span>Hora</span></span
          ><span class="editar-reportes-administrador-text41"
            ><span>Campo</span></span
          ><span class="editar-reportes-administrador-text43"
            ><span>Consulta de documentos</span></span
          ><span class="editar-reportes-administrador-text45"
            ><span>Tipo de reporte</span></span
          ><span class="editar-reportes-administrador-text47"
            ><span>Tamaño</span></span
          ><span class="editar-reportes-administrador-text49"
            ><span>Clasificación</span></span
          ><span class="editar-reportes-administrador-text51"
            ><span>Descripción</span></span
          ><img
            src="public/external/line98621-4sjn.svg"
            alt="Line98621"
            class="editar-reportes-administrador-line9"
          /><img
            src="public/external/line108621-79x.svg"
            alt="Line108621"
            class="editar-reportes-administrador-line10"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/a3427a6d-abb1-4ae1-a994-009875c693a8?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle198621"
            class="editar-reportes-administrador-rectangle19"
          /><span class="editar-reportes-administrador-text53"
            ><span>Actualizar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/dd84264c-62b2-4ae8-9dd7-6aba5db42371?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle208621"
            class="editar-reportes-administrador-rectangle20"
          /><span class="editar-reportes-administrador-text55"
            ><span>Cancelar</span></span
          ><div
            class="editar-reportes-administrador-apply-applyin-circle-larger"
            ><img
              src="public/external/svgstrokedi862-mfj.svg"
              alt="SVGSTROKEDI862"
              class="editar-reportes-administrador-svgstroked" /></div
          ><div
            class="editar-reportes-administrador-apply-applyin-circle-larger1"
            ><img
              src="public/external/svgstrokedi862-r9y.svg"
              alt="SVGSTROKEDI862"
              class="editar-reportes-administrador-svgstroked1" /></div
          ><span class="editar-reportes-administrador-text57"
            ><span>Por fecha</span></span
          ><span class="editar-reportes-administrador-text59"
            ><span>Día</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/22fea65a-746a-4321-b406-e6b1d6818c7b?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle308621"
            class="editar-reportes-administrador-rectangle30"
          /><span class="editar-reportes-administrador-text61"
            ><span>Limitar por cantidad</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/2899cae7-337a-4515-9c18-8621ba2810e7?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle288621"
            class="editar-reportes-administrador-rectangle28"
          /><span class="editar-reportes-administrador-text63"
            ><span>Mes</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/2ae83db8-84bf-42b4-bb4e-5aa2c1be6585?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle298621"
            class="editar-reportes-administrador-rectangle29"
          /><span class="editar-reportes-administrador-text65"
            ><span>Año</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/8135b274-c64d-4b26-b64b-664e7435217d?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle338631"
            class="editar-reportes-administrador-rectangle33"
          /><span class="editar-reportes-administrador-text67"
            ><span>Desactivar</span></span
          ><span class="editar-reportes-administrador-text69"
            ><span>Cantidad</span></span
          ><div
            class="editar-reportes-administrador-apply-applyin-circle-larger2"
            ><img
              src="public/external/svgstrokedi862-y07j.svg"
              alt="SVGSTROKEDI862"
              class="editar-reportes-administrador-svgstroked2" /></div
          ><div
            class="editar-reportes-administrador-apply-applyin-circle-larger3"
            ><img
              src="public/external/svgstrokedi862-y7vm.svg"
              alt="SVGSTROKEDI862"
              class="editar-reportes-administrador-svgstroked3" /></div
          ><div
            class="editar-reportes-administrador-apply-applyin-circle-larger4"
            ><img
              src="public/external/svgstrokedi862-ib3.svg"
              alt="SVGSTROKEDI862"
              class="editar-reportes-administrador-svgstroked4" /></div
          ><div
            class="editar-reportes-administrador-apply-applyin-circle-larger5"
            ><img
              src="public/external/svgstrokedi862-pj.svg"
              alt="SVGSTROKEDI862"
              class="editar-reportes-administrador-svgstroked5" /></div
          ><span class="editar-reportes-administrador-text71"
            ><span>Tipo de dato</span></span
          ><div
            class="editar-reportes-administrador-apply-applyin-circle-larger6"
            ><img
              src="public/external/svgstrokedi862-n31r.svg"
              alt="SVGSTROKEDI862"
              class="editar-reportes-administrador-svgstroked6" /></div
          ><div
            class="editar-reportes-administrador-apply-applyin-circle-larger7"
            ><img
              src="public/external/svgstrokedi862-rxqj.svg"
              alt="SVGSTROKEDI862"
              class="editar-reportes-administrador-svgstroked7" /></div
          ><img
            src="public/external/line148621-dhig.svg"
            alt="Line148621"
            class="editar-reportes-administrador-line14"
          /><span class="editar-reportes-administrador-text73"
            ><span>Documentos</span></span
          ><span class="editar-reportes-administrador-text75"
            ><span>Reportes</span></span
          ><span class="editar-reportes-administrador-text77"
            ><span>Reportes</span></span
          ><span class="editar-reportes-administrador-text79"
            ><span>Actividades</span></span
          ><span class="editar-reportes-administrador-text81"
            ><span>Plantillas</span></span
          ><span class="editar-reportes-administrador-text83"
            ><span>Departamentos</span></span
          ><span class="editar-reportes-administrador-text85"
            ><span>Categorías</span></span
          ><span class="editar-reportes-administrador-text87"
            ><span>Usuarios</span></span
          ><div
            class="editar-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="editar-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8621-ey7.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector04" /><img
                src="public/external/vector28621-mu9k.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector204" /><img
                src="public/external/vector38621-t0hn.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector304" /></div></div
          ><div
            class="editar-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="editar-reportes-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8621-a9to.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector05" /><img
                src="public/external/vector28621-2il8.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector205" /><img
                src="public/external/vector38621-ywkkc.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector305" /></div></div
          ><div class="editar-reportes-administrador-onefingerhold"
            ><div class="editar-reportes-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508621-nf4.svg"
                alt="Ellipse508621"
                class="editar-reportes-administrador-ellipse50" /><img
                src="public/external/vector2258621-6nk.svg"
                alt="Vector2258621"
                class="editar-reportes-administrador-vector225" /><img
                src="public/external/vector1078621-jb8j.svg"
                alt="Vector1078621"
                class="editar-reportes-administrador-vector107" /><img
                src="public/external/ellipse3028621-wcrht.svg"
                alt="Ellipse3028621"
                class="editar-reportes-administrador-ellipse302" /></div></div
          ><div class="editar-reportes-administrador-onefingerhold2"
            ><div class="editar-reportes-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508621-7f7.svg"
                alt="Ellipse508621"
                class="editar-reportes-administrador-ellipse501" /><img
                src="public/external/vector2258621-0jjc.svg"
                alt="Vector2258621"
                class="editar-reportes-administrador-vector2251" /><img
                src="public/external/vector1078621-2pva.svg"
                alt="Vector1078621"
                class="editar-reportes-administrador-vector1071" /><img
                src="public/external/ellipse3028621-gvvs.svg"
                alt="Ellipse3028621"
                class="editar-reportes-administrador-ellipse3021" /></div></div
          ><div
            class="editar-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="editar-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8621-chqm.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector06" /><img
                src="public/external/vector28621-jqz9.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector206" /><img
                src="public/external/vector38621-sf7n.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector306" /></div></div
          ><div
            class="editar-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="editar-reportes-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8621-suau.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector07" /><img
                src="public/external/vector28621-8uw3.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector207" /><img
                src="public/external/vector38621-qdhk.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector307" /></div></div
          ><div
            class="editar-reportes-administrador-newfileemptycommonfilecontent"
            ><div
              class="editar-reportes-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8621-csue.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector08" /><img
                src="public/external/vector25298621-mpv.svg"
                alt="Vector25298621"
                class="editar-reportes-administrador-vector2529" /></div></div
          ><div
            class="editar-reportes-administrador-newfileemptycommonfilecontent2"
            ><div
              class="editar-reportes-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8621-2vgx.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector09" /><img
                src="public/external/vector25298621-ggpb.svg"
                alt="Vector25298621"
                class="editar-reportes-administrador-vector25291" /></div></div
          ><div
            class="editar-reportes-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="editar-reportes-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8621-vxv.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector10" /><img
                src="public/external/vector28621-e25t.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector208" /><img
                src="public/external/vector38621-htcl.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector308" /><img
                src="public/external/vector48621-u2ad.svg"
                alt="Vector48621"
                class="editar-reportes-administrador-vector4" /></div></div
          ><div
            class="editar-reportes-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="editar-reportes-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8621-dt8p.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector11" /><img
                src="public/external/vector28621-wqwq.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector209" /><img
                src="public/external/vector25218621-826.svg"
                alt="Vector25218621"
                class="editar-reportes-administrador-vector2521" /><img
                src="public/external/vector25228621-bljp.svg"
                alt="Vector25228621"
                class="editar-reportes-administrador-vector2522" /><img
                src="public/external/vector25238621-1rdr.svg"
                alt="Vector25238621"
                class="editar-reportes-administrador-vector2523" /><img
                src="public/external/vector25248621-81ua.svg"
                alt="Vector25248621"
                class="editar-reportes-administrador-vector2524" /></div></div
          ><div
            class="editar-reportes-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="editar-reportes-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8621-cx2k.svg"
                alt="Vector8621"
                class="editar-reportes-administrador-vector12" /><img
                src="public/external/vector28621-tsbj.svg"
                alt="Vector28621"
                class="editar-reportes-administrador-vector210" /><img
                src="public/external/vector38621-08i.svg"
                alt="Vector38621"
                class="editar-reportes-administrador-vector309" /></div></div
          ><span class="editar-reportes-administrador-text89"
            ><span>Editar Reporte #001</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
