<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Editar-Plantillas-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Editar-Plantillas-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./editar-plantillas-administrador.css"
        rel="stylesheet"
      /><div class="editar-plantillas-administrador-container"
        ><div
          class="editar-plantillas-administrador-editar-plantillas-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/49b532d5-2b87-4fc9-a3d1-e644ea7128a9?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle28631"
            class="editar-plantillas-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/a63a16d0-463a-4b46-a050-e405feeb03e7?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg8631"
            class="editar-plantillas-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/f86496ef-8b23-4bed-93b5-4d5bae00310b?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo38631"
            class="editar-plantillas-administrador-image170640173paddedlogo3"
          /><span class="editar-plantillas-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="editar-plantillas-administrador-text002"
            ><span>alfredo.sgd</span></span
          ><div
            class="editar-plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="editar-plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector8631-0qmj.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector" /><img
                src="public/external/vector28631-oqwr.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector2" /><img
                src="public/external/vector38631-npov.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector3" /></div></div
          ><div
            class="editar-plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="editar-plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector8631-d9t.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector01" /><img
                src="public/external/vector28631-ym7l.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector201" /><img
                src="public/external/vector38631-zw9.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector301" /></div></div
          ><span class="editar-plantillas-administrador-text004">v</span
          ><div
            class="editar-plantillas-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="editar-plantillas-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector8631-fct.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector02" /><img
                src="public/external/vector28631-g9xb.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector202" /><img
                src="public/external/vector38631-ju7.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector302" /></div></div
          ><div
            class="editar-plantillas-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="editar-plantillas-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector8631-pi5y.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector03" /><img
                src="public/external/vector28631-x2.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector203" /><img
                src="public/external/vector38631-f98h.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector303" /></div></div
          ><span class="editar-plantillas-administrador-text005"
            ><span>Cerrar Sesión</span></span
          ><span class="editar-plantillas-administrador-text007"
            ><span>Documentos</span></span
          ><span class="editar-plantillas-administrador-text009"
            ><span>Reportes</span></span
          ><span class="editar-plantillas-administrador-text011"
            ><span>Actividades</span></span
          ><span class="editar-plantillas-administrador-text013"
            ><span>Plantillas</span></span
          ><span class="editar-plantillas-administrador-text015"
            ><span>Plantillas</span></span
          ><span class="editar-plantillas-administrador-text017"
            ><span>Departamentos</span></span
          ><span class="editar-plantillas-administrador-text019"
            ><span>Categorías</span></span
          ><span class="editar-plantillas-administrador-text021"
            ><span>Usuarios</span></span
          ><div
            class="editar-plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="editar-plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8631-5wja.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector04" /><img
                src="public/external/vector28631-f2cl.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector204" /><img
                src="public/external/vector38631-vkaf.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector304" /></div></div
          ><div
            class="editar-plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="editar-plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8631-p9bj.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector05" /><img
                src="public/external/vector28631-3uq6.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector205" /><img
                src="public/external/vector38631-cep.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector305" /></div></div
          ><div class="editar-plantillas-administrador-onefingerhold"
            ><div class="editar-plantillas-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508631-fh9r.svg"
                alt="Ellipse508631"
                class="editar-plantillas-administrador-ellipse50" /><img
                src="public/external/vector2258631-ptdm.svg"
                alt="Vector2258631"
                class="editar-plantillas-administrador-vector225" /><img
                src="public/external/vector1078631-wgz.svg"
                alt="Vector1078631"
                class="editar-plantillas-administrador-vector107" /><img
                src="public/external/ellipse3028631-uwmc.svg"
                alt="Ellipse3028631"
                class="editar-plantillas-administrador-ellipse302" /></div></div
          ><div class="editar-plantillas-administrador-onefingerhold2"
            ><div class="editar-plantillas-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508631-679.svg"
                alt="Ellipse508631"
                class="editar-plantillas-administrador-ellipse501" /><img
                src="public/external/vector2258631-0oc.svg"
                alt="Vector2258631"
                class="editar-plantillas-administrador-vector2251" /><img
                src="public/external/vector1078631-vua.svg"
                alt="Vector1078631"
                class="editar-plantillas-administrador-vector1071" /><img
                src="public/external/ellipse3028631-db28.svg"
                alt="Ellipse3028631"
                class="editar-plantillas-administrador-ellipse3021" /></div></div
          ><div
            class="editar-plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="editar-plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8631-rnz.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector06" /><img
                src="public/external/vector28631-navn.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector206" /><img
                src="public/external/vector38631-eur.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector306" /></div></div
          ><div
            class="editar-plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="editar-plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8631-cd9u.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector07" /><img
                src="public/external/vector28631-92d9.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector207" /><img
                src="public/external/vector38631-9p7d.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector307" /></div></div
          ><div
            class="editar-plantillas-administrador-newfileemptycommonfilecontent"
            ><div
              class="editar-plantillas-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8631-i5w4.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector08" /><img
                src="public/external/vector25298631-ezkg.svg"
                alt="Vector25298631"
                class="editar-plantillas-administrador-vector2529" /></div></div
          ><div
            class="editar-plantillas-administrador-newfileemptycommonfilecontent2"
            ><div
              class="editar-plantillas-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8631-jmj6.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector09" /><img
                src="public/external/vector25298631-jhuf.svg"
                alt="Vector25298631"
                class="editar-plantillas-administrador-vector25291" /></div></div
          ><div
            class="editar-plantillas-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="editar-plantillas-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8631-81m.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector10" /><img
                src="public/external/vector28631-abj.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector208" /><img
                src="public/external/vector38631-7ykn.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector308" /><img
                src="public/external/vector48631-s1g9.svg"
                alt="Vector48631"
                class="editar-plantillas-administrador-vector4" /></div></div
          ><div
            class="editar-plantillas-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="editar-plantillas-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8631-dx0a.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector11" /><img
                src="public/external/vector28631-0dqp.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector209" /><img
                src="public/external/vector25218631-pd9i.svg"
                alt="Vector25218631"
                class="editar-plantillas-administrador-vector2521" /><img
                src="public/external/vector25228631-xqs5.svg"
                alt="Vector25228631"
                class="editar-plantillas-administrador-vector2522" /><img
                src="public/external/vector25238631-cin.svg"
                alt="Vector25238631"
                class="editar-plantillas-administrador-vector2523" /><img
                src="public/external/vector25248631-6juo.svg"
                alt="Vector25248631"
                class="editar-plantillas-administrador-vector2524" /></div></div
          ><div
            class="editar-plantillas-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="editar-plantillas-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8631-tmml.svg"
                alt="Vector8631"
                class="editar-plantillas-administrador-vector12" /><img
                src="public/external/vector28631-bn96.svg"
                alt="Vector28631"
                class="editar-plantillas-administrador-vector210" /><img
                src="public/external/vector38631-vgt.svg"
                alt="Vector38631"
                class="editar-plantillas-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/f922a6db-907e-48b6-a98f-9ceb0d234c8b?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle38631"
            class="editar-plantillas-administrador-rectangle3"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/67e7209f-744f-4012-a488-388289ae68a4?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle278631"
            class="editar-plantillas-administrador-rectangle27"
          /><span class="editar-plantillas-administrador-text023"
            ><span>Actas de Nacimiento</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/063be0cf-7fdf-41dc-9e85-1e436a58acd8?org_if_sml=111503&amp;force_format=original"
            alt="Rectangle318631"
            class="editar-plantillas-administrador-rectangle31"
          /><span class="editar-plantillas-administrador-text025"
            ><span>Escriba el nombre del campo..</span></span
          ><span class="editar-plantillas-administrador-text027"
            ><span>Descripción del campo...</span></span
          ><span class="editar-plantillas-administrador-text029"
            ><span>Descripción del campo...</span></span
          ><span class="editar-plantillas-administrador-text031"
            ><span>Descripción del campo...</span></span
          ><span class="editar-plantillas-administrador-text033"
            ><span>Descripción del campo...</span></span
          ><span class="editar-plantillas-administrador-text035"
            ><span>* Nombre</span></span
          ><span class="editar-plantillas-administrador-text037"
            ><span>Nombre de campo</span></span
          ><span class="editar-plantillas-administrador-text039"
            ><span>Tipo</span></span
          ><span class="editar-plantillas-administrador-text041"
            ><span>Restricciones</span></span
          ><span class="editar-plantillas-administrador-text043"
            ><span>Descripción</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/10145d36-da58-44f8-8830-ff0af3289054?org_if_sml=110848&amp;force_format=original"
            alt="Rectangle218631"
            class="editar-plantillas-administrador-rectangle21"
          /><span class="editar-plantillas-administrador-text045"
            ><span>Archivo</span></span
          ><span class="editar-plantillas-administrador-text047"
            ><span>* Categoría</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/9c305a79-109a-4bcd-a10a-767dcd1cf42a?org_if_sml=110904&amp;force_format=original"
            alt="Rectangle228631"
            class="editar-plantillas-administrador-rectangle22"
          /><span class="editar-plantillas-administrador-text049"
            ><span>Secretaría General</span></span
          ><span class="editar-plantillas-administrador-text051"
            ><span>* Departamento</span></span
          ><span class="editar-plantillas-administrador-text053"
            ><span>Nombre</span></span
          ><span class="editar-plantillas-administrador-text055"
            ><span>Nulo</span></span
          ><span class="editar-plantillas-administrador-text057"
            ><span>Nulo</span></span
          ><span class="editar-plantillas-administrador-text059"
            ><span>Nulo</span></span
          ><span class="editar-plantillas-administrador-text061"
            ><span>Cédula</span></span
          ><span class="editar-plantillas-administrador-text063"
            ><span>Campos de plantilla</span></span
          ><span class="editar-plantillas-administrador-text065"
            ><span>Tipo de datos</span></span
          ><span class="editar-plantillas-administrador-text067"
            ><span>Restricciones</span></span
          ><img
            src="public/external/line98631-jtwf.svg"
            alt="Line98631"
            class="editar-plantillas-administrador-line9"
          /><img
            src="public/external/line108631-i7qc.svg"
            alt="Line108631"
            class="editar-plantillas-administrador-line10"
          /><img
            src="public/external/line128631-foxu.svg"
            alt="Line128631"
            class="editar-plantillas-administrador-line12"
          /><img
            src="public/external/line138631-wqib.svg"
            alt="Line138631"
            class="editar-plantillas-administrador-line13"
          /><img
            src="public/external/line148631-u3xl.svg"
            alt="Line148631"
            class="editar-plantillas-administrador-line14"
          /><img
            src="public/external/line118631-1ln.svg"
            alt="Line118631"
            class="editar-plantillas-administrador-line11"
          /><img
            src="public/external/line158631-a20j.svg"
            alt="Line158631"
            class="editar-plantillas-administrador-line15"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/968bbd93-c364-41ff-9d5d-2b27a63a42f5?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle198631"
            class="editar-plantillas-administrador-rectangle19"
          /><span class="editar-plantillas-administrador-text069"
            ><span>Crear</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/53b20a4b-f55f-4d2c-a945-a7bdedfaa3c2?org_if_sml=18900&amp;force_format=original"
            alt="Rectangle348631"
            class="editar-plantillas-administrador-rectangle34"
          /><span class="editar-plantillas-administrador-text071"
            ><span>Agregar campo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/9d49d144-8198-4696-82bb-4a128886f848?org_if_sml=115637&amp;force_format=original"
            alt="Rectangle208631"
            class="editar-plantillas-administrador-rectangle20"
          /><span class="editar-plantillas-administrador-text073"
            ><span>Cancelar</span></span
          ><span class="editar-plantillas-administrador-text075"
            ><span>Fecha</span></span
          ><span class="editar-plantillas-administrador-text077"
            ><span>Firma</span></span
          ><span class="editar-plantillas-administrador-text079"
            ><span>Caractér</span></span
          ><span class="editar-plantillas-administrador-text081"
            ><span>Caractér</span></span
          ><span class="editar-plantillas-administrador-text083"
            ><span>Númerico</span></span
          ><span class="editar-plantillas-administrador-text085"
            ><span>Fecha</span></span
          ><span class="editar-plantillas-administrador-text087"
            ><span>Booleano</span></span
          ><span class="editar-plantillas-administrador-text089"
            ><span>Númerico</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/9e0a7ec4-a49f-48f4-8086-cf22a0dd2451?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle288631"
            class="editar-plantillas-administrador-rectangle28"
          /><span class="editar-plantillas-administrador-text091"
            ><span>Caractér</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/3b9609ad-8d66-4e9a-a91f-b91d7153da05?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle358631"
            class="editar-plantillas-administrador-rectangle35"
          /><span class="editar-plantillas-administrador-text093"
            ><span>Campo nulo</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/f279d76f-0bbb-43f4-87c1-1c7acc871a33?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle368631"
            class="editar-plantillas-administrador-rectangle36"
          /><span class="editar-plantillas-administrador-text095"
            ><span>Desactivar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/b95f4b94-3acb-4695-9c71-7759ba844a38?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle328631"
            class="editar-plantillas-administrador-rectangle32"
          /><span class="editar-plantillas-administrador-text097"
            ><span>Booleano</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c14a9ea4-76a5-4698-9a47-66f54c2ca211?org_if_sml=1990&amp;force_format=original"
            alt="Rectangle338631"
            class="editar-plantillas-administrador-rectangle33"
          /><span class="editar-plantillas-administrador-text099"
            ><span>Fecha</span></span
          ><div
            class="editar-plantillas-administrador-apply-applyin-circle-larger"
            ><img
              src="public/external/svgstrokedi863-9o6l.svg"
              alt="SVGSTROKEDI863"
              class="editar-plantillas-administrador-svgstroked" /></div
          ><div
            class="editar-plantillas-administrador-apply-applyin-circle-larger1"
            ><img
              src="public/external/svgstrokedi863-74m.svg"
              alt="SVGSTROKEDI863"
              class="editar-plantillas-administrador-svgstroked1" /></div
          ><div
            class="editar-plantillas-administrador-apply-applyin-circle-larger2"
            ><img
              src="public/external/svgstrokedi863-n5bv.svg"
              alt="SVGSTROKEDI863"
              class="editar-plantillas-administrador-svgstroked2" /></div
          ><span class="editar-plantillas-administrador-text101"
            ><span>Editar Plantilla #0001</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
