<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Open Cluttered Locust</title
    ><meta property="og:title" content="Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./index.css" rel="stylesheet" /><div
        class="consultar-documentos-administrador-container"
        ><div
          class="consultar-documentos-administrador-consultardocumentos-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/6d777b5c-e0c0-4500-a030-e1028218c575?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27709"
            class="consultar-documentos-administrador-rectangle2" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/40266ba4-0ff9-4cfc-a286-94bdd6249d81?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7709"
            class="consultar-documentos-administrador-dashboardbg" /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/ddf7d49d-97bc-4b9a-aaaa-4d452601ccab?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37709"
            class="consultar-documentos-administrador-image170640173paddedlogo3" /><span
            class="consultar-documentos-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="consultar-documentos-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="consultar-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="consultar-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector7709-d22.svg"
                alt="Vector7709"
                class="consultar-documentos-administrador-vector" /><img
                src="public/external/vector27709-d9mq.svg"
                alt="Vector27709"
                class="consultar-documentos-administrador-vector2" /><img
                src="public/external/vector37709-s9wi.svg"
                alt="Vector37709"
                class="consultar-documentos-administrador-vector3" /></div></div
          ><div
            class="consultar-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="consultar-documentos-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector7709-f3d8.svg"
                alt="Vector7709"
                class="consultar-documentos-administrador-vector01" /><img
                src="public/external/vector27709-2yif.svg"
                alt="Vector27709"
                class="consultar-documentos-administrador-vector201" /><img
                src="public/external/vector37709-86gj.svg"
                alt="Vector37709"
                class="consultar-documentos-administrador-vector301" /></div></div
          ><span class="consultar-documentos-administrador-text04">v</span
          ><div
            class="consultar-documentos-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="consultar-documentos-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7709-71jm.svg"
                alt="Vector7709"
                class="consultar-documentos-administrador-vector02" /><img
                src="public/external/vector27709-dxaj.svg"
                alt="Vector27709"
                class="consultar-documentos-administrador-vector202" /><img
                src="public/external/vector37709-bcqa.svg"
                alt="Vector37709"
                class="consultar-documentos-administrador-vector302" /></div></div
          ><div
            class="consultar-documentos-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="consultar-documentos-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7709-0qh.svg"
                alt="Vector7709"
                class="consultar-documentos-administrador-vector03" /><img
                src="public/external/vector27709-okd.svg"
                alt="Vector27709"
                class="consultar-documentos-administrador-vector203" /><img
                src="public/external/vector37709-pqt.svg"
                alt="Vector37709"
                class="consultar-documentos-administrador-vector303" /></div></div
          ><span class="consultar-documentos-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle97709-vewk.svg"
            alt="Rectangle97709"
            class="consultar-documentos-administrador-rectangle9" /><span
            class="consultar-documentos-administrador-text07"
            ><span>Buscar documento...</span></span
          ><span class="consultar-documentos-administrador-text09"
            ><span> prueba.pdf</span></span
          ><span class="consultar-documentos-administrador-text11"
            ><span>#0563</span></span
          ><span class="consultar-documentos-administrador-text13"
            ><span>#0753</span></span
          ><span class="consultar-documentos-administrador-text15"
            ><span>#0872</span></span
          ><span class="consultar-documentos-administrador-text17"
            ><span>#0888</span></span
          ><span class="consultar-documentos-administrador-text19"
            ><span>Actas de Nacimiento</span></span
          ><span class="consultar-documentos-administrador-text21"
            ><span>Certificación legal</span></span
          ><span class="consultar-documentos-administrador-text23"
            ><span>Cheque</span></span
          ><span class="consultar-documentos-administrador-text25"
            ><span>Fiscalización</span></span
          ><span class="consultar-documentos-administrador-text27"
            ><span>Archivo</span></span
          ><span class="consultar-documentos-administrador-text29"
            ><span>Archivo</span></span
          ><span class="consultar-documentos-administrador-text31"
            ><span>Pagos</span></span
          ><span class="consultar-documentos-administrador-text33"
            ><span>Archivo</span></span
          ><span class="consultar-documentos-administrador-text35"
            ><span>alfredo.sgd</span></span
          ><span class="consultar-documentos-administrador-text37"
            ><span>alfredo.sgd</span></span
          ><span class="consultar-documentos-administrador-text39"
            ><span>alfredo.sgd</span></span
          ><span class="consultar-documentos-administrador-text41"
            ><span>alfredo.sgd</span></span
          ><span class="consultar-documentos-administrador-text43"
            ><span>01/02/2024</span></span
          ><span class="consultar-documentos-administrador-text45"
            ><span>04/02/2024</span></span
          ><span class="consultar-documentos-administrador-text47"
            ><span>05/02/2024</span></span
          ><span class="consultar-documentos-administrador-text49"
            ><span>06/02/2024</span></span
          ><span class="consultar-documentos-administrador-text51"
            ><span>Task</span></span
          ><span class="consultar-documentos-administrador-text53"
            ><span>Plantilla</span></span
          ><span class="consultar-documentos-administrador-text55"
            ><span>Categoría</span></span
          ><span class="consultar-documentos-administrador-text57"
            ><span>Documento</span></span
          ><span class="consultar-documentos-administrador-text59"
            ><span>Digitador</span></span
          ><span class="consultar-documentos-administrador-text61"
            ><span>Firma</span></span
          ><span class="consultar-documentos-administrador-text63"
            ><span>Fecha</span></span
          ><img
            src="public/external/line97709-3wb.svg"
            alt="Line97709"
            class="consultar-documentos-administrador-line9" /><img
            src="public/external/line107709-3cm.svg"
            alt="Line107709"
            class="consultar-documentos-administrador-line10" /><img
            src="public/external/line117709-air.svg"
            alt="Line117709"
            class="consultar-documentos-administrador-line11" /><img
            src="public/external/line127709-ydpq.svg"
            alt="Line127709"
            class="consultar-documentos-administrador-line12" /><img
            src="public/external/line137709-no69.svg"
            alt="Line137709"
            class="consultar-documentos-administrador-line13" /><img
            src="public/external/line147709-lg4f.svg"
            alt="Line147709"
            class="consultar-documentos-administrador-line14" /><img
            src="public/external/line157709-yyq.svg"
            alt="Line157709"
            class="consultar-documentos-administrador-line15" /><img
            src="public/external/line169101-tayj.svg"
            alt="Line169101"
            class="consultar-documentos-administrador-line16" /><div
            class="consultar-documentos-administrador-apply-applyin-circle-larger"
            ><img
              src="public/external/svgstrokedi770-atd.svg"
              alt="SVGSTROKEDI770"
              class="consultar-documentos-administrador-svgstroked" /></div
          ><div
            class="consultar-documentos-administrador-apply-applyin-circle-larger1"
            ><img
              src="public/external/svgstrokedi910-5tz8.svg"
              alt="SVGSTROKEDI910"
              class="consultar-documentos-administrador-svgstroked1" /></div
          ><div
            class="consultar-documentos-administrador-apply-applyin-circle-larger2"
            ><img
              src="public/external/svgstrokedi910-8m3g.svg"
              alt="SVGSTROKEDI910"
              class="consultar-documentos-administrador-svgstroked2" /></div
          ><div
            class="consultar-documentos-administrador-apply-applyin-circle-larger3"
            ><img
              src="public/external/svgstrokedi910-q864.svg"
              alt="SVGSTROKEDI910"
              class="consultar-documentos-administrador-svgstroked3" /></div
          ><span class="consultar-documentos-administrador-text65"
            ><span> certicado.pdf</span></span
          ><div
            class="consultar-documentos-administrador-apply-applyin-circle-larger4"
            ><img
              src="public/external/svgstrokedi770-9p2q.svg"
              alt="SVGSTROKEDI770"
              class="consultar-documentos-administrador-svgstroked4" /></div
          ><span class="consultar-documentos-administrador-text67"
            ><span> pagos.pdf</span></span
          ><div
            class="consultar-documentos-administrador-apply-applyin-circle-larger5"
            ><img
              src="public/external/svgstrokedi770-99x.svg"
              alt="SVGSTROKEDI770"
              class="consultar-documentos-administrador-svgstroked5" /></div
          ><span class="consultar-documentos-administrador-text69"
            ><span> doc23.pdf</span></span
          ><div
            class="consultar-documentos-administrador-apply-applyin-circle-larger6"
            ><img
              src="public/external/svgstrokedi770-6lgh.svg"
              alt="SVGSTROKEDI770"
              class="consultar-documentos-administrador-svgstroked6" /></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/ce7c336d-e7e1-4972-b6c1-05f5a1869473?org_if_sml=112724&amp;force_format=original"
            alt="Rectangle217709"
            class="consultar-documentos-administrador-rectangle21" /><span
            class="consultar-documentos-administrador-text71"
            ><span>Filtrar</span></span
          ><span class="consultar-documentos-administrador-text73"
            ><span>Documentos</span></span
          ><span class="consultar-documentos-administrador-text75"
            ><span>Documentos</span></span
          ><span class="consultar-documentos-administrador-text77"
            ><span>Reportes</span></span
          ><span class="consultar-documentos-administrador-text79"
            ><span>Actividades</span></span
          ><span class="consultar-documentos-administrador-text81"
            ><span>Plantillas</span></span
          ><span class="consultar-documentos-administrador-text83"
            ><span>Departamentos</span></span
          ><span class="consultar-documentos-administrador-text85"
            ><span>Categorías</span></span
          ><span class="consultar-documentos-administrador-text87"
            ><span>Usuarios</span></span
          ><div
            class="consultar-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="consultar-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8305-elyf.svg"
                alt="Vector8305"
                class="consultar-documentos-administrador-vector04" /><img
                src="public/external/vector28305-ylc6.svg"
                alt="Vector28305"
                class="consultar-documentos-administrador-vector204" /><img
                src="public/external/vector38305-cvlh.svg"
                alt="Vector38305"
                class="consultar-documentos-administrador-vector304" /></div></div
          ><div
            class="consultar-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="consultar-documentos-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8305-h4p.svg"
                alt="Vector8305"
                class="consultar-documentos-administrador-vector05" /><img
                src="public/external/vector28305-thln.svg"
                alt="Vector28305"
                class="consultar-documentos-administrador-vector205" /><img
                src="public/external/vector38305-4bj.svg"
                alt="Vector38305"
                class="consultar-documentos-administrador-vector305" /></div></div
          ><div class="consultar-documentos-administrador-onefingerhold"
            ><div class="consultar-documentos-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508305-equk.svg"
                alt="Ellipse508305"
                class="consultar-documentos-administrador-ellipse50" /><img
                src="public/external/vector2258305-4vl.svg"
                alt="Vector2258305"
                class="consultar-documentos-administrador-vector225" /><img
                src="public/external/vector1078305-8aiq.svg"
                alt="Vector1078305"
                class="consultar-documentos-administrador-vector107" /><img
                src="public/external/ellipse3028305-c89n.svg"
                alt="Ellipse3028305"
                class="consultar-documentos-administrador-ellipse302" /></div></div
          ><div class="consultar-documentos-administrador-onefingerhold2"
            ><div class="consultar-documentos-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508305-ptlr.svg"
                alt="Ellipse508305"
                class="consultar-documentos-administrador-ellipse501" /><img
                src="public/external/vector2258305-q679.svg"
                alt="Vector2258305"
                class="consultar-documentos-administrador-vector2251" /><img
                src="public/external/vector1078305-wpg.svg"
                alt="Vector1078305"
                class="consultar-documentos-administrador-vector1071" /><img
                src="public/external/ellipse3028305-65jf.svg"
                alt="Ellipse3028305"
                class="consultar-documentos-administrador-ellipse3021" /></div></div
          ><div
            class="consultar-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="consultar-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8305-zpp.svg"
                alt="Vector8305"
                class="consultar-documentos-administrador-vector06" /><img
                src="public/external/vector28305-aop9.svg"
                alt="Vector28305"
                class="consultar-documentos-administrador-vector206" /><img
                src="public/external/vector38305-t4qd.svg"
                alt="Vector38305"
                class="consultar-documentos-administrador-vector306" /></div></div
          ><div
            class="consultar-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="consultar-documentos-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8305-786k.svg"
                alt="Vector8305"
                class="consultar-documentos-administrador-vector07" /><img
                src="public/external/vector28305-th8.svg"
                alt="Vector28305"
                class="consultar-documentos-administrador-vector207" /><img
                src="public/external/vector38305-qdch.svg"
                alt="Vector38305"
                class="consultar-documentos-administrador-vector307" /></div></div
          ><div
            class="consultar-documentos-administrador-newfileemptycommonfilecontent"
            ><div
              class="consultar-documentos-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8305-c7fm.svg"
                alt="Vector8305"
                class="consultar-documentos-administrador-vector08" /><img
                src="public/external/vector25298305-f7vs.svg"
                alt="Vector25298305"
                class="consultar-documentos-administrador-vector2529" /></div></div
          ><div
            class="consultar-documentos-administrador-newfileemptycommonfilecontent2"
            ><div
              class="consultar-documentos-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8305-epdoa.svg"
                alt="Vector8305"
                class="consultar-documentos-administrador-vector09" /><img
                src="public/external/vector25298305-vsj.svg"
                alt="Vector25298305"
                class="consultar-documentos-administrador-vector25291" /></div></div
          ><div
            class="consultar-documentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="consultar-documentos-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8305-j778.svg"
                alt="Vector8305"
                class="consultar-documentos-administrador-vector10" /><img
                src="public/external/vector28305-l83l.svg"
                alt="Vector28305"
                class="consultar-documentos-administrador-vector208" /><img
                src="public/external/vector38305-f15a.svg"
                alt="Vector38305"
                class="consultar-documentos-administrador-vector308" /><img
                src="public/external/vector48305-1tpc.svg"
                alt="Vector48305"
                class="consultar-documentos-administrador-vector4" /></div></div
          ><div
            class="consultar-documentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="consultar-documentos-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8305-z42v.svg"
                alt="Vector8305"
                class="consultar-documentos-administrador-vector11" /><img
                src="public/external/vector28305-30xh.svg"
                alt="Vector28305"
                class="consultar-documentos-administrador-vector209" /><img
                src="public/external/vector25218305-435p.svg"
                alt="Vector25218305"
                class="consultar-documentos-administrador-vector2521" /><img
                src="public/external/vector25228305-bnj.svg"
                alt="Vector25228305"
                class="consultar-documentos-administrador-vector2522" /><img
                src="public/external/vector25238305-xmat.svg"
                alt="Vector25238305"
                class="consultar-documentos-administrador-vector2523" /><img
                src="public/external/vector25248305-ldo.svg"
                alt="Vector25248305"
                class="consultar-documentos-administrador-vector2524" /></div></div
          ><div
            class="consultar-documentos-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="consultar-documentos-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8305-c8gp.svg"
                alt="Vector8305"
                class="consultar-documentos-administrador-vector12" /><img
                src="public/external/vector28305-kp1d.svg"
                alt="Vector28305"
                class="consultar-documentos-administrador-vector210" /><img
                src="public/external/vector38305-j97.svg"
                alt="Vector38305"
                class="consultar-documentos-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/6494b272-0ede-4676-b5d0-e7ba9d10c141?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle228311"
            class="consultar-documentos-administrador-rectangle22" /><span
            class="consultar-documentos-administrador-text89"
            ><span>Registrar</span></span
          ><span class="consultar-documentos-administrador-text91"
            ><span>Consulta Documentos</span></span
          ><div class="consultar-documentos-administrador-close-close-big"
            ><img
              src="public/external/svgstrokedi910-7otv.svg"
              alt="SVGSTROKEDI910"
              class="consultar-documentos-administrador-svgstroked7" /></div></div></div
    ></div> </body
></html>
