<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Modificar-actividad-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Modificar-actividad-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link
        href="./modificar-actividad-administrador.css"
        rel="stylesheet"
      /><div class="modificar-actividad-administrador-container"
        ><div
          class="modificar-actividad-administrador-modificaractividad-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/7cc5ed64-40f8-4c58-ad58-4952aaec5cc5?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27831"
            class="modificar-actividad-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/2cee561f-3dbe-4548-9267-b844c5b1b01d?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7831"
            class="modificar-actividad-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/b7d28a93-e15a-4f4f-862d-ec16a2cb6a26?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37831"
            class="modificar-actividad-administrador-image170640173paddedlogo3"
          /><span class="modificar-actividad-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="modificar-actividad-administrador-text002"
            ><span>alfredo.sgd</span></span
          ><div
            class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus01"
              ><img
                src="public/external/vector7831-31kc.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector" /><img
                src="public/external/vector27831-ajkj.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector2" /><img
                src="public/external/vector37831-dsfd.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector3" /></div></div
          ><div
            class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus02"
            ><div
              class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus03"
              ><img
                src="public/external/vector7831-dv6.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector01" /><img
                src="public/external/vector27831-6i.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector201" /><img
                src="public/external/vector37831-fgfc.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector301" /></div></div
          ><span class="modificar-actividad-administrador-text004">v</span
          ><div
            class="modificar-actividad-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="modificar-actividad-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7831-ojjb.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector02" /><img
                src="public/external/vector27831-la7b.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector202" /><img
                src="public/external/vector37831-36y.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector302" /></div></div
          ><div
            class="modificar-actividad-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="modificar-actividad-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7831-1x2e.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector03" /><img
                src="public/external/vector27831-81h.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector203" /><img
                src="public/external/vector37831-d3r5.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector303" /></div></div
          ><span class="modificar-actividad-administrador-text005"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle97831-o3qc.svg"
            alt="Rectangle97831"
            class="modificar-actividad-administrador-rectangle9"
          /><span class="modificar-actividad-administrador-text007"
            ><span>Buscar actividades...</span></span
          ><span class="modificar-actividad-administrador-text009"
            ><span>#0001</span></span
          ><span class="modificar-actividad-administrador-text011"
            ><span>#0234</span></span
          ><span class="modificar-actividad-administrador-text013"
            ><span>#0247</span></span
          ><span class="modificar-actividad-administrador-text015"
            ><span>#0257</span></span
          ><span class="modificar-actividad-administrador-text017"
            ><span>Registro documento #0563</span></span
          ><span class="modificar-actividad-administrador-text019"
            ><span>Consulto documento #0342</span></span
          ><span class="modificar-actividad-administrador-text021"
            ><span>Consulto documento #0942</span></span
          ><span class="modificar-actividad-administrador-text023"
            ><span>Registro documento #0872</span></span
          ><span class="modificar-actividad-administrador-text025"
            ><span>alfredo.sgd</span></span
          ><span class="modificar-actividad-administrador-text027"
            ><span>alfredo.sgd</span></span
          ><span class="modificar-actividad-administrador-text029"
            ><span>alfredo.sgd</span></span
          ><span class="modificar-actividad-administrador-text031"
            ><span>alfredo.sgd</span></span
          ><span class="modificar-actividad-administrador-text033"
            ><span>01/02/2024</span></span
          ><span class="modificar-actividad-administrador-text035"
            ><span>04/02/2024</span></span
          ><span class="modificar-actividad-administrador-text037"
            ><span>05/02/2024</span></span
          ><span class="modificar-actividad-administrador-text039"
            ><span>06/02/2024</span></span
          ><span class="modificar-actividad-administrador-text041"
            ><span>Código</span></span
          ><span class="modificar-actividad-administrador-text043"
            ><span>Nombre</span></span
          ><span class="modificar-actividad-administrador-text045"
            ><span>Estado</span></span
          ><span class="modificar-actividad-administrador-text047"
            ><span>Asignado</span></span
          ><span class="modificar-actividad-administrador-text049"
            ><span>Fecha</span></span
          ><img
            src="public/external/line97831-qh5.svg"
            alt="Line97831"
            class="modificar-actividad-administrador-line9"
          /><img
            src="public/external/line107831-0z3.svg"
            alt="Line107831"
            class="modificar-actividad-administrador-line10"
          /><img
            src="public/external/line117831-pcd.svg"
            alt="Line117831"
            class="modificar-actividad-administrador-line11"
          /><img
            src="public/external/line137831-ux9.svg"
            alt="Line137831"
            class="modificar-actividad-administrador-line13"
          /><img
            src="public/external/line147831-3cej.svg"
            alt="Line147831"
            class="modificar-actividad-administrador-line14"
          /><img
            src="public/external/line157831-0q76.svg"
            alt="Line157831"
            class="modificar-actividad-administrador-line15"
          /><span class="modificar-actividad-administrador-text051"
            ><span>Finalizado</span></span
          ><span class="modificar-actividad-administrador-text053"
            ><span>Finalizado</span></span
          ><span class="modificar-actividad-administrador-text055"
            ><span>Finalizado</span></span
          ><span class="modificar-actividad-administrador-text057"
            ><span>Documentos</span></span
          ><span class="modificar-actividad-administrador-text059"
            ><span>Reportes</span></span
          ><span class="modificar-actividad-administrador-text061"
            ><span>Actividades</span></span
          ><span class="modificar-actividad-administrador-text063"
            ><span>Actividades</span></span
          ><span class="modificar-actividad-administrador-text065"
            ><span>Plantillas</span></span
          ><span class="modificar-actividad-administrador-text067"
            ><span>Departamentos</span></span
          ><span class="modificar-actividad-administrador-text069"
            ><span>Categorías</span></span
          ><span class="modificar-actividad-administrador-text071"
            ><span>Usuarios</span></span
          ><div
            class="modificar-actividad-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="modificar-actividad-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8311-r04.svg"
                alt="Vector8311"
                class="modificar-actividad-administrador-vector04" /><img
                src="public/external/vector28311-8zl7.svg"
                alt="Vector28311"
                class="modificar-actividad-administrador-vector204" /><img
                src="public/external/vector38311-a2j5.svg"
                alt="Vector38311"
                class="modificar-actividad-administrador-vector304" /></div></div
          ><div
            class="modificar-actividad-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="modificar-actividad-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8311-pw3.svg"
                alt="Vector8311"
                class="modificar-actividad-administrador-vector05" /><img
                src="public/external/vector28311-se7h.svg"
                alt="Vector28311"
                class="modificar-actividad-administrador-vector205" /><img
                src="public/external/vector38311-fyg.svg"
                alt="Vector38311"
                class="modificar-actividad-administrador-vector305" /></div></div
          ><div class="modificar-actividad-administrador-onefingerhold"
            ><div class="modificar-actividad-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508311-30ac.svg"
                alt="Ellipse508311"
                class="modificar-actividad-administrador-ellipse50" /><img
                src="public/external/vector2258311-2bid.svg"
                alt="Vector2258311"
                class="modificar-actividad-administrador-vector225" /><img
                src="public/external/vector1078311-wklp.svg"
                alt="Vector1078311"
                class="modificar-actividad-administrador-vector107" /><img
                src="public/external/ellipse3028311-2xyi.svg"
                alt="Ellipse3028311"
                class="modificar-actividad-administrador-ellipse302" /></div></div
          ><div class="modificar-actividad-administrador-onefingerhold2"
            ><div class="modificar-actividad-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508311-5m3s.svg"
                alt="Ellipse508311"
                class="modificar-actividad-administrador-ellipse501" /><img
                src="public/external/vector2258311-w0yzd.svg"
                alt="Vector2258311"
                class="modificar-actividad-administrador-vector2251" /><img
                src="public/external/vector1078311-z4ar.svg"
                alt="Vector1078311"
                class="modificar-actividad-administrador-vector1071" /><img
                src="public/external/ellipse3028311-uhjf.svg"
                alt="Ellipse3028311"
                class="modificar-actividad-administrador-ellipse3021" /></div></div
          ><div
            class="modificar-actividad-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="modificar-actividad-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8311-mxxk.svg"
                alt="Vector8311"
                class="modificar-actividad-administrador-vector06" /><img
                src="public/external/vector28311-uwq.svg"
                alt="Vector28311"
                class="modificar-actividad-administrador-vector206" /><img
                src="public/external/vector38311-5qrn.svg"
                alt="Vector38311"
                class="modificar-actividad-administrador-vector306" /></div></div
          ><div
            class="modificar-actividad-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="modificar-actividad-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8311-dh2l.svg"
                alt="Vector8311"
                class="modificar-actividad-administrador-vector07" /><img
                src="public/external/vector28311-24b.svg"
                alt="Vector28311"
                class="modificar-actividad-administrador-vector207" /><img
                src="public/external/vector38311-70yt.svg"
                alt="Vector38311"
                class="modificar-actividad-administrador-vector307" /></div></div
          ><div
            class="modificar-actividad-administrador-newfileemptycommonfilecontent"
            ><div
              class="modificar-actividad-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8311-si53.svg"
                alt="Vector8311"
                class="modificar-actividad-administrador-vector08" /><img
                src="public/external/vector25298311-w0k.svg"
                alt="Vector25298311"
                class="modificar-actividad-administrador-vector2529" /></div></div
          ><div
            class="modificar-actividad-administrador-newfileemptycommonfilecontent2"
            ><div
              class="modificar-actividad-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8311-5468.svg"
                alt="Vector8311"
                class="modificar-actividad-administrador-vector09" /><img
                src="public/external/vector25298311-vb0s.svg"
                alt="Vector25298311"
                class="modificar-actividad-administrador-vector25291" /></div></div
          ><div
            class="modificar-actividad-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="modificar-actividad-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8311-5ove.svg"
                alt="Vector8311"
                class="modificar-actividad-administrador-vector10" /><img
                src="public/external/vector28311-m72h.svg"
                alt="Vector28311"
                class="modificar-actividad-administrador-vector208" /><img
                src="public/external/vector38311-t5e.svg"
                alt="Vector38311"
                class="modificar-actividad-administrador-vector308" /><img
                src="public/external/vector48311-t29.svg"
                alt="Vector48311"
                class="modificar-actividad-administrador-vector4" /></div></div
          ><div
            class="modificar-actividad-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="modificar-actividad-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8311-837h.svg"
                alt="Vector8311"
                class="modificar-actividad-administrador-vector11" /><img
                src="public/external/vector28311-5d3d.svg"
                alt="Vector28311"
                class="modificar-actividad-administrador-vector209" /><img
                src="public/external/vector25218311-5xd5.svg"
                alt="Vector25218311"
                class="modificar-actividad-administrador-vector2521" /><img
                src="public/external/vector25228311-8yiq.svg"
                alt="Vector25228311"
                class="modificar-actividad-administrador-vector2522" /><img
                src="public/external/vector25238311-ia6.svg"
                alt="Vector25238311"
                class="modificar-actividad-administrador-vector2523" /><img
                src="public/external/vector25248311-5m1o.svg"
                alt="Vector25248311"
                class="modificar-actividad-administrador-vector2524" /></div></div
          ><div
            class="modificar-actividad-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="modificar-actividad-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8311-ukc.svg"
                alt="Vector8311"
                class="modificar-actividad-administrador-vector12" /><img
                src="public/external/vector28311-uh2.svg"
                alt="Vector28311"
                class="modificar-actividad-administrador-vector210" /><img
                src="public/external/vector38311-dg7o.svg"
                alt="Vector38311"
                class="modificar-actividad-administrador-vector309" /></div></div
          ><span class="modificar-actividad-administrador-text073"
            ><span>Actividades</span></span
          ><span class="modificar-actividad-administrador-text075"
            ><span>Finalizado</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/c5a84f79-2da1-4a50-89ad-9fc72988f9e6?org_if_sml=110544&amp;force_format=original"
            alt="Rectangle237831"
            class="modificar-actividad-administrador-rectangle23"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/4083941f-abc9-4437-999f-34365cf745af?org_if_sml=123236&amp;force_format=original"
            alt="Rectangle247831"
            class="modificar-actividad-administrador-rectangle24"
          /><span class="modificar-actividad-administrador-text077"
            ><span>1:05PM</span></span
          ><span class="modificar-actividad-administrador-text079"
            ><span>01/02/2024 </span></span
          ><span class="modificar-actividad-administrador-text081"
            ><span>Consulto el documento</span></span
          ><span class="modificar-actividad-administrador-text083"
            ><span>alfredo.sgd</span></span
          ><span class="modificar-actividad-administrador-text085"
            ><span>Mostrar historial </span></span
          ><div
            class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus04"
            ><div
              class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus05"
              ><img
                src="public/external/vector7831-3qr2.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector13" /><img
                src="public/external/vector27831-fm2.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector211" /><img
                src="public/external/vector37831-zht.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector310" /></div></div
          ><div
            class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus06"
            ><div
              class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus07"
              ><img
                src="public/external/vector7831-tl8b.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector14" /><img
                src="public/external/vector27831-4ps7.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector212" /><img
                src="public/external/vector37831-3u8f.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector311" /></div></div
          ><span class="modificar-actividad-administrador-text087"
            ><span>1:05PM</span></span
          ><span class="modificar-actividad-administrador-text089"
            ><span>01/02/2024 </span></span
          ><span class="modificar-actividad-administrador-text091"
            ><span>Asigno Task #0563 a alfredo.sgd</span></span
          ><span class="modificar-actividad-administrador-text093"
            ><span>alfredo.sgd</span></span
          ><div
            class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus08"
            ><div
              class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus09"
              ><img
                src="public/external/vector7831-pbtj.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector15" /><img
                src="public/external/vector27831-2n1c.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector213" /><img
                src="public/external/vector37831-0pu.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector312" /></div></div
          ><div
            class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus10"
            ><div
              class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus11"
              ><img
                src="public/external/vector7831-wtm.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector16" /><img
                src="public/external/vector27831-4z.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector214" /><img
                src="public/external/vector37831-cvgg.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector313" /></div></div
          ><span class="modificar-actividad-administrador-text095"
            ><span>1:00PM</span></span
          ><span class="modificar-actividad-administrador-text097"
            ><span>01/02/2024 </span></span
          ><span class="modificar-actividad-administrador-text099"
            ><span>Registro el documento</span></span
          ><span class="modificar-actividad-administrador-text101"
            ><span>alfredo.sgd</span></span
          ><div
            class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus12"
            ><div
              class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus13"
              ><img
                src="public/external/vector7831-b4ac.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector17" /><img
                src="public/external/vector27831-s0xd.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector215" /><img
                src="public/external/vector37831-5gd.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector314" /></div></div
          ><div
            class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus14"
            ><div
              class="modificar-actividad-administrador-usercirclesinglecirclegeometrichumanpersonsingleus15"
              ><img
                src="public/external/vector7831-z95d.svg"
                alt="Vector7831"
                class="modificar-actividad-administrador-vector18" /><img
                src="public/external/vector27831-3xhe.svg"
                alt="Vector27831"
                class="modificar-actividad-administrador-vector216" /><img
                src="public/external/vector37831-zm8m.svg"
                alt="Vector37831"
                class="modificar-actividad-administrador-vector315" /></div></div
          ><span class="modificar-actividad-administrador-text103"
            ><span>Historial de actividades relacionadas:</span></span
          ><img
            src="public/external/line167831-k3m5o.svg"
            alt="Line167831"
            class="modificar-actividad-administrador-line16"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/34923232-299d-47d2-9d40-4c63e0280378?org_if_sml=15040&amp;force_format=original"
            alt="Rectangle317831"
            class="modificar-actividad-administrador-rectangle31"
          /><span class="modificar-actividad-administrador-text105"
            ><span>Descripción:</span></span
          ><span class="modificar-actividad-administrador-text107"
            ><span>Registro documento #0563</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/2abe489f-a904-4b47-b0da-d196094c8680?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle307831"
            class="modificar-actividad-administrador-rectangle30"
          /><span class="modificar-actividad-administrador-text109"
            ><span>alfredo.sgd</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/74a81438-74d5-40da-a0c3-d0f1ca564938?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle277831"
            class="modificar-actividad-administrador-rectangle27"
          /><span class="modificar-actividad-administrador-text111"
            ><span>Estado:</span></span
          ><span class="modificar-actividad-administrador-text113"
            ><span>Fecha:</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/00acf19d-f683-4e2f-85da-369a60721a4c?org_if_sml=14211&amp;force_format=original"
            alt="Rectangle267831"
            class="modificar-actividad-administrador-rectangle26"
          /><span class="modificar-actividad-administrador-text115"
            ><span>Finalizado</span></span
          ><span class="modificar-actividad-administrador-text117"
            ><span>01/02/2024</span></span
          ><span class="modificar-actividad-administrador-text119"
            ><span>Asignado:</span></span
          ><div class="modificar-actividad-administrador-close-close-big"
            ><img
              src="public/external/svgstrokedi783-4pu.svg"
              alt="SVGSTROKEDI783"
              class="modificar-actividad-administrador-svgstroked" /></div
          ><span class="modificar-actividad-administrador-text121"
            ><span>Task #0001</span></span
          ><img
            src="public/external/line57831-l9r.svg"
            alt="Line57831"
            class="modificar-actividad-administrador-line5"
          /><img
            src="public/external/line177831-u9.svg"
            alt="Line177831"
            class="modificar-actividad-administrador-line17"
          /><div
            class="modificar-actividad-administrador-equalsigninterfacemathequalsignmathematics"
            ><div
              class="modificar-actividad-administrador-equalsigninterfacemathequalsignmathematics1"
              ><img
                src="public/external/vector2677831-cl4l.svg"
                alt="Vector2677831"
                class="modificar-actividad-administrador-vector267" /><img
                src="public/external/vector2687831-pyug.svg"
                alt="Vector2687831"
                class="modificar-actividad-administrador-vector268" /></div></div
          ><span class="modificar-actividad-administrador-text123"
            ><span>Task #0563</span></span
          ><span class="modificar-actividad-administrador-text125"
            ><span>Task #0563</span></span
          ><span class="modificar-actividad-administrador-text127"
            ><span>Task #0563</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
