<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Plantillas-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Plantillas-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./plantillas-administrador.css" rel="stylesheet" /><div
        class="plantillas-administrador-container"
        ><div class="plantillas-administrador-plantillas-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/ccb57041-7bda-4daa-a170-e2340881afd1?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27861"
            class="plantillas-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/440c0cd9-e3e3-469a-a40e-0f872e0e6afb?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7861"
            class="plantillas-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/291cf6ea-72fd-4e94-ac7c-0bd8a8b61fbc?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37861"
            class="plantillas-administrador-image170640173paddedlogo3"
          /><span class="plantillas-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="plantillas-administrador-text02"
            ><span>alfredo.sgd</span></span
          ><div
            class="plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector7861-ywda.svg"
                alt="Vector7861"
                class="plantillas-administrador-vector" /><img
                src="public/external/vector27861-79pz6.svg"
                alt="Vector27861"
                class="plantillas-administrador-vector2" /><img
                src="public/external/vector37861-ks2d8.svg"
                alt="Vector37861"
                class="plantillas-administrador-vector3" /></div></div
          ><div
            class="plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="plantillas-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector7861-77ql.svg"
                alt="Vector7861"
                class="plantillas-administrador-vector01" /><img
                src="public/external/vector27861-t4cj.svg"
                alt="Vector27861"
                class="plantillas-administrador-vector201" /><img
                src="public/external/vector37861-3tgc.svg"
                alt="Vector37861"
                class="plantillas-administrador-vector301" /></div></div
          ><span class="plantillas-administrador-text04">v</span
          ><div
            class="plantillas-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="plantillas-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7861-zxdg.svg"
                alt="Vector7861"
                class="plantillas-administrador-vector02" /><img
                src="public/external/vector27861-081i.svg"
                alt="Vector27861"
                class="plantillas-administrador-vector202" /><img
                src="public/external/vector37861-hyow.svg"
                alt="Vector37861"
                class="plantillas-administrador-vector302" /></div></div
          ><div
            class="plantillas-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="plantillas-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7861-meq.svg"
                alt="Vector7861"
                class="plantillas-administrador-vector03" /><img
                src="public/external/vector27861-76wh.svg"
                alt="Vector27861"
                class="plantillas-administrador-vector203" /><img
                src="public/external/vector37861-dcl9.svg"
                alt="Vector37861"
                class="plantillas-administrador-vector303" /></div></div
          ><span class="plantillas-administrador-text05"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle97861-guf.svg"
            alt="Rectangle97861"
            class="plantillas-administrador-rectangle9"
          /><span class="plantillas-administrador-text07"
            ><span>Buscar plantillas...</span></span
          ><span class="plantillas-administrador-text09"
            ><span>#0001</span></span
          ><span class="plantillas-administrador-text11"
            ><span>#0002</span></span
          ><span class="plantillas-administrador-text13"
            ><span>#0003</span></span
          ><span class="plantillas-administrador-text15"
            ><span>#0004</span></span
          ><span class="plantillas-administrador-text17"
            ><span>Actas de Nacimiento</span></span
          ><span class="plantillas-administrador-text19"
            ><span>Certificación legal</span></span
          ><span class="plantillas-administrador-text21"
            ><span>Fiscalización</span></span
          ><span class="plantillas-administrador-text23"
            ><span>Cheque</span></span
          ><span class="plantillas-administrador-text25"
            ><span>alfredo.sgd</span></span
          ><span class="plantillas-administrador-text27"
            ><span>alfredo.sgd</span></span
          ><span class="plantillas-administrador-text29"
            ><span>alfredo.sgd</span></span
          ><span class="plantillas-administrador-text31"
            ><span>alfredo.sgd</span></span
          ><span class="plantillas-administrador-text33"
            ><span>01/02/2024</span></span
          ><span class="plantillas-administrador-text35"
            ><span>04/02/2024</span></span
          ><span class="plantillas-administrador-text37"
            ><span>05/02/2024</span></span
          ><span class="plantillas-administrador-text39"
            ><span>06/02/2024</span></span
          ><span class="plantillas-administrador-text41"
            ><span>Código</span></span
          ><span class="plantillas-administrador-text43"
            ><span>Nombre</span></span
          ><span class="plantillas-administrador-text45"
            ><span>Estado</span></span
          ><span class="plantillas-administrador-text47"
            ><span>Creador</span></span
          ><span class="plantillas-administrador-text49"
            ><span>Categoría</span></span
          ><span class="plantillas-administrador-text51"
            ><span>Fecha</span></span
          ><img
            src="public/external/line97861-5jw.svg"
            alt="Line97861"
            class="plantillas-administrador-line9"
          /><img
            src="public/external/line107861-c4g.svg"
            alt="Line107861"
            class="plantillas-administrador-line10"
          /><img
            src="public/external/line117861-m2c.svg"
            alt="Line117861"
            class="plantillas-administrador-line11"
          /><img
            src="public/external/line137861-dtrd.svg"
            alt="Line137861"
            class="plantillas-administrador-line13"
          /><img
            src="public/external/line147861-c8xr.svg"
            alt="Line147861"
            class="plantillas-administrador-line14"
          /><img
            src="public/external/line157861-81w.svg"
            alt="Line157861"
            class="plantillas-administrador-line15"
          /><img
            src="public/external/line167891-svff.svg"
            alt="Line167891"
            class="plantillas-administrador-line16"
          /><span class="plantillas-administrador-text53"
            ><span>Activa</span></span
          ><span class="plantillas-administrador-text55"
            ><span>Inactiva</span></span
          ><span class="plantillas-administrador-text57"
            ><span>Activa</span></span
          ><span class="plantillas-administrador-text59"
            ><span>Activa</span></span
          ><span class="plantillas-administrador-text61"
            ><span>Archivo</span></span
          ><span class="plantillas-administrador-text63"
            ><span>Pagos</span></span
          ><span class="plantillas-administrador-text65"
            ><span>Archivo</span></span
          ><span class="plantillas-administrador-text67"
            ><span>Pagos</span></span
          ><span class="plantillas-administrador-text69"
            ><span>Documentos</span></span
          ><span class="plantillas-administrador-text71"
            ><span>Reportes</span></span
          ><span class="plantillas-administrador-text73"
            ><span>Actividades</span></span
          ><span class="plantillas-administrador-text75"
            ><span>Plantillas</span></span
          ><span class="plantillas-administrador-text77"
            ><span>Plantillas</span></span
          ><span class="plantillas-administrador-text79"
            ><span>Departamentos</span></span
          ><span class="plantillas-administrador-text81"
            ><span>Categorías</span></span
          ><span class="plantillas-administrador-text83"
            ><span>Usuarios</span></span
          ><div
            class="plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8311-tnzp.svg"
                alt="Vector8311"
                class="plantillas-administrador-vector04" /><img
                src="public/external/vector28311-qax3h.svg"
                alt="Vector28311"
                class="plantillas-administrador-vector204" /><img
                src="public/external/vector38311-yge.svg"
                alt="Vector38311"
                class="plantillas-administrador-vector304" /></div></div
          ><div
            class="plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="plantillas-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8311-8f8i.svg"
                alt="Vector8311"
                class="plantillas-administrador-vector05" /><img
                src="public/external/vector28311-8uv9.svg"
                alt="Vector28311"
                class="plantillas-administrador-vector205" /><img
                src="public/external/vector38311-i74b.svg"
                alt="Vector38311"
                class="plantillas-administrador-vector305" /></div></div
          ><div class="plantillas-administrador-onefingerhold"
            ><div class="plantillas-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508311-apvl.svg"
                alt="Ellipse508311"
                class="plantillas-administrador-ellipse50" /><img
                src="public/external/vector2258311-es6e.svg"
                alt="Vector2258311"
                class="plantillas-administrador-vector225" /><img
                src="public/external/vector1078311-ktur.svg"
                alt="Vector1078311"
                class="plantillas-administrador-vector107" /><img
                src="public/external/ellipse3028311-eu3p.svg"
                alt="Ellipse3028311"
                class="plantillas-administrador-ellipse302" /></div></div
          ><div class="plantillas-administrador-onefingerhold2"
            ><div class="plantillas-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508311-qitm.svg"
                alt="Ellipse508311"
                class="plantillas-administrador-ellipse501" /><img
                src="public/external/vector2258311-kpjs.svg"
                alt="Vector2258311"
                class="plantillas-administrador-vector2251" /><img
                src="public/external/vector1078311-3x6m.svg"
                alt="Vector1078311"
                class="plantillas-administrador-vector1071" /><img
                src="public/external/ellipse3028311-lm3z.svg"
                alt="Ellipse3028311"
                class="plantillas-administrador-ellipse3021" /></div></div
          ><div
            class="plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8311-p99u.svg"
                alt="Vector8311"
                class="plantillas-administrador-vector06" /><img
                src="public/external/vector28311-5iap.svg"
                alt="Vector28311"
                class="plantillas-administrador-vector206" /><img
                src="public/external/vector38311-r9b.svg"
                alt="Vector38311"
                class="plantillas-administrador-vector306" /></div></div
          ><div
            class="plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="plantillas-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8311-6mmk.svg"
                alt="Vector8311"
                class="plantillas-administrador-vector07" /><img
                src="public/external/vector28311-aqnd.svg"
                alt="Vector28311"
                class="plantillas-administrador-vector207" /><img
                src="public/external/vector38311-ep1k.svg"
                alt="Vector38311"
                class="plantillas-administrador-vector307" /></div></div
          ><div class="plantillas-administrador-newfileemptycommonfilecontent"
            ><div
              class="plantillas-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8311-pyec.svg"
                alt="Vector8311"
                class="plantillas-administrador-vector08" /><img
                src="public/external/vector25298311-n2gf.svg"
                alt="Vector25298311"
                class="plantillas-administrador-vector2529" /></div></div
          ><div class="plantillas-administrador-newfileemptycommonfilecontent2"
            ><div
              class="plantillas-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8311-ihsk.svg"
                alt="Vector8311"
                class="plantillas-administrador-vector09" /><img
                src="public/external/vector25298311-xkl.svg"
                alt="Vector25298311"
                class="plantillas-administrador-vector25291" /></div></div
          ><div
            class="plantillas-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="plantillas-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8311-fwf.svg"
                alt="Vector8311"
                class="plantillas-administrador-vector10" /><img
                src="public/external/vector28311-6ogi.svg"
                alt="Vector28311"
                class="plantillas-administrador-vector208" /><img
                src="public/external/vector38311-4an.svg"
                alt="Vector38311"
                class="plantillas-administrador-vector308" /><img
                src="public/external/vector48311-8dsb.svg"
                alt="Vector48311"
                class="plantillas-administrador-vector4" /></div></div
          ><div
            class="plantillas-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="plantillas-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8311-hib8.svg"
                alt="Vector8311"
                class="plantillas-administrador-vector11" /><img
                src="public/external/vector28311-aqvt.svg"
                alt="Vector28311"
                class="plantillas-administrador-vector209" /><img
                src="public/external/vector25218311-9yfj.svg"
                alt="Vector25218311"
                class="plantillas-administrador-vector2521" /><img
                src="public/external/vector25228311-b3t.svg"
                alt="Vector25228311"
                class="plantillas-administrador-vector2522" /><img
                src="public/external/vector25238311-yqn.svg"
                alt="Vector25238311"
                class="plantillas-administrador-vector2523" /><img
                src="public/external/vector25248311-tl9i.svg"
                alt="Vector25248311"
                class="plantillas-administrador-vector2524" /></div></div
          ><div
            class="plantillas-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="plantillas-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8311-pvwh.svg"
                alt="Vector8311"
                class="plantillas-administrador-vector12" /><img
                src="public/external/vector28311-eyli.svg"
                alt="Vector28311"
                class="plantillas-administrador-vector210" /><img
                src="public/external/vector38311-apcf.svg"
                alt="Vector38311"
                class="plantillas-administrador-vector309" /></div></div
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/0ad11c82-310f-4ddb-accc-ec00fb6fecc5?org_if_sml=115071&amp;force_format=original"
            alt="Rectangle228351"
            class="plantillas-administrador-rectangle22"
          /><span class="plantillas-administrador-text85"
            ><span>Crear plantilla</span></span
          ><span class="plantillas-administrador-text87"
            ><span>Plantillas</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
