<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Reportes-Filtro-Administrador - Open Cluttered Locust</title
    ><meta
      property="og:title"
      content="Reportes-Filtro-Administrador - Open Cluttered Locust" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./reportes-filtro-administrador.css" rel="stylesheet" /><div
        class="reportes-filtro-administrador-container"
        ><div
          class="reportes-filtro-administrador-reportes-filtro-administrador"
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/00f0edac-48ca-4094-9ab1-b1f42c1da3cb?org_if_sml=1135751&amp;force_format=original"
            alt="Rectangle27751"
            class="reportes-filtro-administrador-rectangle2"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/333029b4-0bb2-487c-9b8e-7aed71df81dc?org_if_sml=13814&amp;force_format=original"
            alt="Dashboardbg7751"
            class="reportes-filtro-administrador-dashboardbg"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/f43b5c55-9751-43f2-b309-acec6fe02222?org_if_sml=18797&amp;force_format=original"
            alt="IMAGE170640173paddedlogo37751"
            class="reportes-filtro-administrador-image170640173paddedlogo3"
          /><span class="reportes-filtro-administrador-text"
            ><span>Sistema de Gestión Documental</span></span
          ><span class="reportes-filtro-administrador-text002"
            ><span>alfredo.sgd</span></span
          ><div
            class="reportes-filtro-administrador-usercirclesinglecirclegeometrichumanpersonsingleus"
            ><div
              class="reportes-filtro-administrador-usercirclesinglecirclegeometrichumanpersonsingleus1"
              ><img
                src="public/external/vector7751-uox.svg"
                alt="Vector7751"
                class="reportes-filtro-administrador-vector" /><img
                src="public/external/vector27751-zor.svg"
                alt="Vector27751"
                class="reportes-filtro-administrador-vector2" /><img
                src="public/external/vector37751-7crg.svg"
                alt="Vector37751"
                class="reportes-filtro-administrador-vector3" /></div></div
          ><div
            class="reportes-filtro-administrador-usercirclesinglecirclegeometrichumanpersonsingleus2"
            ><div
              class="reportes-filtro-administrador-usercirclesinglecirclegeometrichumanpersonsingleus3"
              ><img
                src="public/external/vector7751-ix2y.svg"
                alt="Vector7751"
                class="reportes-filtro-administrador-vector01" /><img
                src="public/external/vector27751-npm9.svg"
                alt="Vector27751"
                class="reportes-filtro-administrador-vector201" /><img
                src="public/external/vector37751-mtta.svg"
                alt="Vector37751"
                class="reportes-filtro-administrador-vector301" /></div></div
          ><span class="reportes-filtro-administrador-text004">v</span
          ><div
            class="reportes-filtro-administrador-login1arrowenterframeleftloginpointrectangle"
            ><div
              class="reportes-filtro-administrador-login1arrowenterframeleftloginpointrectangle1"
              ><img
                src="public/external/vector7751-ox7h.svg"
                alt="Vector7751"
                class="reportes-filtro-administrador-vector02" /><img
                src="public/external/vector27751-09l.svg"
                alt="Vector27751"
                class="reportes-filtro-administrador-vector202" /><img
                src="public/external/vector37751-bjm.svg"
                alt="Vector37751"
                class="reportes-filtro-administrador-vector302" /></div></div
          ><div
            class="reportes-filtro-administrador-login1arrowenterframeleftloginpointrectangle2"
            ><div
              class="reportes-filtro-administrador-login1arrowenterframeleftloginpointrectangle3"
              ><img
                src="public/external/vector7751-med.svg"
                alt="Vector7751"
                class="reportes-filtro-administrador-vector03" /><img
                src="public/external/vector27751-pycm.svg"
                alt="Vector27751"
                class="reportes-filtro-administrador-vector203" /><img
                src="public/external/vector37751-mw1k.svg"
                alt="Vector37751"
                class="reportes-filtro-administrador-vector303" /></div></div
          ><span class="reportes-filtro-administrador-text005"
            ><span>Cerrar Sesión</span></span
          ><img
            src="public/external/rectangle97751-dodh.svg"
            alt="Rectangle97751"
            class="reportes-filtro-administrador-rectangle9"
          /><span class="reportes-filtro-administrador-text007"
            ><span>Buscar reportes...</span></span
          ><span class="reportes-filtro-administrador-text009"
            ><span>#001</span></span
          ><span class="reportes-filtro-administrador-text011"
            ><span>#002</span></span
          ><span class="reportes-filtro-administrador-text013"
            ><span>#003</span></span
          ><span class="reportes-filtro-administrador-text015"
            ><span>#004</span></span
          ><span class="reportes-filtro-administrador-text017"
            ><span>Récord de documentos</span></span
          ><span class="reportes-filtro-administrador-text019"
            ><span>Récord de documentos</span></span
          ><span class="reportes-filtro-administrador-text021"
            ><span>Récord de documentos</span></span
          ><span class="reportes-filtro-administrador-text023"
            ><span>Récord de documentos</span></span
          ><span class="reportes-filtro-administrador-text025"
            ><span>Contabilidad de registro de documentos</span></span
          ><span class="reportes-filtro-administrador-text027"
            ><span>Contabilidad de registro de documentos</span></span
          ><span class="reportes-filtro-administrador-text029"
            ><span>Contabilidad de registro de documentos por día</span></span
          ><span class="reportes-filtro-administrador-text031"
            ><span>Contabilidad de consultas de documentos por día</span></span
          ><span class="reportes-filtro-administrador-text033"
            ><span>alfredo.sgd</span></span
          ><span class="reportes-filtro-administrador-text035"
            ><span>alfredo.sgd</span></span
          ><span class="reportes-filtro-administrador-text037"
            ><span>alfredo.sgd</span></span
          ><span class="reportes-filtro-administrador-text039"
            ><span>alfredo.sgd</span></span
          ><span class="reportes-filtro-administrador-text041"
            ><span>01/02/2024</span></span
          ><span class="reportes-filtro-administrador-text043"
            ><span>04/02/2024</span></span
          ><span class="reportes-filtro-administrador-text045"
            ><span>05/02/2024</span></span
          ><span class="reportes-filtro-administrador-text047"
            ><span>05/02/2024</span></span
          ><span class="reportes-filtro-administrador-text049"
            ><span>Reporte</span></span
          ><span class="reportes-filtro-administrador-text051"
            ><span>Nombre</span></span
          ><span class="reportes-filtro-administrador-text053"
            ><span>Descripción</span></span
          ><span class="reportes-filtro-administrador-text055"
            ><span>Categoría</span></span
          ><span class="reportes-filtro-administrador-text057"
            ><span>Creador</span></span
          ><span class="reportes-filtro-administrador-text059"
            ><span>Plantilla</span></span
          ><span class="reportes-filtro-administrador-text061"
            ><span>Fecha creación</span></span
          ><img
            src="public/external/line97751-84sd.svg"
            alt="Line97751"
            class="reportes-filtro-administrador-line9"
          /><img
            src="public/external/line107751-k3zr.svg"
            alt="Line107751"
            class="reportes-filtro-administrador-line10"
          /><img
            src="public/external/line117751-cz5u.svg"
            alt="Line117751"
            class="reportes-filtro-administrador-line11"
          /><img
            src="public/external/line127751-hah7.svg"
            alt="Line127751"
            class="reportes-filtro-administrador-line12"
          /><img
            src="public/external/line137751-evf5.svg"
            alt="Line137751"
            class="reportes-filtro-administrador-line13"
          /><img
            src="public/external/line147751-y2z6.svg"
            alt="Line147751"
            class="reportes-filtro-administrador-line14"
          /><img
            src="public/external/line157751-kpx7.svg"
            alt="Line157751"
            class="reportes-filtro-administrador-line15"
          /><img
            src="public/external/line167751-viwn.svg"
            alt="Line167751"
            class="reportes-filtro-administrador-line16"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/2f724250-7ce4-40c5-8b86-6d0c7fa7e8a8?org_if_sml=112724&amp;force_format=original"
            alt="Rectangle217751"
            class="reportes-filtro-administrador-rectangle21"
          /><span class="reportes-filtro-administrador-text063"
            ><span>Filtrar</span></span
          ><span class="reportes-filtro-administrador-text065"
            ><span>Archivo</span></span
          ><span class="reportes-filtro-administrador-text067"
            ><span>Archivo</span></span
          ><span class="reportes-filtro-administrador-text069"
            ><span>Pagos</span></span
          ><span class="reportes-filtro-administrador-text071"
            ><span>Documentos</span></span
          ><span class="reportes-filtro-administrador-text073"
            ><span>Reportes</span></span
          ><span class="reportes-filtro-administrador-text075"
            ><span>Reportes</span></span
          ><span class="reportes-filtro-administrador-text077"
            ><span>Actividades</span></span
          ><span class="reportes-filtro-administrador-text079"
            ><span>Plantillas</span></span
          ><span class="reportes-filtro-administrador-text081"
            ><span>Departamentos</span></span
          ><span class="reportes-filtro-administrador-text083"
            ><span>Categorías</span></span
          ><span class="reportes-filtro-administrador-text085"
            ><span>Usuarios</span></span
          ><div
            class="reportes-filtro-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck"
            ><div
              class="reportes-filtro-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck1"
              ><img
                src="public/external/vector8319-dmc.svg"
                alt="Vector8319"
                class="reportes-filtro-administrador-vector04" /><img
                src="public/external/vector28311-onqm.svg"
                alt="Vector28311"
                class="reportes-filtro-administrador-vector204" /><img
                src="public/external/vector38311-1ue.svg"
                alt="Vector38311"
                class="reportes-filtro-administrador-vector304" /></div></div
          ><div
            class="reportes-filtro-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck2"
            ><div
              class="reportes-filtro-administrador-browsercheckcheckmarkpasswindowappcodesuccesscheck3"
              ><img
                src="public/external/vector8311-xz6n.svg"
                alt="Vector8311"
                class="reportes-filtro-administrador-vector05" /><img
                src="public/external/vector28311-k6x.svg"
                alt="Vector28311"
                class="reportes-filtro-administrador-vector205" /><img
                src="public/external/vector38311-fvxg.svg"
                alt="Vector38311"
                class="reportes-filtro-administrador-vector305" /></div></div
          ><div class="reportes-filtro-administrador-onefingerhold"
            ><div class="reportes-filtro-administrador-onefingerhold1"
              ><img
                src="public/external/ellipse508311-rv8s.svg"
                alt="Ellipse508311"
                class="reportes-filtro-administrador-ellipse50" /><img
                src="public/external/vector2258311-zp9fm.svg"
                alt="Vector2258311"
                class="reportes-filtro-administrador-vector225" /><img
                src="public/external/vector1078311-djp.svg"
                alt="Vector1078311"
                class="reportes-filtro-administrador-vector107" /><img
                src="public/external/ellipse3028311-7kp.svg"
                alt="Ellipse3028311"
                class="reportes-filtro-administrador-ellipse302" /></div></div
          ><div class="reportes-filtro-administrador-onefingerhold2"
            ><div class="reportes-filtro-administrador-onefingerhold3"
              ><img
                src="public/external/ellipse508311-0ey9.svg"
                alt="Ellipse508311"
                class="reportes-filtro-administrador-ellipse501" /><img
                src="public/external/vector2258311-5ee.svg"
                alt="Vector2258311"
                class="reportes-filtro-administrador-vector2251" /><img
                src="public/external/vector1078311-2d2p.svg"
                alt="Vector1078311"
                class="reportes-filtro-administrador-vector1071" /><img
                src="public/external/ellipse3028311-g75n.svg"
                alt="Ellipse3028311"
                class="reportes-filtro-administrador-ellipse3021" /></div></div
          ><div
            class="reportes-filtro-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche"
            ><div
              class="reportes-filtro-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche1"
              ><img
                src="public/external/vector8311-wehp.svg"
                alt="Vector8311"
                class="reportes-filtro-administrador-vector06" /><img
                src="public/external/vector28311-o2le.svg"
                alt="Vector28311"
                class="reportes-filtro-administrador-vector206" /><img
                src="public/external/vector38311-9exa.svg"
                alt="Vector38311"
                class="reportes-filtro-administrador-vector306" /></div></div
          ><div
            class="reportes-filtro-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche2"
            ><div
              class="reportes-filtro-administrador-clipboardcheckcheckmarkedittaskeditionchecklistche3"
              ><img
                src="public/external/vector8311-na5t.svg"
                alt="Vector8311"
                class="reportes-filtro-administrador-vector07" /><img
                src="public/external/vector28311-u72l.svg"
                alt="Vector28311"
                class="reportes-filtro-administrador-vector207" /><img
                src="public/external/vector38311-irck.svg"
                alt="Vector38311"
                class="reportes-filtro-administrador-vector307" /></div></div
          ><div
            class="reportes-filtro-administrador-newfileemptycommonfilecontent"
            ><div
              class="reportes-filtro-administrador-newfileemptycommonfilecontent1"
              ><img
                src="public/external/vector8311-4gr.svg"
                alt="Vector8311"
                class="reportes-filtro-administrador-vector08" /><img
                src="public/external/vector25298311-pgak.svg"
                alt="Vector25298311"
                class="reportes-filtro-administrador-vector2529" /></div></div
          ><div
            class="reportes-filtro-administrador-newfileemptycommonfilecontent2"
            ><div
              class="reportes-filtro-administrador-newfileemptycommonfilecontent3"
              ><img
                src="public/external/vector8311-iugn.svg"
                alt="Vector8311"
                class="reportes-filtro-administrador-vector09" /><img
                src="public/external/vector25298311-skue.svg"
                alt="Vector25298311"
                class="reportes-filtro-administrador-vector25291" /></div></div
          ><div
            class="reportes-filtro-administrador-usermultiplegroupclosegeometrichumanmultipleperson"
            ><div
              class="reportes-filtro-administrador-usermultiplegroupclosegeometrichumanmultipleperson1"
              ><img
                src="public/external/vector8311-10it.svg"
                alt="Vector8311"
                class="reportes-filtro-administrador-vector10" /><img
                src="public/external/vector28311-3yr.svg"
                alt="Vector28311"
                class="reportes-filtro-administrador-vector208" /><img
                src="public/external/vector38311-krm.svg"
                alt="Vector38311"
                class="reportes-filtro-administrador-vector308" /><img
                src="public/external/vector48311-ert.svg"
                alt="Vector48311"
                class="reportes-filtro-administrador-vector4" /></div></div
          ><div
            class="reportes-filtro-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn"
            ><div
              class="reportes-filtro-administrador-hierarchy2nodeorganizationlinksstructurelinknodesn1"
              ><img
                src="public/external/vector8311-l9j.svg"
                alt="Vector8311"
                class="reportes-filtro-administrador-vector11" /><img
                src="public/external/vector28311-tuw.svg"
                alt="Vector28311"
                class="reportes-filtro-administrador-vector209" /><img
                src="public/external/vector25218311-wxub.svg"
                alt="Vector25218311"
                class="reportes-filtro-administrador-vector2521" /><img
                src="public/external/vector25228311-a8gp.svg"
                alt="Vector25228311"
                class="reportes-filtro-administrador-vector2522" /><img
                src="public/external/vector25238311-m02v.svg"
                alt="Vector25238311"
                class="reportes-filtro-administrador-vector2523" /><img
                src="public/external/vector25248311-vlfr.svg"
                alt="Vector25248311"
                class="reportes-filtro-administrador-vector2524" /></div></div
          ><div
            class="reportes-filtro-administrador-layers2designlayerlayerspilestackalign"
            ><div
              class="reportes-filtro-administrador-layers2designlayerlayerspilestackalign1"
              ><img
                src="public/external/vector8311-u2iu.svg"
                alt="Vector8311"
                class="reportes-filtro-administrador-vector12" /><img
                src="public/external/vector28311-tyas.svg"
                alt="Vector28311"
                class="reportes-filtro-administrador-vector210" /><img
                src="public/external/vector38311-jpo9.svg"
                alt="Vector38311"
                class="reportes-filtro-administrador-vector309" /></div></div
          ><span class="reportes-filtro-administrador-text087"
            ><span>Archivo, Pagos</span></span
          ><span class="reportes-filtro-administrador-text089"
            ><span>Actas de Nacimiento</span></span
          ><span class="reportes-filtro-administrador-text091"
            ><span>Certificación legal</span></span
          ><span class="reportes-filtro-administrador-text093"
            ><span>Cheque</span></span
          ><span class="reportes-filtro-administrador-text095"
            ><span>Reportes</span></span
          ><span class="reportes-filtro-administrador-text097"
            ><span>Actas de Nacimiento, Fiscalización</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/01d65862-de34-4fc0-9a68-6e44e3fad9c2?org_if_sml=115071&amp;force_format=original"
            alt="Rectangle227751"
            class="reportes-filtro-administrador-rectangle22"
          /><span class="reportes-filtro-administrador-text099"
            ><span>Crear reporte</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/127caf4c-127e-44e4-8567-3effca7f9e2d?org_if_sml=110544&amp;force_format=original"
            alt="Rectangle237751"
            class="reportes-filtro-administrador-rectangle23"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/bff0e344-b224-45e2-8ebb-659a046b2798?org_if_sml=116203&amp;force_format=original"
            alt="Rectangle67751"
            class="reportes-filtro-administrador-rectangle6"
          /><span class="reportes-filtro-administrador-text101"
            ><span>Hasta</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/fbf1b3b6-3552-4766-ab9e-8f9bdc3a1249?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle287751"
            class="reportes-filtro-administrador-rectangle28"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/b695f958-bf51-4c02-b2c8-f075790fd9a6?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle307751"
            class="reportes-filtro-administrador-rectangle30"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/51c8d4b5-6646-45af-9183-3ade1aed2997?org_if_sml=14211&amp;force_format=original"
            alt="Rectangle297751"
            class="reportes-filtro-administrador-rectangle29"
          /><span class="reportes-filtro-administrador-text103"
            ><span>dd/MM/YYYY</span></span
          ><span class="reportes-filtro-administrador-text105"
            ><span>Desde</span></span
          ><span class="reportes-filtro-administrador-text107"
            ><span>Plantilla</span></span
          ><span class="reportes-filtro-administrador-text109"
            ><span>dd/MM/YYYY</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/6f404243-81a4-46d6-be54-cd9d73c32c4b?org_if_sml=112713&amp;force_format=original"
            alt="Rectangle317751"
            class="reportes-filtro-administrador-rectangle31"
          /><span class="reportes-filtro-administrador-text111"
            ><span>Aceptar</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/abbd723b-b9f2-4462-bd57-33d6bfaa355d?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle247751"
            class="reportes-filtro-administrador-rectangle24"
          /><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/f46b2147-da14-4143-9060-3db7b73f7d16?org_if_sml=14161&amp;force_format=original"
            alt="Rectangle277751"
            class="reportes-filtro-administrador-rectangle27"
          /><div class="reportes-filtro-administrador-close-close-big"
            ><img
              src="public/external/svgstrokedi775-zva.svg"
              alt="SVGSTROKEDI775"
              class="reportes-filtro-administrador-svgstroked" /></div
          ><span class="reportes-filtro-administrador-text113"
            ><span>Filtrar reportes</span></span
          ><img
            src="public/external/line57751-0c6.svg"
            alt="Line57751"
            class="reportes-filtro-administrador-line5"
          /><span class="reportes-filtro-administrador-text115"
            ><span>Nombre</span></span
          ><span class="reportes-filtro-administrador-text117"
            ><span>Categoría</span></span
          ><span class="reportes-filtro-administrador-text119"
            ><span>Creador</span></span
          ><img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cc1d7bfc-5f9e-4c87-9570-7ce91a9dd12c/a090da2a-d800-4724-9d9d-7cb0669458f6?org_if_sml=14211&amp;force_format=original"
            alt="Rectangle267751"
            class="reportes-filtro-administrador-rectangle26"
          /><span class="reportes-filtro-administrador-text121"
            ><span>Nombre del usuario</span></span
          ><span class="reportes-filtro-administrador-text123"
            ><span>Nombre de la categoría</span></span
          ><span class="reportes-filtro-administrador-text125"
            ><span>Nombre del reporte</span></span
          ><span class="reportes-filtro-administrador-text127"
            ><span>Nombre de la plantilla</span></span
          ></div
        ></div
      ></div
    >
  </body></html
>
